/* Basic Styling */
/*App Color Palette */
/*------------------------------------*\
	App Color Palette
\*------------------------------------*/
.gradely-blue {
  color: #11BDCF !important;
}

.gradely-blue-bg {
  background-color: #11BDCF !important;
}

.title-black {
  color: #1a1919 !important;
}

.title-black-bg {
  background-color: #1a1919 !important;
}

.label-black {
  color: #757575 !important;
}

.label-black-bg {
  background-color: #757575 !important;
}

.navy-blue {
  color: #113255 !important;
}

.navy-blue-bg {
  background-color: #113255 !important;
}

.orange-light {
  color: #FAA017 !important;
}

.orange-light-bg {
  background-color: #FAA017 !important;
}

.cyan-light {
  color: #DBF5F8 !important;
}

.cyan-light-bg {
  background-color: #DBF5F8 !important;
}

.navy-blue-light {
  color: #2A4F77 !important;
}

.navy-blue-light-bg {
  background-color: #2A4F77 !important;
}

.gradely-teal {
  color: #60D2B0 !important;
}

.gradely-teal-bg {
  background-color: #60D2B0 !important;
}

.dark-ash {
  color: #555555 !important;
}

.dark-ash-bg {
  background-color: #555555 !important;
}

.off-white-light {
  color: #ececec !important;
}

.off-white-light-bg {
  background-color: #ececec !important;
}

.off-white-dark {
  color: #bebdbd !important;
}

.off-white-dark-bg {
  background-color: #bebdbd !important;
}

/*-----------------------*\
	TRANSPARENT BG
\*-----------------------*/
.transparent-bg {
  background-color: transparent !important;
}

/*------------------------------------*\
	Social Brand Color Palette
\*------------------------------------*/
.facebook {
  color: #365396 !important;
}

.facebook-bg {
  background-color: #365396 !important;
}

.twitter {
  color: #00a8f0 !important;
}

.twitter-bg {
  background-color: #00a8f0 !important;
}

.linkedin {
  color: #006eb3 !important;
}

.linkedin-bg {
  background-color: #006eb3 !important;
}

.apple {
  color: #737373 !important;
}

.apple-bg {
  background-color: #737373 !important;
}

.google {
  color: #4387f4 !important;
}

.google-bg {
  background-color: #4387f4 !important;
}

.google-plus {
  color: #e0462e !important;
}

.google-plus-bg {
  background-color: #e0462e !important;
}

.youtube {
  color: #ff3333 !important;
}

.youtube-bg {
  background-color: #ff3333 !important;
}

.vimeo {
  color: #4ab7ed !important;
}

.vimeo-bg {
  background-color: #4ab7ed !important;
}

.pinterest {
  color: #cc1919 !important;
}

.pinterest-bg {
  background-color: #cc1919 !important;
}

.yelp {
  color: #c21000 !important;
}

.yelp-bg {
  background-color: #c21000 !important;
}

.dribble {
  color: #ed4583 !important;
}

.dribble-bg {
  background-color: #ed4583 !important;
}

.amazon {
  color: #ff9900 !important;
}

.amazon-bg {
  background-color: #ff9900 !important;
}

.ebay {
  color: #083891 !important;
}

.ebay-bg {
  background-color: #083891 !important;
}

.skype {
  color: #00abf5 !important;
}

.skype-bg {
  background-color: #00abf5 !important;
}

.instagram {
  color: #386c99 !important;
}

.instagram-bg {
  background-color: #386c99 !important;
}

.dropbox {
  color: #0d83de !important;
}

.dropbox-bg {
  background-color: #0d83de !important;
}

.flickr {
  color: #eb0066 !important;
}

.flickr-bg {
  background-color: #eb0066 !important;
}

.github {
  color: #2e2e2e !important;
}

.github-bg {
  background-color: #2e2e2e !important;
}

.basecamp {
  color: #6bbd6d !important;
}

.basecamp-bg {
  background-color: #6bbd6d !important;
}

.tumblr {
  color: #304d69 !important;
}

.tumblr-bg {
  background-color: #304d69 !important;
}

.foursquare {
  color: #207ec5 !important;
}

.foursquare-bg {
  background-color: #207ec5 !important;
}

.box {
  color: #1177bb !important;
}

.box-bg {
  background-color: #1177bb !important;
}

/*App Font*/
@font-face {
  font-family: 'Noto Sans';
  src: local(NotoSans-Regular);
  src: url("../fonts/NotoSans.ttf") format("truetype");
}

@font-face {
  font-family: 'Questrial';
  src: local(Questrial-Regular);
  src: url("../fonts/Questrial.otf") format("opentype");
}

body {
  font-family: Noto Sans;
}

/*Breakpoint Style*/
/*Mixin Style*/
/* ===================
FULL WIDTH AND HEIGHT
======================= */
/* ==============
FLEX ROW CENTER
================== */
/* ==============
FLEX ROW BETWEEN
================== */
/* ==================
FLEX COLUMN CENTER
==================== */
/* =================
FLEX COLUMN BETWEEN
==================== */
/* =================
TRANSFORM CENTER
==================== */
/*Helper Style*/
/* ==========================================================
Remove Chrome Input Field's Unwanted Yellow Background Color
============================================================= */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 62.5rem #E0F7FA inset !important;
  box-shadow: 0 0 0 62.5rem #E0F7FA inset !important;
}

/* ===================
Border Radius
======================= */
.rounded-5 {
  -webkit-border-radius: 0.3125rem !important;
     -moz-border-radius: 0.3125rem !important;
          border-radius: 0.3125rem !important;
}

.rounded-10 {
  -webkit-border-radius: 0.625rem !important;
     -moz-border-radius: 0.625rem !important;
          border-radius: 0.625rem !important;
}

.rounded-15 {
  -webkit-border-radius: 0.9375rem !important;
     -moz-border-radius: 0.9375rem !important;
          border-radius: 0.9375rem !important;
}

.rounded-20 {
  -webkit-border-radius: 1.25rem !important;
     -moz-border-radius: 1.25rem !important;
          border-radius: 1.25rem !important;
}

.rounded-25 {
  -webkit-border-radius: 1.5625rem !important;
     -moz-border-radius: 1.5625rem !important;
          border-radius: 1.5625rem !important;
}

.rounded-30 {
  -webkit-border-radius: 1.875rem !important;
     -moz-border-radius: 1.875rem !important;
          border-radius: 1.875rem !important;
}

.rounded-top-5 {
  -webkit-border-radius: 0.3125rem 0.3125rem 0 0 !important;
     -moz-border-radius: 0.3125rem 0.3125rem 0 0 !important;
          border-radius: 0.3125rem 0.3125rem 0 0 !important;
}

.rounded-top-10 {
  -webkit-border-radius: 0.625rem 0.625rem 0 0 !important;
     -moz-border-radius: 0.625rem 0.625rem 0 0 !important;
          border-radius: 0.625rem 0.625rem 0 0 !important;
}

.rounded-top-15 {
  -webkit-border-radius: 0.9375rem 0.9375rem 0 0 !important;
     -moz-border-radius: 0.9375rem 0.9375rem 0 0 !important;
          border-radius: 0.9375rem 0.9375rem 0 0 !important;
}

.rounded-top-20 {
  -webkit-border-radius: 1.25rem 1.25rem 0 0 !important;
     -moz-border-radius: 1.25rem 1.25rem 0 0 !important;
          border-radius: 1.25rem 1.25rem 0 0 !important;
}

.rounded-top-25 {
  -webkit-border-radius: 1.5625rem 1.5625rem 0 0 !important;
     -moz-border-radius: 1.5625rem 1.5625rem 0 0 !important;
          border-radius: 1.5625rem 1.5625rem 0 0 !important;
}

.rounded-top-30 {
  -webkit-border-radius: 1.875rem 1.875rem 0 0 !important;
     -moz-border-radius: 1.875rem 1.875rem 0 0 !important;
          border-radius: 1.875rem 1.875rem 0 0 !important;
}

.rounded-bottom-5 {
  -webkit-border-radius: 0 0 0.3125rem 0.3125rem !important;
     -moz-border-radius: 0 0 0.3125rem 0.3125rem !important;
          border-radius: 0 0 0.3125rem 0.3125rem !important;
}

.rounded-bottom-10 {
  -webkit-border-radius: 0 0 0.625rem 0.625rem !important;
     -moz-border-radius: 0 0 0.625rem 0.625rem !important;
          border-radius: 0 0 0.625rem 0.625rem !important;
}

.rounded-bottom-15 {
  -webkit-border-radius: 0 0 0.9375rem 0.9375rem !important;
     -moz-border-radius: 0 0 0.9375rem 0.9375rem !important;
          border-radius: 0 0 0.9375rem 0.9375rem !important;
}

.rounded-bottom-20 {
  -webkit-border-radius: 0 0 1.25rem 1.25rem !important;
     -moz-border-radius: 0 0 1.25rem 1.25rem !important;
          border-radius: 0 0 1.25rem 1.25rem !important;
}

.rounded-bottom-25 {
  -webkit-border-radius: 0 0 1.5625rem 1.5625rem !important;
     -moz-border-radius: 0 0 1.5625rem 1.5625rem !important;
          border-radius: 0 0 1.5625rem 1.5625rem !important;
}

.rounded-bottom-30 {
  -webkit-border-radius: 0 0 1.875rem 1.875rem !important;
     -moz-border-radius: 0 0 1.875rem 1.875rem !important;
          border-radius: 0 0 1.875rem 1.875rem !important;
}

/* ===================
Font Sizes
======================= */
.font-10 {
  font-size: 0.625rem !important;
}

.font-10-5 {
  font-size: 0.65625rem !important;
}

.font-11 {
  font-size: 0.6875rem !important;
}

.font-11-5 {
  font-size: 0.71875rem !important;
}

.font-12 {
  font-size: 0.75rem !important;
}

.font-12-5 {
  font-size: 0.78125rem !important;
}

.font-13 {
  font-size: 0.8125rem !important;
}

.font-13-5 {
  font-size: 0.84375rem !important;
}

.font-14 {
  font-size: 0.875rem !important;
}

.font-14-5 {
  font-size: 0.90625rem !important;
}

.font-15 {
  font-size: 0.9375rem !important;
}

.font-15-5 {
  font-size: 0.96875rem !important;
}

/* ===================
Font Weight
======================= */
.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

/* ===================
Indexing
======================= */
.index-1 {
  z-index: 1;
}

.index--1 {
  z-index: -1;
}

.index-9 {
  z-index: 9;
}

.index--9 {
  z-index: -9;
}

.index-99 {
  z-index: 99;
}

.index--99 {
  z-index: -99;
}

.index-999 {
  z-index: 999;
}

.index--999 {
  z-index: -999;
}

/* ========================
Cursor, Selection and Link
============================ */
.pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.link-underline {
  text-decoration: underline;
}

/* ===================
Scroll-bar properties
======================= */
::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.5);
  background-color: #11BDCF !important;
}

/* =================
    Form Placeholder
==================== */
form ::-webkit-input-placeholder {
  font-size: 0.7813rem;
  color: #727da5;
}
form :-moz-placeholder {
  font-size: 0.7813rem;
  color: #727da5;
}
form ::-moz-placeholder {
  font-size: 0.7813rem;
  color: #727da5;
}
form :-ms-input-placeholder {
  font-size: 0.7813rem;
  color: #727da5;
}
form ::-ms-input-placeholder {
  font-size: 0.7813rem;
  color: #727da5;
}
form ::placeholder {
  font-size: 0.7813rem;
  color: #727da5;
}

form .form-control:focus {
  -webkit-box-shadow: 0 0 0 0.0625rem rgba(0, 123, 255, 0.25) !important;
     -moz-box-shadow: 0 0 0 0.0625rem rgba(0, 123, 255, 0.25) !important;
          box-shadow: 0 0 0 0.0625rem rgba(0, 123, 255, 0.25) !important;
}

form .custom-select:focus {
  -webkit-box-shadow: 0 0 0 0.0625rem rgba(0, 123, 255, 0.25) !important;
     -moz-box-shadow: 0 0 0 0.0625rem rgba(0, 123, 255, 0.25) !important;
          box-shadow: 0 0 0 0.0625rem rgba(0, 123, 255, 0.25) !important;
}

form .md-form label {
  font-size: 0.8125rem !important;
}

form .md-form label .active {
  font-size: 0.7188rem !important;
}

form .md-form .form-control {
  font-size: 0.8125rem !important;
  padding: 0.1875rem 0 0.4688rem 0.125rem;
}

form .md-form .form-control:focus {
  border: 0px;
  outline: 0;
  -webkit-box-shadow: 0 0 0px #fff !important;
     -moz-box-shadow: 0 0 0px #fff !important;
          box-shadow: 0 0 0px #fff !important;
}

form .md-form .active {
  color: #11BDCF !important;
}

/* School Styling */
/*Signup Page Styling */
.signup-section {
  width: 100%;
  height: 100vh;
}

.signup-section .container-row {
  height: 100vh;
}

.signup-section .container-row .left-pane {
  height: 100vh;
}

.signup-section .container-row .left-pane .left-pane-content {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.signup-section .container-row .left-pane .pane-img-overlay {
  background: #11BDCF;
  mix-blend-mode: normal;
  opacity: .9;
}

.signup-section .container-row .left-pane .content-box {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.signup-section .container-row .left-pane .content-box .content {
  width: 100%;
}

.signup-section .container-row .left-pane .content-box .content .section-one {
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  text-transform: uppercase;
  color: #113255;
  /* EXTRA LARGE DEVICE */
}

@media only screen and (max-width: 1200px) {
  .signup-section .container-row .left-pane .content-box .content .section-one {
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
}

.signup-section .container-row .left-pane .content-box .content .section-two {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 1.375rem;
  letter-spacing: .03em;
  /* EXTRA LARGE DEVICE */
}

@media only screen and (max-width: 1200px) {
  .signup-section .container-row .left-pane .content-box .content .section-two {
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: .012em;
  }
}

.signup-section .container-row .left-pane .content-box .content .section-three {
  font-size: 0.9375rem;
  color: #1a1919;
  font-weight: 400;
  /* EXTRA LARGE DEVICE */
}

.signup-section .container-row .left-pane .content-box .content .section-three li {
  margin-bottom: 0.875rem;
}

@media only screen and (max-width: 1200px) {
  .signup-section .container-row .left-pane .content-box .content .section-three {
    font-size: 0.7813rem;
  }
  .signup-section .container-row .left-pane .content-box .content .section-three li {
    margin-bottom: 0.75rem;
  }
}

.signup-section .container-row .right-pane {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.signup-section .container-row .right-pane .right-pane-content {
  padding: 5% 0;
  width: 50%;
  /* EXTRA LARGE DEVICE */
  /* LARGE DEVICE */
  /* MEDIUM DEVICE */
  /* SMALL DEVICE */
  /* EXTRA SMALL DEVICE */
}

@media only screen and (max-width: 1200px) {
  .signup-section .container-row .right-pane .right-pane-content {
    padding: 10% 0;
    width: 68%;
  }
}

@media only screen and (max-width: 992px) {
  .signup-section .container-row .right-pane .right-pane-content {
    width: 78%;
  }
}

@media only screen and (max-width: 768px) {
  .signup-section .container-row .right-pane .right-pane-content {
    width: 60%;
  }
}

@media only screen and (max-width: 576px) {
  .signup-section .container-row .right-pane .right-pane-content {
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  .signup-section .container-row .right-pane .right-pane-content {
    width: 90%;
  }
}

.signup-section .container-row .right-pane .right-pane-content .brand-mockup {
  left: 0;
  width: 10.9375rem;
  height: 2.875rem;
  margin-bottom: 0.75rem;
  /* EXTRA LARGE DEVICE */
  /* MEDIUM DEVICE */
  /* SMALL DEVICE */
  /* EXTRA SMALL DEVICE */
}

.signup-section .container-row .right-pane .right-pane-content .brand-mockup img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1200px) {
  .signup-section .container-row .right-pane .right-pane-content .brand-mockup {
    width: 8.75rem;
    height: 2.375rem;
  }
}

@media only screen and (max-width: 768px) {
  .signup-section .container-row .right-pane .right-pane-content .brand-mockup {
    width: 9.375rem;
    height: 2.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .signup-section .container-row .right-pane .right-pane-content .brand-mockup {
    height: 2.625rem;
  }
}

@media only screen and (max-width: 450px) {
  .signup-section .container-row .right-pane .right-pane-content .brand-mockup {
    width: 8.75rem;
    height: 2.1875rem;
  }
}

.signup-section .container-row .right-pane .right-pane-content .section-one {
  margin-bottom: 0.8125rem;
  /* EXTRA LARGE DEVICE */
  /* MEDIUM DEVICE */
  /* SMALL DEVICE */
  /* EXTRA SMALL DEVICE */
}

.signup-section .container-row .right-pane .right-pane-content .section-one h3 {
  font-family: Questrial;
  font-weight: 600;
  font-size: 1.311rem;
  line-height: 1.5625rem;
  color: #1a1919;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 1200px) {
  .signup-section .container-row .right-pane .right-pane-content .section-one {
    margin-bottom: 0.75rem;
  }
  .signup-section .container-row .right-pane .right-pane-content .section-one h3 {
    font-weight: 500;
    font-size: 0.9688rem;
    line-height: 1.25rem;
    letter-spacing: 0.03em;
  }
}

@media only screen and (max-width: 768px) {
  .signup-section .container-row .right-pane .right-pane-content .section-one h3 {
    font-size: 1.0625rem;
  }
}

@media only screen and (max-width: 576px) {
  .signup-section .container-row .right-pane .right-pane-content .section-one h3 {
    font-size: 1.0313rem;
  }
}

@media only screen and (max-width: 450px) {
  .signup-section .container-row .right-pane .right-pane-content .section-one {
    margin-bottom: 0.625rem;
  }
  .signup-section .container-row .right-pane .right-pane-content .section-one h3 {
    font-size: 1rem;
  }
}

.signup-section .container-row .right-pane .right-pane-content .section-two h4 {
  font-weight: normal;
  font-size: 0.85rem;
  line-height: 1.25rem;
  letter-spacing: 0.05em;
  /* MEDIUM DEVICE */
  /* MEDIUM DEVICE */
  /* SMALL DEVICE */
  /* EXTRA SMALL DEVICE */
}

@media only screen and (max-width: 1200px) {
  .signup-section .container-row .right-pane .right-pane-content .section-two h4 {
    font-size: 0.7813rem;
    line-height: 0.75rem;
    letter-spacing: 0.03em;
  }
}

@media only screen and (max-width: 768px) {
  .signup-section .container-row .right-pane .right-pane-content .section-two h4 {
    font-size: 0.8438rem;
  }
}

@media only screen and (max-width: 576px) {
  .signup-section .container-row .right-pane .right-pane-content .section-two h4 {
    font-size: 0.8125rem;
  }
}

@media only screen and (max-width: 450px) {
  .signup-section .container-row .right-pane .right-pane-content .section-two h4 {
    font-size: 0.75rem;
    line-height: 0.8125rem;
  }
}

.signup-section .container-row .right-pane .right-pane-content .section-three {
  margin-top: 1.25rem;
}

.signup-section .container-row .right-pane .right-pane-content .section-three form {
  /* EXTRA LARGE DEVICE */
  /* MEDIUM DEVICE */
  /* SMALL DEVICE */
  /* EXTRA SMALL DEVICE */
}

.signup-section .container-row .right-pane .right-pane-content .section-three form label {
  font-weight: 500;
  font-size: 0.691rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #757575;
  /* EXTRA LARGE DEVICE */
  /* MEDIUM DEVICE */
  /* SMALL DEVICE */
  /* EXTRA SMALL DEVICE */
}

@media only screen and (max-width: 1200px) {
  .signup-section .container-row .right-pane .right-pane-content .section-three form label {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.875rem;
  }
}

@media only screen and (max-width: 768px) {
  .signup-section .container-row .right-pane .right-pane-content .section-three form label {
    font-size: 0.6719rem;
  }
}

@media only screen and (max-width: 576px) {
  .signup-section .container-row .right-pane .right-pane-content .section-three form label {
    font-size: 0.6563rem;
  }
}

@media only screen and (max-width: 450px) {
  .signup-section .container-row .right-pane .right-pane-content .section-three form label {
    font-size: 0.625rem;
  }
}

.signup-section .container-row .right-pane .right-pane-content .section-three form .fullname {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  /* LARGE DEVICE */
}

.signup-section .container-row .right-pane .right-pane-content .section-three form .fullname .firstname, .signup-section .container-row .right-pane .right-pane-content .section-three form .fullname .lastname {
  width: 48%;
}

@media only screen and (max-width: 992px) {
  .signup-section .container-row .right-pane .right-pane-content .section-three form .fullname {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .signup-section .container-row .right-pane .right-pane-content .section-three form .fullname .firstname, .signup-section .container-row .right-pane .right-pane-content .section-three form .fullname .lastname {
    width: 100%;
  }
  .signup-section .container-row .right-pane .right-pane-content .section-three form .fullname .lastname {
    margin-top: 0.9375rem;
  }
}

@media only screen and (max-width: 1200px) {
  .signup-section .container-row .right-pane .right-pane-content .section-three form input, .signup-section .container-row .right-pane .right-pane-content .section-three form .input-group-text {
    font-size: 0.75rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .signup-section .container-row .right-pane .right-pane-content .section-three form input, .signup-section .container-row .right-pane .right-pane-content .section-three form .input-group-text {
    font-size: 0.7969rem !important;
  }
}

@media only screen and (max-width: 576px) {
  .signup-section .container-row .right-pane .right-pane-content .section-three form input, .signup-section .container-row .right-pane .right-pane-content .section-three form .input-group-text {
    font-size: 0.7813rem !important;
  }
}

@media only screen and (max-width: 450px) {
  .signup-section .container-row .right-pane .right-pane-content .section-three form input, .signup-section .container-row .right-pane .right-pane-content .section-three form .input-group-text {
    font-size: 0.75rem !important;
  }
}

.signup-section .container-row .right-pane .right-pane-content .section-three form button {
  padding: 0.75rem 2.1875rem !important;
  font-size: 0.6875rem !important;
  /* EXTRA LARGE DEVICE */
  /* LARGE DEVICE */
  /* MEDIUM DEVICE */
  /* EXTRA SMALL DEVICE */
}

@media only screen and (max-width: 1200px) {
  .signup-section .container-row .right-pane .right-pane-content .section-three form button {
    font-weight: 600 !important;
    padding: 0.75rem 1.5625rem !important;
    font-size: 0.6875rem !important;
  }
}

@media only screen and (max-width: 992px) {
  .signup-section .container-row .right-pane .right-pane-content .section-three form button {
    font-size: 9px !important;
  }
}

@media only screen and (max-width: 768px) {
  .signup-section .container-row .right-pane .right-pane-content .section-three form button {
    font-size: 0.625rem !important;
  }
}

@media only screen and (max-width: 450px) {
  .signup-section .container-row .right-pane .right-pane-content .section-three form button {
    font-size: 0.5625rem !important;
  }
}

/* Setup Page Styling */
.setup-section .setup-form-row .card-block .card-top .form-content .curriculums .curriculum, .setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style, .setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .structure {
  height: auto;
  width: 100%;
  border: 0.0625rem solid #bebdbd;
  background: #fff;
  margin-bottom: 0.375rem;
  padding: 0.625rem 1.0313rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .curriculums .curriculum .curriculum-content .curriculum-title, .setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style .style-content .style-title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.3125rem;
}

@media only screen and (max-width: 992px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .curriculums .curriculum .curriculum-content .curriculum-title, .setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style .style-content .style-title {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
}

@media only screen and (max-width: 576px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .curriculums .curriculum .curriculum-content .curriculum-title, .setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style .style-content .style-title {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .curriculums .curriculum .curriculum-content .curriculum-text, .setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style .style-content .style-text {
  font-size: 0.75rem;
  line-height: 1.0625rem;
}

@media only screen and (max-width: 992px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .curriculums .curriculum .curriculum-content .curriculum-text, .setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style .style-content .style-text {
    font-size: 0.7125rem;
    line-height: 1rem;
  }
}

.setup-section {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.setup-section .title-row {
  margin-top: 3.125rem;
}

.setup-section .title-row .title-block .setup-title {
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 2.375rem;
}

@media only screen and (max-width: 992px) {
  .setup-section .title-row .title-block .setup-title {
    font-size: 1.5rem;
    line-height: 2.125rem;
  }
}

@media only screen and (max-width: 576px) {
  .setup-section .title-row .title-block .setup-title {
    font-size: 1.4375rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .setup-section .title-row .title-block .setup-title {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}

.setup-section .title-row .title-block .setup-nav-block .setup-nav {
  min-width: 0.625rem;
  min-height: 0.625rem;
  width: 0.625rem;
  height: 0.625rem;
  background-color: #bebdbd;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  margin: 0 0.2047rem;
}

@media only screen and (max-width: 992px) {
  .setup-section .title-row .title-block .setup-nav-block .setup-nav {
    min-width: 0.5625rem;
    min-height: 0.5625rem;
    width: 0.5625rem;
    height: 0.5625rem;
    margin: 0 0.1875rem;
  }
}

.setup-section .title-row .title-block .setup-nav-block .active {
  background-color: #FAA017;
}

.setup-section .setup-form-row {
  margin-top: 1.875rem;
}

.setup-section .setup-form-row .card-block {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
}

.setup-section .setup-form-row .card-block .card-top .form-content {
  margin: 2.1875rem auto 1.875rem;
  padding: auto 0 !important;
}

@media only screen and (max-width: 992px) {
  .setup-section .setup-form-row .card-block .card-top .form-content {
    margin: 1.75rem auto 1.375rem;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .form-title {
  font-size: 1.0625rem;
  line-height: 1.375rem;
  margin-bottom: 1.5625rem;
}

@media only screen and (max-width: 992px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .form-title {
    font-size: 0.9375rem;
    line-height: 1.125rem;
    margin-bottom: 1.25rem;
  }
}

@media only screen and (max-width: 450px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .form-title {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content p {
  font-size: 0.8125rem;
  line-height: 150%;
  margin-top: -10px;
}

@media only screen and (max-width: 768px) {
  .setup-section .setup-form-row .card-block .card-top .form-content p {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 576px) {
  .setup-section .setup-form-row .card-block .card-top .form-content p {
    margin: -0.5rem 20px auto;
  }
}

@media only screen and (max-width: 450px) {
  .setup-section .setup-form-row .card-block .card-top .form-content p {
    margin: -0.5rem 0.3125rem auto;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .curriculums .curriculum .checkbox {
  margin-right: 0.9375rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .curriculums .curriculum .checkbox .check-input {
  min-width: 0.9375rem;
  min-height: 0.9375rem;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 0.0313rem solid #8b8a8a;
  -webkit-border-radius: 0.1875rem;
     -moz-border-radius: 0.1875rem;
          border-radius: 0.1875rem;
  margin-top: 0.25rem;
}

@media only screen and (max-width: 992px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .curriculums .curriculum .checkbox .check-input {
    min-width: 0.75rem;
    min-height: 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .curriculums .curriculum .checkbox .checked {
  background: #FAA017;
  border: 0.0313rem solid #FAA017;
}

.setup-section .setup-form-row .card-block .card-top .form-content .curriculums .curriculum:hover {
  cursor: pointer;
  background: rgba(219, 245, 248, 0.6);
}

.setup-section .setup-form-row .card-block .card-top .form-content .curriculums .selected {
  border: 0.0625rem solid #FAA017 !important;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group {
  height: auto;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group label {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  padding: 0 0.5rem;
}

@media only screen and (max-width: 768px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group label {
    font-size: 0.6875rem;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .select {
  font-size: 13px;
  padding: 7px 10px;
  border: 1px solid #bebdbd;
  color: #757575;
  background: #fff;
  z-index: 999;
  margin: auto 9px;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .select:hover {
  cursor: pointer;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .select:after {
  content: "";
  min-width: 0.625rem;
  min-height: 0.625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.0813rem solid #1a1919;
  border-right: 0.0813rem solid #1a1919;
  position: absolute;
  top: 42%;
  right: 3.5%;
  -webkit-transform: translateY(-50%) rotate(135deg);
     -moz-transform: translateY(-50%) rotate(135deg);
      -ms-transform: translateY(-50%) rotate(135deg);
       -o-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out, -moz-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out, -moz-transform .3s ease-in-out, -o-transform .3s ease-in-out;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .option {
  border: 1px solid #bebdbd;
  font-size: 13px;
  color: #757575;
  margin: auto 9px;
  position: relative;
  z-index: 9;
  top: -20px;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .option .option-text {
  padding: 5px 10px;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .option .option-text:hover {
  background-color: #DBF5F8;
  cursor: pointer;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .selected {
  border: 1px solid #FAA017;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .selected:after {
  border-top: 0.0938rem solid #FAA017;
  border-right: 0.0938rem solid #FAA017;
  top: 52%;
  -webkit-transform: translateY(-50%) rotate(315deg);
     -moz-transform: translateY(-50%) rotate(315deg);
      -ms-transform: translateY(-50%) rotate(315deg);
       -o-transform: translateY(-50%) rotate(315deg);
          transform: translateY(-50%) rotate(315deg);
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .clicked {
  top: 0;
  height: auto;
  visibility: visible;
  overflow: auto;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style .radiobtn {
  margin-right: 0.9375rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style .radiobtn .radio-input {
  min-width: 1rem;
  min-height: 1rem;
  width: 1rem;
  height: 1rem;
  border: 0.0313rem solid #8b8a8a;
  margin-top: 0.25rem;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

@media only screen and (max-width: 992px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style .radiobtn .radio-input {
    min-width: 0.8125rem;
    min-height: 0.8125rem;
    width: 0.8125rem;
    height: 0.8125rem;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style .radiobtn .style_checked {
  border: 0.0313rem solid #FAA017;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style .radiobtn .style_checked:after {
  content: "";
  min-width: 0.5rem;
  min-height: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #FAA017;
}

@media only screen and (max-width: 992px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style .radiobtn .style_checked:after {
    min-width: 0.3125rem;
    min-height: 0.3125rem;
    width: 0.3125rem;
    height: 0.3125rem;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style:hover {
  cursor: pointer;
  background: rgba(219, 245, 248, 0.6);
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .naming-style .style_selected {
  border: 0.0625rem solid #FAA017 !important;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .structure {
  border: 0rem solid transparent;
  padding: 3px 0.5rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .structure .radiobtn {
  margin-right: 0.9375rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .structure .radiobtn .radio-input {
  min-width: 1rem;
  min-height: 1rem;
  width: 1rem;
  height: 1rem;
  border: 0.0313rem solid #8b8a8a;
  margin-top: -0.0625rem;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

@media only screen and (max-width: 992px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .structure .radiobtn .radio-input {
    min-width: 0.8125rem;
    min-height: 0.8125rem;
    width: 0.8125rem;
    height: 0.8125rem;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .structure .radiobtn .style_checked {
  border: 0.0313rem solid #FAA017;
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .structure .radiobtn .style_checked:after {
  content: "";
  min-width: 0.5rem;
  min-height: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #FAA017;
}

@media only screen and (max-width: 992px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .structure .radiobtn .style_checked:after {
    min-width: 0.3125rem;
    min-height: 0.3125rem;
    width: 0.3125rem;
    height: 0.3125rem;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .structure .structure-text {
  font-size: 0.8125rem;
  line-height: 1rem;
}

@media only screen and (max-width: 576px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .classes .form-group .structure .structure-text {
    font-size: 0.75rem;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .class-template {
  margin-top: 40px;
}

.setup-section .setup-form-row .card-block .card-top .form-content .class-template .label-half {
  width: 40%;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.8125rem;
}

@media only screen and (max-width: 992px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .class-template .label-half {
    width: 35%;
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
}

@media only screen and (max-width: 768px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .class-template .label-half {
    font-weight: 600;
    font-size: 0.6875rem;
    padding-left: 0.625rem;
  }
}

@media only screen and (max-width: 450px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .class-template .label-half {
    font-size: 0.625rem;
    padding-left: 0;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .class-template .text-half {
  width: 60%;
  font-weight: 600;
  font-size: 0.7937rem;
  line-height: 0.875rem;
}

@media only screen and (max-width: 992px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .class-template .text-half {
    width: 65%;
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 768px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .class-template .text-half {
    font-size: 0.8125rem;
    padding-right: 0.625rem;
  }
}

@media only screen and (max-width: 450px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .class-template .text-half {
    font-size: 0.6875rem;
    padding-right: 0;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .class-template .input-half input {
  color: #757575;
  font-size: 0.8125rem;
}

@media only screen and (max-width: 450px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .class-template .input-half input {
    font-size: 0.6875rem;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .class-template .input-half input::-webkit-input-placeholder {
  color: #757575;
}

.setup-section .setup-form-row .card-block .card-top .form-content .class-template .input-half input:-moz-placeholder {
  color: #757575;
}

.setup-section .setup-form-row .card-block .card-top .form-content .class-template .input-half input::-moz-placeholder {
  color: #757575;
}

.setup-section .setup-form-row .card-block .card-top .form-content .class-template .input-half input:-ms-input-placeholder {
  color: #757575;
}

.setup-section .setup-form-row .card-block .card-top .form-content .class-template .input-half input::-ms-input-placeholder {
  color: #757575;
}

.setup-section .setup-form-row .card-block .card-top .form-content .class-template .input-half input::placeholder {
  color: #757575;
}

.setup-section .setup-form-row .card-block .card-top .form-content .class-template .input-half input:focus {
  border: 1px solid #FAA017 !important;
  -webkit-box-shadow: 0 0 2px #FAA017 !important;
     -moz-box-shadow: 0 0 2px #FAA017 !important;
          box-shadow: 0 0 2px #FAA017 !important;
}

.setup-section .setup-form-row .card-block .card-top .form-content .class-template .input-half .help-text {
  font-size: 0.7188rem;
  line-height: 0.875rem;
  font-weight: 200;
  margin-top: 0.4375rem;
}

@media only screen and (max-width: 450px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .class-template .input-half .help-text {
    font-size: 0.6563rem;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .class-template .add-branch span {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

@media only screen and (max-width: 450px) {
  .setup-section .setup-form-row .card-block .card-top .form-content .class-template .add-branch span {
    font-size: 0.75rem;
  }
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion {
  position: relative;
  overflow: hidden;
  border: 0.0625rem solid #E5E5E5;
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .accordion-top {
  padding: 0.75rem 1.25rem;
  -webkit-border-radius: 0.3125rem;
     -moz-border-radius: 0.3125rem;
          border-radius: 0.3125rem;
  background-color: #E5E5E5;
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .accordion-top .caret {
  position: relative;
  min-width: 1.875rem;
  width: 1.875rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .accordion-top .caret:after {
  content: "";
  position: absolute;
  min-width: 0.5625rem;
  min-height: 0.5625rem;
  width: 0.5625rem;
  height: 0.5625rem;
  border-top: 0.0938rem solid #1a1919;
  border-right: 0.0938rem solid #1a1919;
  margin-right: 0.625rem;
  -webkit-transform: rotate(135deg);
     -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
       -o-transform: rotate(135deg);
          transform: rotate(135deg);
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .accordion-top .toggle_caret:after {
  margin-top: 5px;
  -webkit-transform: rotate(315deg);
     -moz-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
       -o-transform: rotate(315deg);
          transform: rotate(315deg);
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .accordion-top .accordion-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .accordion-top .accordion-subtitle {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .accordion-top:hover {
  background-color: lightgray;
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .accordion-bottom {
  background-color: #FFF;
  height: auto;
  overflow: auto;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .accordion-bottom .class-structure {
  min-width: 9.0625rem;
  min-height: 7.25rem;
  width: 9.0625rem;
  height: 7.25rem;
  border: 0.0625rem solid #D5D5D5;
  -webkit-box-shadow: 0 0 0.125rem #D5D5D5;
     -moz-box-shadow: 0 0 0.125rem #D5D5D5;
          box-shadow: 0 0 0.125rem #D5D5D5;
  margin: 0.8125rem 0 0.625rem 0.8125rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .accordion-bottom .class-structure .color-top {
  width: 100%;
  height: 0.375rem;
  background-color: #60D2B0;
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .accordion-bottom .class-structure .branch-name {
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  font-weight: bold;
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .accordion-bottom .class-structure .class-code {
  background-color: #e0dfdf;
  font-size: 0.6062rem;
  line-height: 0.875rem;
  -webkit-border-radius: 0.1875rem;
     -moz-border-radius: 0.1875rem;
          border-radius: 0.1875rem;
  font-weight: normal;
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .accordion-bottom .class-structure:hover {
  border: 0.0313rem solid #FAA017;
}

.setup-section .setup-form-row .card-block .card-top .form-content .your-classes .accordion .toggle_dropdown {
  height: 0;
  overflow: hidden;
  display: none;
}

.setup-section .setup-form-row .card-block .card-top .form-content .add-teacher {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 0.0625rem solid #bebdbd;
  padding: 1.25rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .add-teacher .tip-title {
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .add-teacher .tip .tip-number, .setup-section .setup-form-row .card-block .card-top .form-content .add-teacher .tip .tip-text, .setup-section .setup-form-row .card-block .card-top .form-content .add-teacher .tip .tip-link {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.1875rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .add-teacher .tip .tip-text {
  font-weight: normal;
  margin-bottom: 0.375rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .invite-teacher {
  margin-top: 20px;
}

.setup-section .setup-form-row .card-block .card-top .form-content .invite-teacher .button {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  background: #fff;
  border: 0.0625rem solid #959595;
  padding: 0.75rem 1.75rem;
  margin-bottom: 1.6875rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .invite-teacher .teachers-title {
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  margin-bottom: 0.9375rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .invite-teacher .teachers-list {
  padding: 0.5rem 0;
  border-bottom: 1.2px solid #dbdada;
}

.setup-section .setup-form-row .card-block .card-top .form-content .invite-teacher .teachers-list .basic-info {
  width: 50%;
}

.setup-section .setup-form-row .card-block .card-top .form-content .invite-teacher .teachers-list .basic-info .avatar {
  position: relative;
  min-width: 3rem;
  min-height: 3rem;
  width: 3rem;
  height: 3rem;
  -webkit-border-radius: 0.3125rem;
     -moz-border-radius: 0.3125rem;
          border-radius: 0.3125rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .invite-teacher .teachers-list .basic-info .avatar .avatar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.375rem;
  letter-spacing: 0.05em;
}

.setup-section .setup-form-row .card-block .card-top .form-content .invite-teacher .teachers-list .basic-info .teacher-info .name {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.375rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .invite-teacher .teachers-list .basic-info .teacher-info .email {
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.setup-section .setup-form-row .card-block .card-top .form-content .invite-teacher .teachers-list .class-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  width: 25%;
}

.setup-section .setup-form-row .card-block .card-top .form-content .invite-teacher .teachers-list .close-icon {
  width: 25%;
}

.setup-section .setup-form-row .card-block .card-bottom {
  background-color: #DBF5F8;
  padding: 0.625rem 2.8125rem;
}

@media only screen and (max-width: 576px) {
  .setup-section .setup-form-row .card-block .card-bottom {
    padding: 0.625rem 1.5625rem;
  }
}

@media only screen and (max-width: 450px) {
  .setup-section .setup-form-row .card-block .card-bottom {
    padding: 0.625rem 1.25rem;
  }
}

.setup-section .setup-form-row .card-block .card-bottom .btn {
  -webkit-border-radius: 1.875rem;
     -moz-border-radius: 1.875rem;
          border-radius: 1.875rem;
  font-size: 0.6563rem;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
     -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.setup-section .setup-form-row .card-block .card-bottom .btn:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
     -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

@media only screen and (max-width: 992px) {
  .setup-section .setup-form-row .card-block .card-bottom .btn {
    font-size: 0.5625rem;
  }
}
