.school-calendar-section {
    position: relative;
    top: 60px;

    .container {
        @include breakpoint_max(md) {
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

    .bottom-container {
        margin-bottom: 30px;

        @include breakpoint_max(md) {
            margin-bottom: 80px;
        }
    }

    // CALENDAR COMPONENT STYLING
    .left-layout {
        @include breakpoint_max(md) {
            // display: none;
        }

        .todo-label-list {
            @include flex_row_start_wrap;

            @include breakpoint_max(md) {
                @include flex_row_start_wrap;

                li {
                    margin-right: 15px;
                }
            }

            li {
                margin-bottom: 14px;
                width: 40%;

                @include breakpoint_min_max(768, 992) {
                    width: 48%;
                    font-size: 12px;
                }

                @include breakpoint_max(sm) {
                    font-size: 13px;
                }

                @include breakpoint_max(xs) {
                    font-size: 10.5px;

                    span {
                        margin-left: 5px !important;
                        position: relative;
                        top: -4px;
                    }
                }
            }
        }
    }

    // TODO TASK COMPONENT STYLING
    .right-layout {
        .right-first-row {
            @include flex_row_between_nowrap;
            margin-bottom: 34px;

            .left-avatar {
                margin-right: 15px;

                .avatar-with-meta {
                    background-color: rgba($brand_inverse, .15);
                }
            }

            .text {
                font-weight: bold;
                font-size: 21px;
                line-height: 25px;
                color: #113255;

                @include breakpoint_max(lg) {
                    font-size: 19px;
                }

                @include breakpoint_max(sm) {
                    font-size: 17px;
                }
            }

            .right-avatar {
                position: relative;

                .icon {
                    @include transform_center;
                    font-size: 21px;
                    color: #000;
                    transition: color .3s ease-in-out;
                }

                &:hover {
                    .icon {
                        color: #fff
                    }
                }
            }

            .dropdown-btn-menu {
                width: 220px;
            }
        }

        .right-second-row {
            @include flex_row_between_nowrap;
            margin-bottom: 13px;

            .event-count {
                font-weight: bold;
                font-size: 14px;
                line-height: 19px;
            }

            .filter {
                font-size: 12px;
                padding: 5px 12px;

                .dropdown-btn-menu {
                    width: 195px;

                    .filter-by {
                        margin-bottom: -5px;
                        cursor: inherit;
                        font-size: 11.5px;
                        color: $border_grey_dark;

                        &:hover {
                            background: none;
                        }
                    }
                }

                .filter-by-class {
                    width: 420px;

                    @include breakpoint_max(xs) {
                        width: 340px;
                    }

                    @include breakpoint_min_max(335, 369) {
                        width: 310px;
                    }

                    .class-holder {
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    .class-name {
                        display: block;
                        white-space: nowrap;
                        padding: 5px 10px;
                        width: 30%;
                        font-size: 13px;
                        line-height: 19px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        color: $color_text;
                        cursor: pointer;
                        text-overflow: ellipsis;
                        transition: all .3s ease-in-out;

                        @include breakpoint_max(xs) {
                            font-size: 11.5px;
                            margin-right: 5px;
                        }

                        @include breakpoint_min_max(345, 369) {
                            font-size: 11px;
                        }

                        &:hover {
                            background: rgba($brand_inverse, .15);
                        }
                    }
                }
            }
        }
    }
}