.student-profile-section,
.teacher-profile-section {
    position: relative;
    top: 65px;

    @include breakpoint_max(md) {
        top: 30px;
    }

    .student-container,
    .teacher-container {
        margin-top: 50px;

        @include breakpoint_max(md) {
            margin-bottom: 70px;
        }
    }

    // PROFILE INTRO
    .student-profile-intro-details {
        margin-bottom: 30px;

        .left-column {
            @include breakpoint_max(md) {
                margin-top: 15px;
                order: 2;
            }

            .text {
                margin-bottom: 4px;
                font-size: 12px;
                line-height: 16px;
            }

            .term-subject {
                font-size: 21px;
                line-height: 29px;

                @include breakpoint_max(sm) {
                    font-size: 20px;
                }

                @include breakpoint_max(xs) {
                    font-size: 19px;
                }
            }
        }

        .right-column {
            @include breakpoint_max(lg) {
                margin-top: 10px;
            }

            @include breakpoint_max(md) {
                order: 1;
            }

            .subject {
                width: 170px;

                @include breakpoint_max(xs) {
                    width: 160px;
                }
            }

            .term {
                width: 120px;
                margin-left: 15px;

                @include breakpoint_max(xs) {
                    width: 110px;
                }
            }
        }
    }

    // PROFILE COMPONENT BLOCK
    .profile-block {
        background: white;
        padding: 17px 20px 30px;
        margin-bottom: 30px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);

        .title {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 45px;
        }

        .title-bold {
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;

            @include breakpoint_max(sm) {
                font-size: 14.5px;
            }
        }
    }

    // SHOW MORE LINK
    .show-more {
        font-size: 14px;
        line-height: 19px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .performance-dropdown {
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid $border_grey;

        span {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.02em;
        }
    }
}


// TEACHER PROFILE SECTION
.teacher-profile-section {
    .side-photo {

        .avatar {
            margin-bottom: 20px;
        }

        .btn {
            span {
                position: relative;
                top: 2px;
            }

            @include breakpoint_max(lg) {
                font-size: 10px;
                padding-left: 10px;
                padding-right: 10px;

                span {
                    font-size: 12px;
                    margin-right: 5px !important;
                }
            }
        }
    }

    // PAGE TITLE STYLE
    .page-title {
        font-size: 21px;
        line-height: 29px;
        padding-bottom: 10px;
        border-bottom: 1px solid $border_grey_dark;
        margin-bottom: 20px;

        @include breakpoint_max(md) {
            font-size: 19px;
        }

        @include breakpoint_max(sm) {
            font-size: 17.5px;
        }
    }

}