.student-profile-section,
.teacher-profile-section {
    position: relative;
    top: 65px;

    @include breakpoint_max(md) {
        top: 30px;
    }

    .student-container,
    .teacher-container {
        margin-top: 50px;

        @include breakpoint_max(md) {
            margin-bottom: 70px;
        }
    }

    .container {
        @include breakpoint_max(sm) {
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

    .student-profile-card {
        position: relative;
        padding: 30px 15px 22px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
        @include flex_column_center;

        @include breakpoint_max(md) {
            margin-bottom: 15px;
        }

        .card-option {
            @include flex_row_end_nowrap;
            position: absolute;
            left: 0;
            width: 95%;
            top: 20px;
            margin-left: auto !important;
            margin-right: auto !important;

            @include breakpoint_max(md) {
                top: 14%;
                width: 92.5%;
            }
        }

        .avatar_xxl {
            margin-bottom: 15px;

            @include breakpoint_max(lg) {
                @include equal_min_edge(92);
            }

            @include breakpoint_max(md) {
                @include equal_min_edge(128);
            }
        }

        .child-name {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 4px;

            @include breakpoint_max(lg) {
                font-size: 14px;
            }

            @include breakpoint_max(md) {
                font-size: 16px;
            }
        }

        .class-code {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 20px;

            @include breakpoint_max(lg) {
                font-size: 12px;
            }

            @include breakpoint_max(md) {
                font-size: 14px;
            }
        }

        .parent-info {
            border-top: 1px solid $border_grey;
            padding-top: 20px;

            @include breakpoint_max(lg) {
                display: none !important;
            }

            .avatar {
                margin-right: 15px;
            }

            .parent-name {
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 1px;
            }

            .parent-role {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }

    // PROFILE INTRO
    .student-profile-intro-details {
        margin-bottom: 30px;

        .left-column {
            @include breakpoint_max(md) {
                margin-top: 15px;
                order: 2;
            }

            .text {
                margin-bottom: 4px;
                font-size: 12px;
                line-height: 16px;
            }

            .term-subject {
                font-size: 21px;
                line-height: 29px;

                @include breakpoint_max(sm) {
                    font-size: 20px;
                }

                @include breakpoint_max(xs) {
                    font-size: 19px;
                }
            }
        }

        .right-column {
            @include breakpoint_max(lg) {
                margin-top: 10px;
            }

            @include breakpoint_max(md) {
                order: 1;
            }

            .form-control {
                position: relative;
                border-radius: 30px;
                border: 1px solid $border_grey_light;
                box-sizing: border-box;
                font-size: 13px;
                color: $color_grey_dark;
                padding: 8px 20px;

                &:focus {
                    border: 1px solid $brand_accent;
                }

                @include breakpoint_max(xs) {
                    font-size: 12px;
                }

            }

            .subject {
                width: 170px;

                @include breakpoint_max(xs) {
                    width: 160px;
                }
            }

            .term {
                width: 120px;
                margin-left: 15px;

                @include breakpoint_max(xs) {
                    width: 110px;
                }
            }
        }
    }

    // PROFILE COMPONENT BLOCK
    .profile-block {
        background: white;
        padding: 17px 20px 30px;
        margin-bottom: 30px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);

        .title {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 45px;
        }

        .title-bold {
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;

            @include breakpoint_max(sm) {
                font-size: 14.5px;
            }
        }
    }

    // SHOW MORE LINK
    .show-more {
        font-size: 14px;
        line-height: 19px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .performance-dropdown {
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid $border_grey;

        span {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.02em;
        }
    }

    // PERFORMANCE SUMMARY
    .performance-summary-block {
        .performance-chart {
            .performance-pie-chart {
                @include equal_min_edge (250);

                @include breakpoint_max(xl) {
                    @include equal_min_edge (220);
                }

                @include breakpoint_max(lg) {
                    @include equal_min_edge (170);
                }

                @include breakpoint_max(md) {
                    @include equal_min_edge (200);
                    margin-left: auto;
                    margin-right: auto;
                }

                .average-score-display {
                    @include transform_center;
                }

                .score {
                    font-size: 28px;
                    line-height: 38px;
                    margin-bottom: 4px;

                    @include breakpoint_max(lg) {
                        font-size: 22px;
                    }
                }

                .score-meta {
                    font-size: 12px;
                    line-height: 16px;

                    @include breakpoint_max(lg) {
                        font-size: 10px;
                    }
                }
            }
        }

        // CLASS RANKS
        .class-rank-indicator {
            margin-top: 20px;

            .title {
                margin-bottom: 10px;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.02em;
            }

            .rank-indicator {
                margin-bottom: 4px;

                @include breakpoint_max(xl) {
                    span {
                        font-size: 18px;
                    }
                }

                @include breakpoint_max(lg) {
                    span {
                        font-size: 17px !important;
                    }
                }

                @include breakpoint_max(md) {
                    margin-left: auto;
                    margin-right: auto;
                    @include flex_row_center_nowrap;

                    span {
                        font-size: 25px !important;
                    }
                }

            }

            .rank-description {
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 0.05em;
            }
        }

        // PERFORMANCE TOPICS
        .performance-topics {
            padding-left: 30px;
            transition: all .3s ease-in-out;
            animation: panel-slide-down .5s ease-in-out forwards;

            @include breakpoint_max(lg) {
                padding-left: 20px;
            }

            @include breakpoint_max(md) {
                padding-left: 0px;
            }

            .topic-block {
                margin-bottom: 25px;
            }

            .title {
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.02em;
                margin-bottom: 12px;
            }

            .topic {
                margin-right: 10px;
                margin-bottom: 10px;
                padding: 10px 20px;
                white-space: nowrap;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.05em;

                @include breakpoint_max(lg) {
                    font-size: 10px;
                }

                @include breakpoint_max(md) {
                    font-size: 12px;
                }
            }
        }
    }

    // TOPIC BREAKDOWN BLOCK
    .topic-breakdown-block {
        .form-control {
            position: relative;
            background: #f5f5f5;
            box-sizing: border-box;
            font-size: 12px;
            color: $color_text;
            padding: 2px 25px;

            &:focus {
                border: 1px solid $brand_accent;
            }

        }

        .week {
            position: relative;
            width: 100px;

            &::after {
                position: absolute;
                content: "\25BE";
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 3;
                font-size: 20px;
                color: $color_text;
            }
        }

        .breakdown-row {
            margin-top: 22px;
        }

        .breakdown-card {
            margin-bottom: 23px;

            .avatar {
                margin-right: 10px;
                @include equal_min_edge(36);
            }

            .topic-data {
                margin-bottom: 5px;

                .topic,
                .percent {
                    font-size: 12px;
                    line-height: 16px;
                }

                .trend-chart {
                    margin-left: 11px;
                    font-size: 10px;
                    line-height: 14px;
                }
            }

        }
    }

    // STUDENT POST SECTION
    .student-post-section {

        .title-row {
            span {
                text-decoration: none;
                font-size: 14px;
                line-height: 140%
            }
        }

        .post-row {
            width: 100%;
            overflow: auto;

            &::-webkit-scrollbar {
                height: 8px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 3px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 3px;
                background: $color_grey_light;
            }
    
            @include breakpoint_max(md) {
                -ms-overflow-style: none;
    
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        .post-data {
            margin-top: 20px;
            border: 1px solid #D5D5D5;
            box-sizing: border-box;
            width: 250px;
            height: 170px;
            padding: 10px;
            margin-right: 10px;

            .post-author {
                margin-bottom: 10px;
            }

            .avatar {
                margin-right: 10px;
            }

            .fullname {
                font-size: 12px;
                line-height: 16px;
            }

            .post-body {
                margin-bottom: 5px;
                height: 66px;
                font-size: 12px;
                line-height: 16px;
                text-overflow: ellipsis;
            }

            .post-time {
                font-size: 10px;
                line-height: 14px;
                margin-bottom: 17px;
                opacity: .7;
            }

            .post-activity {

                .likes,
                .comments {
                    font-size: 11px;
                    line-height: 140%;

                    .count {
                        position: relative;
                        top: -2px;
                    }

                    .icon {
                        font-size: 15px;
                        margin-right: 5px;
                    }
                }

                .likes {
                    margin-right: 33px;
                }
            }
        }
    }

    // STUDENT HOME WORK SECTION
    .homework-section-block {
        .title-row {
            margin-top: 8px;
            margin-bottom: 31px;

            .text {
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 5px;
            }

            .progress {
                width: 150%;

                @include breakpoint_max(xs) {
                    width: 120%;
                }
            }
        }

        .homework-data-column {
            padding: 10px 60px 10px 10px;
            border-bottom: 1px solid $border_grey_light;

            @include breakpoint_max(sm) {
                padding-right: 10px;
            }

            @include breakpoint_max(xs) {
                padding-right: 0px;
                padding-left: 0px;
            }

            .rgba_brand_tonic {
                background: #FFDCDE;
            }

            .rgba_brand_green {
                background: rgba(96, 210, 176, 0.25);
            }

            .rgba_brand_grey {
                background: #E5E5E5;
            }

            .homework-status {
                margin-right: 20px;

                @include breakpoint_max(xs) {
                    @include equal_min_edge(22);
                    margin-right: 10px;
                }

                span {
                    font-size: 17px;

                    @include breakpoint_max(xs) {
                        font-size: 15px;
                    }
                }
            }

            .date-avatar {
                margin-right: 15px;

                @include breakpoint_max(xs) {
                    margin-right: 12px;
                }
            }

            .homework-info {
                @include breakpoint_max(xs) {
                    width: 175px;
                }
            }

            .homework-title {
                margin-bottom: 3px;
                font-size: 14px;
                line-height: 19px;

                @include breakpoint_max(xs) {
                    font-size: 13px;
                }
            }

            .homework-subject {
                font-size: 13px;
                line-height: 18px;

                @include breakpoint_max(xs) {
                    font-size: 12px;
                }
            }

        }
    }

    // REMARK SECTION
    .student-remark-section {
        .title-row {
            margin-bottom: 25px;
        }

        .remark-block {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $border_grey_light;

            .avatar {
                margin-right: 20px;

                .avatar-text {
                    font-size: 16px;
                    line-height: 22px;
                }
            }

            .name {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 2px;

                @include breakpoint_max(sm) {
                    font-size: 14px;
                }
            }

            .subject {
                margin-bottom: 11px;
                font-size: 12px;
                line-height: 16px;
            }

            .comment {
                font-size: 14px;
                line-height: 170%;

                @include breakpoint_max(sm) {
                    font-size: 13.5px;
                }
            }
        }

        .remark-comment {
            .avatar {
                margin-right: 20px;
            }

            .name {
                margin-bottom: 9px;
                font-size: 16px;
                line-height: 22px;

                @include breakpoint_max(sm) {
                    font-size: 14px;
                }
            }

            .form-control {
                margin-bottom: 30px;
            }
        }

    }
}


// TEACHER PROFILE SECTION
.teacher-profile-section {
    .side-photo {

        .avatar {
            margin-bottom: 20px;
        }

        .btn {
            span {
                position: relative;
                top: 2px;
            }

            @include breakpoint_max(lg) {
                font-size: 10px;
                padding-left: 10px;
                padding-right: 10px;

                span {
                    font-size: 12px;
                    margin-right: 5px !important;
                }
            }
        }
    }

    // PAGE TITLE STYLE
    .page-title {
        font-size: 21px;
        line-height: 29px;
        padding-bottom: 10px;
        border-bottom: 1px solid #d5d5d5;
        margin-bottom: 20px;

        @include breakpoint_max(md) {
            font-size: 19px;
        }

        @include breakpoint_max(sm) {
            font-size: 17.5px;
        }
    }

    // TEACHER ABOUT SECTION
    .teacher-about {
        .title {
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 19px;

            @include breakpoint_max(sm) {
                font-size: 12px;
            }
        }

        .teacher-name {
            margin-bottom: 2px;
            font-size: 32px;
            line-height: 44px;

            @include breakpoint_max(md) {
                font-size: 26px;
                line-height: 38px;
            }

            @include breakpoint_max(sm) {
                font-size: 23px;
            }
        }

        .subjects {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 30px;

            @include breakpoint_max(md) {
                font-size: 14px;
                line-height: 18px;
            }

            @include breakpoint_max(sm) {
                font-size: 12px;
            }

            @include breakpoint_max(xs) {
                font-size: 11px;
            }
        }

        .class-taught {
            margin-right: 38px;

            @include breakpoint_max(sm) {
                margin-right: 30px;
            }
        }

        .class-taught,
        .homework-assigned {
            .count {
                font-size: 21px;
                line-height: 29px;
                letter-spacing: 0.05em;

                @include breakpoint_max(md) {
                    font-size: 18px;
                    line-height: 25px;
                }

                span {
                    position: relative;
                    bottom: -2px;
                    font-size: 10px;
                    line-height: 14px;

                    @include breakpoint_max(md) {
                        font-size: 9px;
                        line-height: 12px;
                    }
                }
            }

            .count-item {
                margin-top: 3px;
                font-size: 12px;
                line-height: 16px;

                @include breakpoint_max(md) {
                    font-size: 11px;
                    line-height: 15px;
                }

                @include breakpoint_max(sm) {
                    margin-top: 0px;
                }
            }
        }

        .button-row {
            margin-top: 15px;

            .icon-chat {
                position: relative;
                top: 3px;
            }

            @include breakpoint_max(sm) {
                .btn {
                    font-size: 11px;
                    padding: 10px 15px;
                }
            }

            @include breakpoint_max(xs) {
                .btn {
                    font-size: 10px;
                    padding: 9px 14px;
                }
            }
        }

        // ABOUT ME INFO SECTION
        .about-me-block {
            margin-top: 50px;
            margin-bottom: 30px;

            @include breakpoint_max(sm) {
                margin-top: 30px;
            }

            .about-text {
                font-size: 15.5px;
                line-height: 170%;
                margin-bottom: 10px;

                @include breakpoint_max(md) {
                    font-size: 15px;
                    line-height: 165%;
                }

                @include breakpoint_max(sm) {
                    font-size: 14px;
                }
            }

            .contact-block {
                background: rgb(235, 235, 235);
                border-radius: 4px;
                padding: 19px 20px;

                @include breakpoint_max(sm) {
                    padding: 11px 15px;
                }

                div {
                    font-size: 14px;
                    margin-bottom: 12px;

                    &:last-of-type {
                        margin-bottom: 0px;
                    }

                    @include breakpoint_max(md) {
                        font-size: 13px;
                    }

                    @include breakpoint_max(sm) {
                        font-size: 12.5px;
                    }
                }

                .icon {
                    position: relative;
                    top: 2.5px;
                    font-size: 21px;
                    margin-right: 12px;
                    color: #959595;

                    @include breakpoint_max(md) {
                        font-size: 20px;
                    }

                    @include breakpoint_max(sm) {
                        font-size: 18px;
                    }
                }

            }
        }
    }

    // ASSIGNED CLASSES
    .class-assigned-section {
        margin-bottom: 30px;

        .class-branch {
            position: relative;
            margin-right: 30px;
            padding: 15px;
            width: 202px;
            min-height: 149px;
            height: auto;
            border: 1px solid $border_grey_light;

            @include breakpoint_max(xl) {
                margin-right: 10px;
                margin-bottom: 10px;
            }

            @include breakpoint_max(sm) {
                margin-right: 7px;
                width: 165px;
            }

            @include breakpoint_max(xs) {
                margin-right: 6px;
                width: 160px;
            }

            .branch-label {
                position: absolute;
                left: 0;
                top: 0;
                height: 6px;
            }

            .class-year {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 15px;

                @include breakpoint_max(sm) {
                    font-size: 14px
                }
            }

            .class-subjects {
                font-size: 13px;
                line-height: 18px;
                margin-bottom: 24px;

                @include breakpoint_max(sm) {
                    font-size: 12px
                }
            }

            .icon-row {
                position: absolute;
                bottom: 13px;
                left: 0;
                width: 100%;
            }

            .icon {
                span {
                    font-size: 20px;
                    color: $color_grey_light;
                    transition: all .3s ease-in-out;

                    @include breakpoint_max(sm) {
                        font-size: 18px
                    }

                    &:hover {
                        color: $brand_accent;
                    }
                }
            }
        }
    }

    // SCHEDULE SECTION
    .schedule-section {
        padding: 10px 0px;
        margin-bottom: 30px;

        .schedule-block {
            margin-top: 25px;
            margin-bottom: 22px;

            @include breakpoint_max(md) {
                margin-left: 20px;
            }

            .avatar {
                margin-right: 15px;
            }

            .title {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 1px;
            }

            .description {
                font-size: 12px;
                line-height: 16px;
            }
        }

        .schedule-event {
            padding: 10px 10px 10px 15px;
            margin-right: 20px;
            margin-bottom: 12px;
            border-bottom: 1px solid $border_grey;

            @include breakpoint_max(md) {
                margin-left: 20px;
            }

            .event-label {
                top: 0;
                left: 0;
                width: 6px;
                height: 86%;
            }

            .event-class {
                margin-bottom: 2px;
                font-size: 14px;
                line-height: 177.06%;
            }

            .event-info {
                font-size: 13px;
                line-height: 18px;

                @include breakpoint_max(lg) {
                    font-size: 12px;
                }
            }
        }
    }

    // RECENT HOMWORK SECTION
    .recent-homework-section {
        margin-bottom: 70px;
    }
}