.class-members-section {
    position: relative;
    top: 160px;

    @include breakpoint_max(md) {
        top: 90px;
    }

    .right-layout {
        @include breakpoint_max(md) {
            margin-bottom: 80px;
        }
    }

    .container {
        @include breakpoint_max(sm) {
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }


    // PAGE TITLE
    .page-title {
        font-size: 21px;
        line-height: 29px;
        margin-bottom: 30px;

        @include breakpoint_max(lg) {
            font-size: 20px;
        }

        @include breakpoint_max(sm) {
            font-size: 18px;
        }
    }

    // STUDENT CARD
    .student-card {
        width: 100%;
        height: 200px;
        box-sizing: border-box;
        border-radius: 10px;
        margin-bottom: 30px;
        cursor: pointer;

        @include breakpoint_max(lg) {
            height: 180px;
        }

        @include breakpoint_max(md) {
            height: auto;
            margin-bottom: 6px;
        }
    }

}

// ADD ITEM DEFAULT SECTION
.add-member-default {
    @include transform-center;

    .avatar {
        margin-bottom: 20px;
    }

    .info-text {
        margin-bottom: 14px;
    }
}