.class-feeds-section {
    position: relative;
    top: 160px;

    @include breakpoint_max(md) {
        top: 90px;
    }

    .right-layout {
        @include breakpoint_max(lg) {
            padding-left: 30px;
            padding-right: 0px;
        }

        @include breakpoint_max(md) {
            margin-bottom: 80px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .container {
        @include breakpoint_max(sm) {
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

    .filter-post-section {
        padding-left: 2px;
        padding-right: 2px;
        margin-bottom: 10px;
        @include flex_row_start_nowrap;

        .filter-text {
            position: relative;
            font-size: 12px;
            line-height: 16px;

            span {
                font-size: 8px;
                margin-left: 11px;
                margin-right: 20px;
            }

            .dropdown-btn-menu {
                top: 20px;
                left: 0;
                width: 350px !important;

                .list-title {
                    font-size: 11.5px;
                    line-height: 16px;
                    color: $color_grey_dark;

                    &:hover {
                        background: transparent;
                    }
                }

                a {
                    padding-top: 8px;
                    padding-bottom: 8px;
                    color: $color_text;
                }

                .left-list {
                    margin-right: 65px;
                }

                .right-list {
                    margin-right: 50px;
                }
            }

            .filter-by-subject {
                width: 400px;
                padding-left: 25px;
                padding-right: 25px;
                cursor: text;


                .subject-list {
                    @include flex_row_start_wrap;
                    margin-top: 8px;
                    margin-bottom: 10px;

                    a {
                        display: block;
                        width: 48%;
                        font-size: 13px;
                        padding: 7.5px;


                        &:hover {
                            background: $brand_inverse_light;
                        }
                    }
                }
            }
        }

        .line-filter {
            border-top: 1px solid $border-grey;
            flex: 1;
        }
    }


    .post-component {
        min-width: 63%;
        max-width: 63%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 60px;

        @include breakpoint_max(lg) {
            min-width: 100%;
            max-width: 100%;
        }
    }

    .event-component {
        min-width: 36%;
        max-width: 36%;
        padding-right: 5px;

        @include breakpoint_max(lg) {
            min-width: 100%;
            max-width: 100%;
            padding-right: 15px;
            margin-bottom: 20px;
        }
    }
}