.class-report-section {
    position: relative;
    top: 160px;

    @include breakpoint_max(md) {
        top: 90px;
    }

    .container {
        @include breakpoint_max(sm) {
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

    .right-layout {
        @include breakpoint_max(lg) {
            padding-left: 30px;
            padding-right: 0px;
        }

        @include breakpoint_max(md) {
            margin-bottom: 80px;
            padding-left: 15px;
            padding-right: 15px;
            ;
        }

    }
}