.class-homework-section {
    position: relative;
    top: 160px;

    @include breakpoint_max(md) {
        top: 90px;
    }

    .container {
        @include breakpoint_max(sm) {
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

    // PAGE TITLE
    .page-title {
        font-size: 22px;

        @include breakpoint_max(lg) {
            font-size: 20px;
        }

        @include breakpoint_max(sm) {
            font-size: 18px;
        }
    }

    .right-layout {
        @include breakpoint_max(lg) {
            width: 110% !important;
            right: -50px;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        @include breakpoint_max(md) {
            width: 100% !important;
            right: 0;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }

}

// SHOW MORE LINK
.show-more {
    font-size: 14px;
    line-height: 19px;
    margin-top: 30px;
    margin-bottom: 10px;
}

// HOMEWORK REVIEW SECTION
.homework-review-section {
    position: relative;
    top: 65px;

    @include breakpoint_max(md) {
        top: 30px;
    }

    .review-container {
        margin-top: 50px;

        @include breakpoint_max(md) {
            margin-bottom: 70px;
        }
    }

    .container {
        @include breakpoint_max(sm) {
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

    .homework-review-title {
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 40px;

        @include breakpoint_max(lg) {
            font-size: 26px;
        }

        @include breakpoint_max(md) {
            font-size: 23px;
        }

        @include breakpoint_max(sm) {
            font-size: 22px;
        }

    }

    // HELP BLOCK ONE
    .help-block-one,
    .help-block-two,
    .questions,
    .recommendation {
        margin-bottom: 50px;

        .title {
            margin-bottom: 20px;
            font-size: 21px;
            line-height: 29px;

            @include breakpoint_max(md) {
                font-size: 18px;
            }

            @include breakpoint_max(sm) {
                font-size: 16px;
            }
        }
    }
}