.school-dashboard-section {
    position: absolute;
    top: 50px;
    width: 100% !important;

    @include render_max(md) {
        margin-bottom:40px; 
    }

    /* HERO SECTION */
    .hero-section {
        position: relative;
        width: 100%;
        height: 14.0625rem;

        @include render_max(lg) {
            height: 12.5rem;
        }

        @include render_max(md) {
            height: 9.375rem;
        }

        @include render_max(sm) {
            height: 6.875rem;
        }

        @include render_max(xs) {
            height: 5rem;
        }

        img {
            @include full_width_height;
            filter: blur(0.0938rem);
        }

        .overlay {
            @include full_width_height;
            background-color: rgb(2, 60, 107);
            mix-blend-mode: overlay;
            opacity: .98;
        }

        .content {
            position: relative;
            @include flex_row_start;

            @include render_max(sm) {
                padding: 0.8125rem 2.5rem !important;
            }

            @include render_max(xs) {
                padding: 1.25rem 1.375rem 0.8125rem !important;
            }

            .school-logo-container {
                position: relative;
                width: 10.9375rem;
                height: 3.5rem;
                margin-right: 1.875rem;
                box-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);

                @include render_max(lg) {
                    width: 10rem;
                    height: 3.125rem;
                    margin-right: 1.75rem;
                }

                @include render_max(md) {
                    width: 8.75rem;
                    height: 2.625rem;
                    margin-right: 1.5625rem;
                }

                @include render_max(sm) {
                    display: none;
                }

                img {
                    position: absolute;
                    width: 84%;
                    height: 88%;
                    object-fit: contain;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    filter: blur(0px);
                }
            }

            .school-name-container {
                .name {
                    font-weight: bold;
                    font-size: 1.75rem;
                    line-height: 145%;
                    color: #F5F5F5;

                    @include render_max(lg) {
                        font-size: 1.5625rem;
                        line-height: 140%;
                    }

                    @include render_max(md) {
                        font-size: 1.375rem;
                    }

                    @include render_max(sm) {
                        font-size: 1.25rem;
                    }

                    @include render_max(xs) {
                        font-size: 1.125rem;
                    }
                }

                .location {
                    font-weight: normal;
                    font-size: 0.9375rem;
                    line-height: 145%;
                    color: #DBF5F8;

                    @include render_max(lg) {
                        font-size: 0.8438rem;
                    }

                    @include render_max(md) {
                        font-size: 0.7813rem;
                    }

                    @include render_max(sm) {
                        font-size: 0.7344rem;
                    }

                    @include render_max(xs) {
                        font-size: 0.7031rem;
                    }
                }
            }
        }
    }

     /* HOME SECTION */
    .home-section {
        margin: 2.5rem auto;

        .left-column {
            padding-left: 0px !important;
            padding-right: 0px !important;

            @include render_max(md) {
                padding-left: 5px !important;
                padding-right: 5px !important;
                @include flex_row_center;
            }

            .summary-board {
                background-color: #0e3c6d;
                position: relative;
                width: 98%;
                height: 32.5rem;
                padding: 1.1875rem 1.25rem;

                @include render_max(lg) {
                    padding: 1.125rem 0.875rem;
                }

                @include render_max(md) {
                    height: auto;
                    padding: 1.25rem 1.5625rem;
                }

                @include render_max(xs) {
                    padding: 1.25rem 1.125rem;
                }

                // LIVE CONTENT
                .live-content {
                    width: 100%;
                    height: auto;

                    .board-title {
                        font-weight: 500;
                        font-size: 0.8125rem;
                        line-height: 1.0625rem;
                        margin-bottom: 0.9375rem;

                        @include render_max(xl) {
                            font-size: 0.75rem;
                        }

                        @include render_max(lg) {
                            font-size: 0.7188rem;
                        }

                        @include render_max(md) {
                            font-size: 0.7813rem;
                        }
                    }

                    .accordion {
                        width: 100%;
                        height: auto;
                        margin-bottom: 0.5rem;
                        .accordion-top {
                            @include flex_row_between;
                            flex-wrap: nowrap;
                            height: auto;
                            padding: 0.8125rem 0.75rem;
                            font-weight: normal;
                            font-size: 0.7813rem;
                            line-height: 1rem;

                            @include render_max(xl) {
                                font-size: 0.7188rem;
                            }

                            @include render_max(lg) {
                                font-size: 0.7094rem;
                            }

                            @include render_max(md) {
                                font-size: 0.75rem;
                            }

                            .task {
                                span {
                                    font-weight: bold;
                                }
                            }

                            .caret {
                                position: relative;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    right: 15%;
                                    @include equal_min_edge(10);
                                    border-top: 0.0938rem solid #818181;
                                    border-right: 0.0938rem solid #818181;
                                    transform: translateY(-50%) rotate(45deg);

                                    @include render_max(xl) {
                                        @include equal_min_edge(8);
                                    }

                                    @include render_max(lg) {
                                        @include equal_min_edge(7);
                                    }
                                }
                            }

                            &:hover {
                                background-color: rgb(236, 236, 236) !important;
                            }
                        }
                    }
                }

                // DEFAULT CONTENT
                .default-content {

                    .empty-img-icon {
                        position: relative;

                        img {
                            position: relative;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 12.1875rem;
                            height: 9.1875rem;

                            @include render_max(xl) {
                                width: 11.125rem;
                                height: 8.625rem;
                            }

                            @include render_max(lg) {
                                width: 10.9375rem;
                                height: 8.4375rem;
                            }

                            @include render_max(md) {
                                width: 11.5625rem;
                                height: 9.0625rem;
                            }
                        }
                    }

                    .welcome {
                        margin-bottom: 1.375rem;
                        .title {
                            font-weight: 600;
                            font-size: 1rem;
                            line-height: 1.375rem;
                            color: #DBF5F8;
                            margin-bottom: 0.5rem;

                            @include render_max(xl) {
                                font-size: 0.9375rem;
                            }

                            @include render_max(lg) {
                                font-size: 0.875rem;
                            }

                            @include render_max(md) {
                                margin-bottom: 0rem;
                                font-size: 1rem;
                            }
                        }
                        .msg {
                            padding: 0 1.5625rem;
                            font-weight: normal;
                            font-size: 0.8125rem;
                            line-height: 1.3125rem;
                            color: #E5E5E5;

                            @include render_max(xl) {
                                padding: 0 0.625rem;
                                font-size: 0.75rem;
                            }

                            @include render_max(lg) {
                                padding: 0;
                                font-size: 0.6875rem;
                            }

                            @include render_max(md) {
                                padding: 1.5625rem;
                                font-size: 0.7813rem;
                            }

                            @include render_max(xs) {
                                padding: 0.9375rem;
                                font-size: 0.75rem;
                            }
                        }
                    }

                    .activities {
                        .activity {
                            padding: 0.6875rem 0.25rem 0.4375rem;
                            border-bottom: 0.0625rem solid #D5D5D5;

                            label {
                                position: relative;
                                width: 100%;
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: flex-start;
                                align-items: center;
                                cursor: pointer;

                                .checkmark {
                                    position: relative;
                                    width: 5%;
                                    @include equal_min_edge(18);
                                    border: 0.0938rem solid #D5D5D5;
                                    border-radius: 50%;
                                    transition: all .3s ease-in-out;

                                    @include render_max(xl) {
                                        @include equal_min_edge(16);
                                    }

                                    @include render_max(lg) {
                                        @include equal_min_edge(14);
                                    }

                                    @include render_max(md) {
                                        @include equal_min_edge(16);
                                    }

                                    i {
                                       @include transform_center;
                                       font-size: 0.625rem;
                                       color: #FFF;
                                       display: none;
                                       transition: all .3s ease-in-out;

                                        @include render_max(xl) {
                                            font-size: 0.5rem;
                                        }

                                        @include render_max(xl) {
                                            font-size: 0.625rem;
                                        }
                                    }
                                }
                                .text {
                                    width: 95%;
                                    padding-left: 0.625rem;
                                    font-weight: normal;
                                    font-size: 0.7188rem;
                                    line-height: 0.875rem;
                                    color: #E5E5E5;

                                    @include render_max(xl) {
                                        font-size: 0.6563rem;
                                    }

                                    @include render_max(xl) {
                                        font-size: 0.625rem;
                                    }

                                    @include render_max(md) {
                                        font-size: 0.7188rem;
                                    }

                                    @include render_max(sm) {
                                        font-size: 0.6875rem;
                                    }
                                }
                                input {
                                    opacity: 0;
                                    width: 0;
                                    height: 0; 
                                }
                                .checked {
                                    border: 0.0625rem solid #11BDCF;
                                    background-color: #11BDCF;
                                    i {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .right-column {
            @include render_max(md) {
                margin-top: 1.875rem;
            }
            .class-structure {
                .structure-title {
                    font-weight: bold;
                    font-size: 1.125rem;
                    line-height: 150%;
                    margin-bottom: 1.25rem;

                    @include render_max(xl) {
                        font-size: 1rem;
                    }

                    @include render_max(md) {
                        font-size: 0.9063rem;
                        margin-bottom: 1rem;
                    }
                }

                .accordion {
                    margin-bottom: 0.5rem;
                    border-radius: 0.375rem;
                    border: 1px solid #dadada;
                    overflow: hidden;
                    height: auto;

                    .accordion-top {
                        @include flex_row_between;
                        padding: 0.875rem 1.0625rem;
                        width: 100%;
                        height: auto;
                        background-color: #dadada;
                        border-radius: 0.375rem;
                        cursor: pointer;
                        transition: all .3s ease-in-out;

                        @include render_max(md) {
                            padding: 0.625rem 1.0625rem;
                        }

                        .left-top{
                            width: 3%;

                            .caret {
                                position: relative;

                                &:after {
                                    content: "";
                                    position: absolute;
                                    top: 40%;
                                    @include equal_min_edge(10);
                                    border-right: 0.0938rem solid #858484;
                                    border-bottom: 0.0938rem solid #858484;
                                    transform: translateY(-40%) rotate(-135deg);
                                    transition: all .3s ease-in-out;

                                    @include render_max(xl) {
                                        @include equal_min_edge(8);
                                    }
                                }
                            }

                            .toggle_caret {
                                &:after {
                                    top: 35%;
                                    transform: translateY(-75%) rotate(45deg);
                                }
                            }
                           
                        }
                        .right-top {
                            @include flex_row_between;
                            width: 97%;

                            .class {
                                font-weight: 500;
                                font-size: 0.875rem;
                                line-height: 1.25rem;
                                color: #302f2f;

                                @include render_max(xl) {
                                    font-size: 0.8125rem;
                                }

                                @include render_max(lg) {
                                    padding-left: 5px;
                                    font-size: 0.7813rem;
                                }
                            }

                            .branches {
                                font-weight: normal;
                                font-size: 0.75rem;
                                line-height: 1.0625rem;
                                color: #7c7c7c;

                                @include render_max(xl) {
                                    font-size: 0.6875rem;
                                }
                            }
                        }

                        &:hover {
                            background-color:#d4d4d4;
                        }
                    }

                    .accordion-bottom {
                        border-radius: 0 0 0.375rem 0.375rem;
                        background-color: rgb(245, 245, 245);
                        overflow: auto;
                        width: 100%;
                        padding: 0.75rem 0.9375rem;
                        transition: all .3s ease-in-out;

                        .branch {
                            position: relative;
                            display: inline-block;
                            min-width: 10.9375rem; 
                            width: 10.9375rem; 
                            height: 7.8125rem;
                            border-radius: 0.375rem;
                            overflow: hidden;
                            background-color: #fff;
                            padding: 0.9375rem 0.75rem;
                            margin-right: 1.125rem;
                            cursor: pointer;
                            transition: all .1s ease-in-out;

                            @include render_max(xl) {
                                min-width: 10rem; 
                                width: 10rem; 
                                height: 7.375rem;
                            }

                            @include render_max(lg) {
                                min-width: 9.375rem; 
                                width: 9.375rem; 
                                height: 7.125rem;
                            }

                            .branch-top {
                                position: absolute;
                                width: 100%;
                                top: 0;
                                left: 0;
                                height: 0.375rem;
                                background: #F2AB3E;
                                border-radius: 0.3125rem;

                                @include render_max(xl) {
                                    height: 0.3125rem;
                                }

                                @include render_max(lg) {
                                    height: 0.25rem;
                                }
                            }

                            .class-name {
                                font-weight: 600;
                                font-size: 0.875rem;
                                line-height: 1.125rem;
                                margin-bottom: 0.5rem;
                                color: #4b4b4b;

                                @include render_max(xl) {
                                    font-size: 0.8125rem;
                                }

                                @include render_max(lg) {
                                    font-size: 0.75rem;
                                }
                                  
                            }

                            .class-code {
                                background: #EEEEEE;
                                border-radius: 0.25rem;
                                padding: 0.375rem 0.4375rem;
                                font-size: 0.7188rem;
                                line-height: 1rem;
                                color: #3f3f3f;

                                @include render_max(xl) {
                                    font-size: 0.6563rem;
                                }

                                @include render_max(lg) {
                                    font-size: 0.625rem;
                                }
                            }

                            .more-icons {
                                width: 100%;
                                min-height: 3.125rem;
                                height: 3.125rem;
                                @include flex_row_around;

                                @include render_max(xl) {
                                    height: 2.8125rem;
                                }

                                .icon {
                                    cursor: pointer;
                                    svg {
                                        width: 1.125rem;
                                        height: 1.125rem;
                                        path {
                                            fill: #b8b8b8;
                                            transition: all .3s ease-in-out;
                                        }

                                        @include render_max(xl) {
                                            width: 1rem;
                                            height: 1rem;
                                        }

                                        @include render_max(lg) {
                                            width: 0.9063rem;
                                            height: 0.9063rem;
                                        }
                                    }

                                    &:hover {
                                        svg {
                                            path {
                                                fill: #8d8d8d;
                                            }
                                        }
                                    }

                                }
                            }

                            &:hover {
                                border: 0.0187rem solid #F2AB3E;
                                box-shadow: 0 0 2px #F2AB3E;
                            }
                        }
                    }

                    .toggle_dropdown {
                        display: none !important;
                    }
                }
            }
        }
    }
}