.school-message-section,
.new-message-section {

    @include breakpoint_max(md) {
        top: 42px;
    }

    .dashboard-header-row {
        @include breakpoint_max(sm) {
            span {
                font-size: 20px !important;
            }
        }
    }


    // CONVERSATION CONTAINER
    .conversation-container {
        height: 550px;
        margin-bottom: 50px;
        box-sizing: border-box;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);

        @include breakpoint_max(md) {
            margin-bottom: 90px;
        }
    }

    .conversation-block,
    .conversation-area {
        transition: all .3s ease-in-out;

        .title-row {
            @include flex_row_between_nowrap;
            padding: 14px 20px;
            height: 54px;
            border-bottom: 1px solid $border_grey_light;

            @include breakpoint_max(lg) {
                padding-left: 11px;
                padding-right: 11px;
            }

            @include breakpoint_max(md) {
                padding-left: 20px;
                padding-right: 20px;
            }

            @include breakpoint_max(xs) {
                padding-left: 14px;
                padding-right: 14px;
            }
        }
    }

    // CONVERSATION BLOCK
    .conversation-block {
        width: 40%;
        border-right: 1px solid $border_grey_light;

        @include breakpoint_max(md) {
            width: 100%;
            border-right: 0px solid transparent;
        }

        .header-title {
            font-size: 16px;
            line-height: 22px;

            @include breakpoint_max(lg) {
                font-size: 14px;
            }

            @include breakpoint_max(md) {
                font-size: 14.5px;
                font-weight: bold;
                text-transform: uppercase;
            }

            @include breakpoint_max(sm) {
                font-size: 14px;
            }
        }

        .block-container {
            height: 496px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 7px;
            }

            &::-webkit-scrollbar-track {
                border-radius: 5px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: $border_grey_light;
            }
        }

    }

    // CONVERSATION AREA
    .conversation-area {
        width: 60%;

        @include breakpoint_max(md) {
            width: 100%;
        }

        .header-title {
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.02em;

            @include breakpoint_max(lg) {
                font-size: 12.5px;
            }

            @include breakpoint_max(md) {
                font-size: 14px;
            }
        }

        // CHAT AREA CONTAINER
        .area-container {
            height: 370px;
            padding: 25px 20px 10px;
            margin-bottom: 10px;

            &::-webkit-scrollbar {
                width: 7px;
            }

            &::-webkit-scrollbar-track {
                border-radius: 5px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: $border_grey_light;
            }

            @include breakpoint_max(lg) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        // MESSAGE INPUT FORM
        .input-box {
            padding-left: 20px;
            padding-right: 20px;

            @include breakpoint_max(lg) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}