.school-parent-section {
    position: relative;
    top: 60px;

    .dashboard-header-row {
        .left-avatar {
            margin-right: 22px;
        }
    }

    .container {
        @include breakpoint_max(sm) {
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

    .pagination-section {
        margin-top: 15px;
        margin-bottom: 50px;

        @include breakpoint_max(md) {
            margin-top: 0px;
            margin-bottom: 90px;
        }
    }

    // TABLE HEADER
    .table-header {
        @include flex_row_start_nowrap;
        width: 100%;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $border_grey_dark;
        padding-bottom: 6px;
        text-transform: uppercase;
        border-bottom: 1px solid $color_grey_dark;
        margin-bottom: 2px;

        @include breakpoint_max(xl) {
            font-size: 11px;
        }

        @include breakpoint_max(sm) {
            display: none;
        }
    }

    .col-one {
        padding-left: 15px;
        width: 34%
    }

    .col-two {
        width: 33%
    }

    .col-three {
        width: 21%
    }

    .col-four {
        width: 12%
    }

    @include breakpoint_max(md) {
        .col-one {
            padding-left: 15px;
            width: 38%
        }

        .col-two {
            width: 28%
        }

        .col-three {
            width: 22%
        }

        .col-four {
            width: 12%
        }
    }

    @include breakpoint_max(sm) {
        .col-one {
            padding-left: 15px;
            width: 80%
        }

        .col-two {
            width: 0%;
            display: none
        }

        .col-three {
            width: 0%;
            display: none
        }

        .col-four {
            width: 20%
        }
    }

    @include breakpoint_max(xs) {
        .col-one {
            padding-left: 15px;
            width: 85%
        }

        .col-four {
            width: 15%
        }
    }
}