.school-profile-section {
    position: relative;
    top: 60px;

    .container {
        @include breakpoint_max(sm) {
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

    .school-display-banner {
        position: relative;
        height: 248px;

        @include breakpoint_max(lg) {
            height: 220px;
        }

        @include breakpoint_max(md) {
            height: 160px;
        }

        @include breakpoint_max(sm) {
            height: 125px;
        } 

        @include breakpoint_max(xs) {
            height: 110px;
        }        

        .banner-overlay {
            overflow: hidden;
            .img {
                @include img_cover;

                &-opacify {
                    opacity: .7;
                }
            }
        }

        .button-container {
            width: 1140px;

            @include breakpoint_max(xl) {
                width: 960px;
            }

            @include breakpoint_max(lg) {
                width: 720px;
            }

            @include breakpoint_max(md) {
                width: 510px;
            }

            @include breakpoint_max(sm) {
                width: 94%;
            }

            .btn {
                margin-top: 40px;
                padding: 13px 33px;
    
                @include breakpoint_max(md) {
                    padding: 9px 24px;  
                    font-size: 11.5px;   
                }
            }
        }
    }

    .school-details {
        margin-bottom: 30px; 

        .school-row {
            @include flex_row_start_nowrap;
            align-items: flex-start;

            @include breakpoint_max(md) {
                @include flex_column_start;
            }
        }

        .avatar {
            box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.15);
            margin-right: 26px;
            position: relative;
            top: -63px;

            @include breakpoint_max(md) {
                top: -42px;
            }
            
            @include breakpoint_max(sm) {
                margin-left: 15px !important;
            }

            @include breakpoint_max(xs) {
                margin-left: 11px !important;
            }

            .avatar-img {
                width: 90%;
                margin: auto;
            }
        }

        .school-info {
            padding-top: 45px;

            @include breakpoint_max(xl) {
                padding-left: 40px !important;
            }

            @include breakpoint_max(lg) {
                padding-left: 85px !important;
            }

            @include breakpoint_max(md) {
                padding-top: 0px;
                padding-left: 0px !important;
                margin-top: -20px;
            }

            @include breakpoint_max(sm) {
                width: 95%;
                margin-left: auto;
                margin-right: auto;
            }

            .school-title {
                font-size: 32px;
                line-height: 145%;
                margin-bottom: 4px;
                letter-spacing: 0.02em;
                text-shadow: .25px 0px, 0px .25px, .25px .25px;

                @include breakpoint_max(lg) {
                    font-size: 28px;
                }

                @include breakpoint_max(md) {
                    font-size: 26px;
                }

                @include breakpoint_max(sm) {
                    font-size: 24px;
                    font-weight: 500 !important;
                }
            }

            .school-motto {
                font-size: 16px;
                line-height: 145%;
                margin-bottom: 30px;
                letter-spacing: 0.01em;
                color: $border_grey_dark;

                @include breakpoint_max(sm) {
                    font-size: 15px;
                }
            }

            .info-row {
                overflow: auto;
                width: 100%; 
                -ms-overflow-style: none;
                &-webkit-scrollbar {
                    display: none;
                }

                @include breakpoint_max(lg) {
                    width: 100%;
                }

                .info-column {
                    width: auto;
                    margin-right: 30px;

                    .data-label {
                        font-size: 13px;
                        line-height: 145%;
                        color: $border_grey_dark;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        margin-bottom: 4px;

                        @include breakpoint_max(lg) {
                            font-size: 12px;
                        }

                        @include breakpoint_max(sm) {
                            font-size: 11.5px;
                        }
                    }

                    .data {
                        font-weight: 500;
                        font-size: 15.5px;
                        line-height: 145%;
                        color: $color_text;
                        letter-spacing: 0.03em;
                        text-shadow: .4px 0px, 0px .4px, .4px .4px;

                        @include breakpoint_max(lg) {
                            font-size: 14.5px;
                        }

                        @include breakpoint_max(sm) {
                            font-size: 13.75px;
                        }
                    }
                }
            }
        }
    }


    .page-sub-title {
        font-size: 27px;
        line-height: 145%;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
        font-weight: bold;
        color: $color_text;
        text-shadow: .25px 0px, 0px .25px, .25px .25px;

        @include breakpoint_max(lg) {
            font-size: 25px;
        }

        @include breakpoint_max(lg) {
            font-weight: 500;
            font-size: 23px;
        }
    }

    .bottom-half {
        @include breakpoint_max(md) {
            margin-top: 60px;
            margin-bottom: 110px !important;
        }
    }


    // ABOUT SECTION
    .profile-about-section {
        margin-bottom: 50px;
      
        .about-text {
            font-size: 15.5px;
            line-height: 180%;
            letter-spacing: 0.02em;

            p {margin-bottom: 20px}

            @include breakpoint_max(xl) {
                font-size: 15px;
            }

            @include breakpoint_max(xs) {
                font-size: 14.5px;
            }
        }
    }

    // CONTACT PERSON CARD
    .contact-person-card {
        background: #FFFFFF;
        width: 110%;
        border: 1px solid $border_grey;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 30px 30px 39px;

        @include breakpoint_max(xl) {
            width: 100%;
            padding: 25px 20px 30px;
        }

        .title {
            font-weight: normal;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $color_grey_dark;
            margin-bottom: 20px;

            @include breakpoint_max(lg) {
                font-size: 13px;
            }
        }

        .contact-icon {
            margin-right: 15px;
            background: #DBF5F8;
        }

        .info {
            .location {
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0.05em;
                color: $color_grey_dark;
                margin-bottom: 7px;

                @include breakpoint_max(lg) {
                    font-size: 11.5px;
                }
            }
            .contact-data {
                font-size: 13.5px;
                line-height: 100%;
                letter-spacing: 0.05em;
                color: $color_ash;
                word-break: break-all;

                @include breakpoint_max(lg) {
                    font-size: 12.5px;
                }
            }
        }

        .bottom-10 {margin-bottom: 10px;}
        .bottom-0 {margin-bottom: 0px;}

        .card-avatar-section {
            margin-bottom: 30px;
            .avatar {
                margin-right: 15px;
            }
            .name {
                font-size: 16px;
                line-height: 165%;
                letter-spacing: 0.05em;
                font-weight: 900;
                word-break: break-all;

                @include breakpoint_max(lg) {
                    font-size: 15px;
                }
            }
            .role {
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 0.05em;
                margin-bottom: 15px;
                word-break: break-all;

                @include breakpoint_max(lg) {
                    font-size: 12px;
                }
            }
            .contact {
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 0.05em;

                @include breakpoint_max(lg) {
                    font-size: 13px;
                }
            }
        }

        .card-contact-address {
            margin-bottom: 30px;
        }
    }

    // DEMOGRAPHICS SECTION
    .demographics-section {
        .page-sub-title {
            margin-bottom: 30px;
        }

        .chart-title {
            margin-bottom: 22px;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            color: #757575;
        }

        .indicators {
            margin-right: 25px;

            @include breakpoint_max(xs) {
                margin-right: 17px;
            }

            @include breakpoint_min_max(330, 380) {
                margin-right: 7px;
            }

            .indicator-icon {
                margin-right: 12px;
            }

            .type {
                font-size: 13px;
                line-height: 16px;
                color: #353535;
            }

            .percentage {
                font-size: 14.5px;
                line-height: 19px;
                color: #757575;
            }

            .indicator-female {
                margin-bottom: 15px;
            }
        }

        .chart {
            @include equal_min_edge (100);

            @include breakpoint_max(xs) {
                @include equal_min_edge (86);
            }

            @include breakpoint_min_max(330, 380) {
                @include equal_min_edge (75);
            }
        }

        // PROGRESS BAR
        .progress-bar-section {
            margin-bottom: 18px;

            .label-range {
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 0.05em;
            }

            .progress {
                background-color: #DDF1FA;
                border-radius: 50px;
                width: 100px;
                height: 6px;

                @include breakpoint_max(xs) {
                    width: 77px;
                }

                @include breakpoint_min_max(330, 380) {
                    width: 70px;
                }
            }

            .percentage {
                font-size: 14px;
                line-height: 19px
            }
        }
    }
}

