.settings-display-layout {
    position: relative;
    padding: 30px;
    width: 105%;
    right: 5%;

    @include breakpoint_max(lg) {
        padding: 20px
    }

    @include breakpoint_max(md) {
        width: 100%;
        right: 0px;
    }

    .page-title {
        font-weight: 700;
        font-size: 19px;
        line-height: 29px;
        text-transform: uppercase;
        color: #113255;
        margin-bottom: 30px;

        @include breakpoint_max(lg) {
            font-size: 18px;
            margin-bottom: 21px;
        }

        @include breakpoint_max(sm) {
            font-size: 16px;
        }
    }
}

// SCHOOL PROFILE SETTINGS
.school-banner {
    position: relative;
    height: 190px;

    @include breakpoint_max(md) {
        height: 150px;
    }

    @include breakpoint_max(sm) {
        height: 130px;
    }

    @include breakpoint_max(xs) {
        height: 110px;
    }

    .banner-overlay {
        background: rgba(0, 0, 0, 0.9);
        overflow: hidden;

        .img {
            @include img_cover;
        }
    }

    .banner-input {
        position: absolute;
        right: 30px;
        bottom: -5px;
        font-weight: 800;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #F5F5F5;
        text-shadow: 0 .25px, .25px 0, .25px .25px;
        transition: all .3s ease-in-out;

        @include breakpoint_max(lg) {
            font-size: 11px;
            font-weight: 600;
        }

        &:hover {
            color: rgb(216, 216, 216);
        }
    }
}

.school-logo-section {
    padding-left: 30px;
    @include flex_row_start_nowrap;
    align-items: flex-start;

    @include breakpoint_max(lg) {
        padding-left: 20px;
    }

    .avatar {
        position: relative;
        top: -70px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
        margin-right: 30px;

        @include breakpoint_max(lg) {
            top: -50px;
            @include equal_min_edge(110);
        }

        @include breakpoint_max(sm) {
            top: -35px;
            margin-right: 20px;
            @include equal_min_edge(90);
        }

        @include breakpoint_max(xs) {
            top: -30px;
            @include equal_min_edge(80);
        }

        .avatar-text {
            text-shadow: 0px .4px, .4px 0px, .4px .4px;

            @include breakpoint_max(lg) {
                font-size: 56px;
            }

            @include breakpoint_max(sm) {
                font-size: 48px;
            }
        }
    }

}

.right-section {
    @include flex_row_start_nowrap;
    align-items: flex-start;
    padding-top: 15px;

    .logo-guide {
        margin-right: 30px;

        @include breakpoint_max(lg) {
            margin-right: 10px;
        }

        @include breakpoint_max(sm) {
            margin-right: 5px;
        }

        .title {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 4px;

            @include breakpoint_max(lg) {
                font-size: 13px;
            }
        }

        .options {
            font-size: 12px;
            line-height: 16px;
            color: #555555;

            @include breakpoint_max(lg) {
                font-size: 11px;
            }
        }
    }

    .btn {
        border: 1px solid #d5d5d5;
        padding: 13px 34px;

        @include breakpoint_max(lg) {
            padding: 11px 15px;
        }

        @include breakpoint_max(sm) {
            font-size: 10px;
            padding: 10px 13px;
        }
    }
}


// DIVIDER
.form-divider {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin: 30px auto;
}

// FORM GROUP ROW
.form-group-row {
    margin-bottom: 24px;
}

.control-label {
    font-size: 14px;
    font-weight: 400;
    color: #4e4e4e;
    text-shadow: 0 .25px, .25px 0, .25px .25px;
    text-transform: uppercase;

    @include breakpoint_max(lg) {
        font-size: 12.5px;
        text-shadow: unset;
        font-weight: 500;
    }
}

.radio-inline {
    input {
        margin-right: 6px !important;
    }
}


// PROFILE FORM
.profile-form {
    margin-top: -30px;
    padding-top: 26px;
    border-top: 1px solid #d5d5d5;

    @include breakpoint_max(lg) {
        margin-top: -20px;
        padding-top: 33px;
    }

    @include breakpoint_max(sm) {
        margin-top: 8px;
        padding-top: 30px;
    }

    .btn {
        padding: 13px 38px;
        font-size: 13px;

        @include breakpoint_max(lg) {
            font-size: 11.5px;
            padding: 11px 32px;
        }
    }
}


// PERSONAL INFORMATION
.personal-info-section {
    .avatar {
        margin-right: 30px;

        .avatar-text {
            background: rgba($brand_inverse, .2);
            font-size: 32px;
        }
    }
}

// USER LANDER STYLING
.user-lander-section {
    .user-group-row {
        margin-bottom: 30px;
    }

    .label {
        font-weight: bold;
        font-size: 13.5px;
        line-height: 19px;
        color: #7a7a7a;
        margin-bottom: 5px;

        @include breakpoint_max(sm) {
            font-size: 12px
        }
    }

    .notification-label {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include breakpoint_max(sm) {
            font-size: 13.5px
        }
    }

    .value {
        margin-right: 54px;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
        color: #233446;

        @include breakpoint_max(sm) {
            font-size: 15.5px;
        }
    }

    .update-link {
        font-weight: bold;
        font-size: 13.5px;
        line-height: 19px;
        text-transform: uppercase;

        @include breakpoint_max(sm) {
            font-size: 12.5px;
        }
    }
}

// DELETE ACCOUNT
.delete-acct {
    margin-top: 30px;
    margin-bottom: 30px;
    p {
        font-size: 14.5px;
        line-height: 170%;
        color: #555555;

    }
}

// SET ICON
.set-icon {
    span {
        position: absolute;
        right: 10px;
        top: 8px;
        z-index:999;
    }
}