// FORM TITLE PLACEHOLDER
%form-title {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 11.5px;
    text-transform: uppercase;
}

.setup-section {
    position: fixed;
    @include section_stretch();
    overflow: auto;
    background-color: rgba($border_grey_light, .7);

    .setup-container {
        position: absolute;
        margin-top: 70px;
        margin-bottom: 70px;
        width: 54%;
        left: 50%;
        transform: translateX(-50%);

        @include breakpoint_max(lg) {
            width: 65%;
        }

        @include breakpoint_max(md) {
            width: 80%;
        }

        @include breakpoint_max(md) {
            width: 90%;
            left: 55%;
            transform: translateX(-52%);
        }

        @include breakpoint_max(xs) {
            width: 100%;
            left: 55%;
            transform: translateX(-52%);
        }

        .title {
            font-size: 32px;
            line-height: 44px;
            margin-bottom: 40px;

            @include breakpoint_max(xl) {
                font-size: 30px;
            }

            @include breakpoint_max(lg) {
                font-size: 29px;
            }

            @include breakpoint_max(md) {
                font-size: 27px;
            }
        }

        .setup-box {
            overflow: hidden;
            box-shadow: 0px 0px 6px rgba(58, 58, 58, 0.1);

            .setup-top {
                padding-top: 40px;
                padding-left: 95px;
                padding-right: 95px;

                @include breakpoint_max(xl) {
                    padding-left: 80px;
                    padding-right: 80px;
                }

                @include breakpoint_max(lg) {
                    padding-left: 60px;
                    padding-right: 60px;
                }

                @include breakpoint_max(md) {
                    padding-left: 40px;
                    padding-right: 40px;
                }

                .title {
                    font-weight: normal;
                    font-size: 21px;
                    line-height: 29px;
                    margin-bottom: 38px;

                    @include breakpoint_max(xl) {
                        font-size: 20px;
                    }

                    @include breakpoint_max(lg) {
                        font-size: 19px;
                    }

                    @include breakpoint_max(md) {
                        font-size: 17px;
                    }
                }

                .school-type {
                    margin-bottom: 34.5px;
                    .title {
                        @extend %form-title;
                    }
                    .item {
                        margin-bottom: 16px;
                        label {
                            @include flex_row_start_nowrap;
                            .label_title {
                                display: block;
                                font-size: 14px;
                                color: $color_text;

                                @include breakpoint_max(xs) {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
                
                .naming-style {
                    margin-bottom: 80px;
                    .title {
                        @extend %form-title;
                    }
                    .item {
                        margin-bottom: 10px;
                        label {
                            border: 1px solid $border_grey;
                            padding: 15px 20px 20px;
                            box-sizing: border-box;
                            @include flex_row_start_nowrap;

                            @include breakpoint_max(xs) {
                                padding: 14px 17px 17px;
                            }

                            input {
                                margin-right: 20px;

                                @include breakpoint_max(xs) {
                                    margin-right: 17px;
                                }
                            }

                            .title {
                                font-size: 15px;
                                line-height: 22px;
                                margin-bottom: 10px;

                                @include breakpoint_max(lg) {
                                    font-size: 14px;
                                }

                                @include breakpoint_max(xs) {
                                    font-size: 13px;
                                }
                            }

                            .subtitle {
                                font-size: 12px;
                                line-height: 16px;
                            }
                        }
                    }
                }

            }

            .setup-bottom {
                @include flex_row_between_nowrap;
                background: #DBF5F8;
                padding: 15px 40px;

                @include breakpoint_max(sm) {
                    .btn {
                        font-size: 10px !important;    
                    }
                }

                @include breakpoint_max(sm) {
                    padding: 15px 25px;
                }
            }
        }
    }
}