.signup-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;

    .container-row {
        height: 100vh;
        position: relative;

        // LEFT PANE
        .left-pane {
            position: fixed;
            height: 100vh;
            .left-pane-content {
               @include full_width_height();
            }
            .pane-img {
                object-fit: cover;
            }
            .pane-img-overlay {
                background: $gradely-blue;
                mix-blend-mode: normal;
                opacity: .9;
            }
            .content-box {
                @include full_width_height();
                .content {
                    width: 100%;
                    .section-one {
                        font-weight: bold;
                        font-size: 0.9375rem;
                        line-height: 1.375rem;
                        text-transform: uppercase;
                        color: $navy-blue;
                    }
                    .section-two {
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 140%;
                        color: #FFFFFF;
                        margin-bottom: 1.375rem;
                        letter-spacing: .03em;
                    }
                    .section-three {
                        font-size: 0.9375rem;
                        color: $title_black;
                        font-weight: 400;
                        li {
                            margin-bottom: 0.875rem;
                        }
                    }
                }
            }
        }

        // RIGHT PANE
        .right-pane {
            @include full_width_height();

            .right-pane-content {
                padding: 5% 0;
                width: 50%;

                .brand-mockup {
                    position: relative;
                    left: 0;
                    width: 10.9375rem;
                    height: 2.875rem;
                    margin-bottom: 0.75rem;
                    img {
                       @include full_width_height();
                    }
                }

                .section-one {
                    margin-bottom: 13px;
                    h3 {
                        font-family: Questrial;
                        font-weight: 600;
                        font-size: 1.311rem;
                        line-height: 1.5625rem;
                        color: $title-black;
                        letter-spacing: 0.05em;
                    }
                }

                .section-two {
                    h4 {
                        font-weight: normal;
                        font-size: 0.85rem;
                        line-height: 20px;
                        letter-spacing: 0.05em;
                        .login-link {
                            text-decoration: underline;
                        }
                    }
                }

                .section-three {
                    margin-top: 1.25rem;
                    form {
                        label {
                            font-weight: 500;
                            font-size: 0.691rem;
                            line-height: 1rem;
                            text-transform: uppercase;
                            color: $label-black;
                        }
                        .fullname {
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            .firstname, .lastname {
                                width: 48.5%;
                            }
                        }
                        .input-group {
                            .input-group-text {
                                background: transparent !important;
                            }
                        }
                        button {
                            padding: 12px 35px !important;
                            font-size: 11px !important;
                        }
                    }
                }

            }
        }
    }
}

/****************************/
//MEDIA QUERY FOR SIGNUP PAGE
/*****************************/

// DESKTOP
@media(max-width: 1200px) {
    .signup-section {
        .container-row {

            .left-pane {
                .content-box {
                    .content {
                        .section-one {
                            font-weight: 600;
                            font-size: 13px;
                            line-height: 18px;
                        }
                        .section-two {
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 150%;
                            margin-bottom: 1.375rem;
                            letter-spacing: .012em;
                        }
                        .section-three {
                            font-size: 0.7813rem;
                            font-weight: 400;
                            li {
                                margin-bottom: 12px;
                            }
                        }
                    }
                }
            }
            // RIGHT PANE
            .right-pane {
    
                .right-pane-content {
                    padding: 10% 0;
                    width: 68%;
    
                    .brand-mockup {
                        position: relative;
                        width: 140px;
                        height: 38px;
                        margin-bottom: 13px;
                    }
    
                    .section-one {
                        margin-bottom: 12px;
                        h3 {
                            font-weight: 500;
                            font-size: 15.5px;
                            line-height: 20px;
                            letter-spacing: 0.03em;
                        }
                    }
    
                    .section-two {
                        h4 {
                            font-size: 12.5px;
                            line-height: 12px;
                            letter-spacing: 0.03em;
                        }
                    }
    
                    .section-three {
                        margin-top: 15px;
                        form {
                            label {
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 14px;
                            }
                            .fullname {
                                flex-flow: row wrap;
                                justify-content: space-between;
                                .firstname, .lastname {
                                    width: 48%;
                                }
                            }
                            input, .input-group-text {
                                font-size: 12px !important;
                            }
                            button {
                                font-weight: 600 !important;
                                padding: 12px 25px !important;
                                font-size: 11px !important;
                            }
                        }
                    }
    
                }
            }
        }
    }
}

// TABLET DEVICE
@media(max-width: 992px) {
    .signup-section {
        .container-row {

            .left-pane {
                .content-box {
                    .content {
                        .section-one {
                            font-weight: 600;
                            font-size: 13px;
                            line-height: 18px;
                        }
                        .section-two {
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 150%;
                            margin-bottom: 1.375rem;
                            letter-spacing: .012em;
                        }
                        .section-three {
                            font-size: 0.7813rem;
                            font-weight: 400;
                            li {
                                margin-bottom: 12px;
                            }
                        }
                    }
                }
            }
            // RIGHT PANE
            .right-pane {
    
                .right-pane-content {
                    padding: 10% 0;
                    width: 78%;
    
                    .brand-mockup {
                        position: relative;
                        width: 140px;
                        height: 38px;
                        margin-bottom: 13px;
                    }
    
                    .section-one {
                        margin-bottom: 12px;
                        h3 {
                            font-weight: 500;
                            font-size: 15.5px;
                            line-height: 20px;
                            letter-spacing: 0.03em;
                        }
                    }
    
                    .section-two {
                        h4 {
                            font-size: 12.5px;
                            line-height: 12px;
                            letter-spacing: 0.03em;
                        }
                    }
    
                    .section-three {
                        margin-top: 15px;
                        form {
                            label {
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 14px;
                            }
                            .fullname {
                                flex-flow: column wrap;
                                justify-content: center;
                                .firstname, .lastname {
                                    width: 100%;
                                }
                                .lastname {
                                    margin-top: 15px;
                                }
                            }
                            input, .input-group-text {
                                font-size: 12px !important;
                            }
                            button {
                                font-weight: 600 !important;
                                padding: 12px 25px !important;
                                font-size: 11px !important;
                            }
                        }
                    }
    
                }
            }
        }
    }
}

// MEDIUM DEVICE
@media(max-width: 768px) {
    .signup-section {
        .container-row {
            // RIGHT PANE
            .right-pane {
    
                .right-pane-content {
                    padding: 10% 0;
                    width: 60%;
    
                    .brand-mockup {
                        position: relative;
                        width: 150px;
                        height: 40px;
                        margin-bottom: 13px;
                    }
    
                    .section-one {
                        margin-bottom: 12px;
                        h3 {
                            font-weight: 500;
                            font-size: 17px;
                            line-height: 20px;
                            letter-spacing: 0.03em;
                        }
                    }
    
                    .section-two {
                        h4 {
                            font-size: 13.5px;
                            line-height: 12px;
                            letter-spacing: 0.03em;
                        }
                    }
    
                    .section-three {
                        margin-top: 15px;
                        form {
                            label {
                                font-weight: 400;
                                font-size: 10.75px;
                                line-height: 14px;
                            }
                            .fullname {
                                flex-flow: column wrap;
                                justify-content: center;
                                .firstname, .lastname {
                                    width: 100%;
                                }
                                .lastname {
                                    margin-top: 15px;
                                }
                            }
                            input, .input-group-text {
                                font-size: 12.75px !important;
                            }
                            button {
                                font-weight: 600 !important;
                                padding: 12px 25px !important;
                                font-size: 11.5px !important;
                            }
                        }
                    }
    
                }
            }
        }
    }
}

// SMALL DEVICE
@media(max-width: 576px) {
    .signup-section {
        .container-row {
            // RIGHT PANE
            .right-pane {
    
                .right-pane-content {
                    padding: 10% 0;
                    width: 80%;
    
                    .brand-mockup {
                        position: relative;
                        width: 150px;
                        height: 42px;
                        margin-bottom: 13px;
                    }
    
                    .section-one {
                        margin-bottom: 12px;
                        h3 {
                            font-weight: 500;
                            font-size: 16.5px;
                            line-height: 20px;
                            letter-spacing: 0.03em;
                        }
                    }
    
                    .section-two {
                        h4 {
                            font-size: 13px;
                            line-height: 12px;
                            letter-spacing: 0.03em;
                        }
                    }
    
                    .section-three {
                        margin-top: 15px;
                        form {
                            label {
                                font-weight: 400;
                                font-size: 10.5px;
                                line-height: 14px;
                            }
                            .fullname {
                                flex-flow: column wrap;
                                justify-content: center;
                                .firstname, .lastname {
                                    width: 100%;
                                }
                                .lastname {
                                    margin-top: 15px;
                                }
                            }
                            input, .input-group-text {
                                font-size: 12.5px !important;
                            }
                            button {
                                font-weight: 600 !important;
                                padding: 12px 25px !important;
                                font-size: 11px !important;
                            }
                        }
                    }
    
                }
            }
        }
    }
}

// EXTRA SMALL DEVICE
@media(max-width: 450px) {
    .signup-section {
        .container-row {
            // RIGHT PANE
            .right-pane {
    
                .right-pane-content {
                    padding: 10% 0;
                    width: 90%;
    
                    .brand-mockup {
                        position: relative;
                        width: 140px;
                        height: 35px;
                        margin-bottom: 12px;
                    }
    
                    .section-one {
                        margin-bottom: 10px;
                        h3 {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: 0.03em;
                        }
                    }
    
                    .section-two {
                        h4 {
                            font-size: 12px;
                            line-height: 13px;
                            letter-spacing: 0.03em;
                        }
                    }
    
                    .section-three {
                        margin-top: 15px;
                        form {
                            label {
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 14px;
                            }
                            .fullname {
                                flex-flow: column wrap;
                                justify-content: center;
                                .firstname, .lastname {
                                    width: 100%;
                                }
                                .lastname {
                                    margin-top: 15px;
                                }
                            }
                            input, .input-group-text {
                                font-size: 12px !important;
                            }
                            button {
                                font-weight: 600 !important;
                                padding: 12px 25px !important;
                                font-size: 10px !important;

                            }
                        }
                    }
    
                }
            }
        }
    }
}