.school-teacher-section {
    position: relative;
    top: 60px;

    .container {
        @include breakpoint_max(sm) {
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

    // ALERT CARD
    .alert-card-component {
        margin-bottom: 20px;
    }

    .pagination-section-component {
        margin-top: -20px;
        margin-bottom: 40px;

        @include breakpoint_max(md) {
            margin-bottom: 90px;
        }
    }
}