.calendar-border {
    border: 1px solid $border_grey;
}

.calendar-plugin-section {
    padding-right: 20px;

    @include breakpoint_max(lg) {
        width: 110% !important;
    }

    @include breakpoint_max(md) {
        padding-right: 0px;
        width: 100% !important;
    }

    .calendar-plugin {
        box-sizing: border-box;
        padding: 25px 20px 20px;
        margin-bottom: 27px;
        transition: all .3s ease-in-out;
        animation: panel-slide-down .5s ease-in-out forwards;

        @include breakpoint_max(lg) {
            padding: 18px 15px;
        }

        @include breakpoint_max(md) {
            padding: 25px 20px 20px;
        }

        .date-view {
            margin-bottom: 22.5px;
            @include flex_row_between_nowrap;
        }

        .left-nav,
        .right-nav,
        .date-display {
            transition: all .3s ease-in-out;

            &:hover {
                color: $brand_primary !important;
            }
        }

        .date-display {
            &:hover {
                color: $brand_accent !important
            }

            @include breakpoint_max(lg) {
                font-size: 14px;
            }
        }

        // CALENDAR DIVIDER
        .calendar-divider {
            height: 6px;
            border-top: 1px solid $border_grey;
            border-bottom: 1px solid $border_grey;
        }

        // CREATE NEW SECTION
        .create-view {
            @include flex_row_start_nowrap;
            width: 40%;
            margin-top: 20px;
            margin-bottom: 0px;
        }

    }

    .dropdown-btn-menu {
        width: 220px;
        left: 8px;
        top: 385px
    }
}