// Application color pallette //
$brand_primary: #2a4f77;
$brand_primary_light: rgba($brand_primary, .25);
$brand_accent: #FAA017;
$brand_accent_light: #FCEACF;
$brand_inverse: #11bdcf;
$brand_inverse_light: #dbf5f8;
$brand_black: #07374B;
$brand_green: #60D2B0;
$brand_red: #FE747D;
$brand_red_light: #FFDCDE;
$color_text: #353535;
$color_white: #f5f5f5;
$color_grey_dark: #757575;
$color_grey_light: #c5c5c5;
$border_grey: #d5d5d5;
$border_grey_light: #E5E5E5;
$border_grey_dark: #959595;
$brand_navy: #113255;
$brand_tonic: #F6515B;
$color_mid_blue: #004680;
$color_deep_blue: #033966;
$color_ash: #555555;
$color_ash_lighter: #a8a8a8;
$off_white: #ebebeb;
$brand_white: #f4f4f4;
$pale_orange: #FCEACF;

// App Color Pallete
$app-color: () !default;
$app-color: map-merge(("brand_primary": $brand_primary,
        "brand_primary_light": $brand_primary_light,
        "brand_accent": $brand_accent,
        "brand_accent_light": $brand_accent_light,
        "brand_inverse": $brand_inverse,
        "brand_inverse_light": $brand_inverse_light,
        "brand_black": $brand_black,
        "brand_green": $brand_green,
        "brand_red": $brand_red,
        "brand_red_light": $brand_red_light,
        "color_text": $color_text,
        "color_white": $color_white,
        "color_grey_dark": $color_grey_dark,
        "color_grey_light": $color_grey_light,
        "border_grey": $border_grey,
        "border_grey_light": $border_grey_light,
        "border_grey_dark": $border_grey_dark,
        "brand_navy": $brand_navy,
        "brand_tonic": $brand_tonic,
        "color_deep_blue": $color_deep_blue,
        "color_mid_blue": $color_mid_blue,
        "color_ash": $color_ash,
        "off_white": $off_white,
        "color_ash_lighter": $color_ash_lighter,
        "brand_white": $brand_white,
        "pale_orange": $pale_orange), $app-color);

/*------------------------------------*\
	App Color Palette
\*------------------------------------*/
@each $color_name,
$color in $app-color {
    .#{$color_name} {
        color: $color !important;
    }

    .#{$color_name}_bg {
        background-color: $color !important;
    }

    .border_#{$color_name} {
        border: 1px solid $color !important;
    }
}

/*-----------------------*\
	TRANSPARENT BG
\*-----------------------*/
.transparent_bg {
    background-color: transparent !important;
}


/*------------------------------------*\
	Social Brand Color Palette
\*------------------------------------*/
$facebook_color : hsla(222, 47%, 40%, 1); // #365397
$twitter_color : hsla(198, 100%, 47%, 1); // #00a9f1
$linkedin_color : hsla(203, 100%, 35%, 1); // #006db3
$apple_color : hsla(0, 0%, 45%, 1); // #737373
$google_color : hsla(217, 89%, 61%, 1); // #4285f4
$google_plus_color : hsla(8, 74%, 53%, 1); // #e0452c
$youtube_color : hsla(0, 100%, 60%, 1); // #ff3333
$vimeo_color : hsla(200, 82%, 61%, 1); // #48b6ed
$pinterest_color : hsla(0, 78%, 45%, 1); // #ce1a19
$yelp_color : hsla(5, 100%, 38%, 1); // #c30f00
$dribbble_color : hsla(338, 82%, 60%, 1); // #ed4584
$amazon_color : hsla(36, 100%, 50%, 1); // #ff9700
$ebay_color : hsla(219, 89%, 30%, 1); // #083790
$skype_color : hsla(198, 100%, 48%, 1); // #00acf4
$instagram_color : hsla(208, 46%, 41%, 1); // #396d9a
$dropbox_color : hsla(206, 89%, 46%, 1); // #0d84de
$flickr_color : hsla(334, 100%, 46%, 1); // #ea0066
$github_color : hsla(0, 0%, 18%, 1); // #2f2f2f
$basecamp_color : hsla(121, 38%, 58%, 1); // #6bbd6d
$tumblr_color : hsla(210, 37%, 30%, 1); // #304c68
$foursquare_color : hsla(206, 72%, 45%, 1); // #207dc5
$box_color : hsla(204, 83%, 40%, 1); // #1277bc

$social-color: () !default;
$social-color: map-merge(("facebook": $facebook_color,
        "twitter": $twitter_color,
        "linkedin": $linkedin_color,
        "apple": $apple_color,
        "google": $google_color,
        "google-plus": $google_plus_color,
        "youtube": $youtube_color,
        "vimeo": $vimeo_color,
        "pinterest": $pinterest_color,
        "yelp": $yelp_color,
        "dribble": $dribbble_color,
        "amazon": $amazon_color,
        "ebay": $ebay_color,
        "skype": $skype_color,
        "instagram": $instagram_color,
        "dropbox": $dropbox_color,
        "flickr": $flickr_color,
        "github": $github_color,
        "basecamp": $basecamp_color,
        "tumblr": $tumblr_color,
        "foursquare": $foursquare_color,
        "box": $box_color,
    ), $social-color);

@each $color_name,
$color in $social-color {
    .#{$color_name} {
        color: $color !important;
    }

    .#{$color_name}_bg {
        background-color: $color !important;
    }
}