// ANIMATIONS
@keyframes panel-slide-down{
    0%,30% { 
        margin-top:-20px;
        opacity:0
    }
    to {
        margin-top:0;
        opacity:1
    }
}

@keyframes panel-slide-right{
    0%,30% { 
        margin-top: -30px;
        margin-right:-25px;
        opacity:0
    }
    to {
        // margin-top:0;
        opacity:1
    }
}

@keyframes panel-slide-left{
    0%,30% { 
        margin-top: -30px;
        margin-left:-25px;
        opacity:0
    }
    to {
        // margin-top:0;
        opacity:1
    }
}

// OVERLAY
.box-overlay {
    position: absolute;
    @include section_stretch();
}

// BADGE
.badge-circle {
    position: absolute;
    display: inline-block;
    @include equal_min_edge(8);
    border-radius: 50%;
}

.badge-sm {
    @include equal_min_edge(16);
}

// DONE AND UN-DONE SELECTION
.undone, .done {
    position: relative;
    @include equal_min_edge(16.5);
    border-radius: 50%;
    border: 1px solid #C5C5C5;
    box-sizing: border-box;

    &:after {
        content: "\f067";
        @include transform_center;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        color: $brand_accent;
        font-size: 7.5px;
    }

    ~.label-text {
        color: $border_grey_light;
    }
}

.done {
    @include equal_min_edge(15.5);
    border: 0px solid transparent;
    background-color: $brand_inverse;

    &:after {
        content: "\f00c";
        color: #ffffff;
    }

    ~.label-text {
        color: $brand_inverse;
    }
}

.undone-md,
.done-md {
    @include equal_min_edge(26);

    &:after {
        font-size: 9px;
    }
}

// SMALL CARDS
.activity-card {
    background: #FFFFFF;
    border-radius: 5px;
    height: auto;
    margin-bottom: 10px;
    padding: 14px 16px;

    .card-row {
        @include flex_row_between_nowrap;
    }
}

// DROPDOWN BUTTON
.dropdown-btn {
    position: relative;
    width: auto;
    background: $brand_inverse_light;
    border: 1px solid $brand_inverse;
    box-sizing: border-box;
    border-radius: 55px;
    padding: 12px 17px;
    color: $color_text;
    font-size: 14px;
    line-height: 19px;

    .dropdown-btn-toggler {
        background-image: url(../img/icons/caret-down.svg);
        @include equal_min_edge(9);
        vertical-align: middle;
        margin: auto;
        fill: inherit;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.dropdown-btn-menu {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    z-index: 1000;
    height: auto;
    width: 100%;
    padding: 10px;
    padding-bottom: 0 !important;
    margin: 0;
    border-radius: 5px;
    color: $color_grey_dark;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(rgb(104, 104, 104),0.1), 0 3px 5px 0 rgba(rgb(104, 104, 104),0.2);
    transition: all .6s ease-in-out;
    animation: panel-slide-down .5s ease-in-out forwards;
    overflow: hidden;
    border: none;

    @include breakpoint_max(xs) {
        padding: 4px;
    }

    li {
        a {
            padding: 10px;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            font-size: 13.25px;
            color: $color_ash;
            text-transform: capitalize;
            line-height: normal;
            white-space: nowrap;

            &:last-of-type {
                margin-bottom: -2.5px !important;
            }

            @include breakpoint_max(sm) {
                font-size: 12px;
                padding: 8px;
            }

            @include breakpoint_max(xs) {
                font-size: 11px;
                padding: 7.5px;
            }

            &:hover {
                background: rgba($brand_inverse, .15);
                color: $brand_black;
            }
        }
    }
}

// DROP-DOWN PLACEMENT
.placement-top {
    top: -290% !important;
}

.placement-bottom {
    top: 90%;
}

// SLIDE OUT MENU
.slide-out-menu {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000;
    height: auto;
    padding: 20px;
    padding-bottom: 0px;
    margin: 0;
    border-radius: 5px;
    color: $color_ash;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(rgb(104, 104, 104),0.1), 0 3px 5px 0 rgba(rgb(104, 104, 104),0.2);
    overflow: hidden;
    border: none;

    .panel-row {
        margin-bottom: 23px;
    }

    li {
        padding: 15px 10px;
        width: 100%;
        text-transform: capitalize;
        font-size: 13.5px;
        line-height: 19px;
        white-space: nowrap;

        @include breakpoint_max(lg) {
            padding: 13px 8px;
        }

        &:last-of-type {
            margin-bottom: -2.5px !important;
        }

        &:hover {
            background: rgba($brand_inverse, .15);
            color: $brand_black;
        }
    }
}


// ACCORDION STYLING
.accordion-top {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 14px 15px;
    z-index: 9;
    @include flex_row_between_nowrap;
}

.accordion-bottom {
    position: relative;
    top: -5px;
    width: 100%;
    height: auto;
    background-color: transparent;
    border: 1.2px solid $border_grey;
    border-radius: 0 0 5px 5px;
    transition: all .6s ease-in-out;
    animation: panel-slide-down .5s ease-in-out forwards;
    overflow-x: hidden;
    padding: 19px 10px 30px;
}

// BRANCH CARD
.branch-card {
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    width: 210px;
    height: auto;
    padding: 16px 15px;
    margin-right: 20px;

    @include breakpoint_max(lg) {
        @include custom_min_edge(190, 160);
    }

    @include breakpoint_max(sm) {
        @include custom_min_edge(190, 150);
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: $brand_accent;
        border-radius: 5px 5px 0 0;
    }

    .branch-card-header {
        position: relative;
        @include flex_row_between_nowrap;
        margin-bottom: 19px;

        .branch-card-title {
            font-weight: bold;
            line-height: 22px;
            color: $color_text;

            @include breakpoint_max(lg) {
                font-size: 15px;
            }

            @include breakpoint_max(sm) {
                font-size: 13px;
            }
        }

        .branch-card-option {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .branch-card-code {
        position: relative;
        width: auto;
        text-overflow: ellipsis;
        padding: 6px 8px;
        background: $color_white;
        border-radius: 3px;
        color: $color_grey_dark;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 35px;

        @include breakpoint_max(lg) {
            font-size: 13px;
        }

        @include breakpoint_max(sm) {
            margin-bottom: 22px;
            font-size: 12px;
        }
    }

    .branch-card-icon-row {
        @include flex_row_between_nowrap;
        padding-left: 13px;
        padding-right: 13px;
        margin-bottom: 0px;
    }
}

//DASHBOARD PAGE STYLING
.dashboard-header-row {
    @include flex_row_between_nowrap;
    margin-top: 50px;
    margin-bottom: 40px;

    @include breakpoint_max(sm) {
        margin-top: 40px;
    }

    .page-title {
        font-weight: bold;
        font-size: 32px;
        line-height: 165%;
        color: $color_text;

        @include breakpoint_max(lg) {
            font-size: 30px;
        }

        @include breakpoint_max(md) {
            font-size: 27px;
        }

        @include breakpoint_max(sm) {
            font-size: 21px;
        }
    }
}

// TODO CARD AND ALERT CARD
.todo-card, .alert-card {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border: none;
    width: 100%;
    height: auto;
    overflow: hidden;

    &:hover {
        background-color: #f8f8f8;
    }
    
    .todo-label, .alert-label {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 6px;
        height: 100%;
    }

    .todo-row, .alert-row {
        @include flex_row_between_nowrap;
        padding: 8px 20px;
    }
}

// ALERT CARD
.alert-card {
    border-radius: 5px;

    &:hover{ background-color: #FFFFFF; }
    .alert-row { 
        padding: 11px 26px; 
        font-size: 14px;
        line-height: 19px;
        color: $color_text;

        @include breakpoint_max(md) {
            font-size: 13px;
        }

        @include breakpoint_max(sm) {
            font-size: 12px;
        }
    }
}

// TEACHERS CARD
.teacher-card {
    position: relative;
    width: 100%;
    height: 226.84px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: none;
    margin-bottom: 30px;
    overflow: hidden;

    @include breakpoint_max(xl) {
        height: 220px;
    }

    @include breakpoint_max(md) {
        overflow: unset;
        height: 210px;
    }

    @include breakpoint_max(sm) {
        height: 160px;
    }

    .teacher-card-top {
        position: relative;
        top:0;
        left: 0;
        width: 100%;
        padding: 30.84px 15px 22px;
        @include flex_column_center;

        .avatar {
            margin-bottom: 20px;
        }

        .card-option {
            position: absolute;
            margin: 25px auto 0;
            top: 0;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            width: 90%;

            @include breakpoint_max(xs) {
                width: 88%;
            }
        }
    }

    .teacher-card-bottom {
        position: relative;
        @include flex_row_between_nowrap;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30.86%;
        background-color: #FCEACF;
        padding: 14px 70px;

        @include breakpoint_max(xl) {
            padding: 10px 45px;
        }

        @include breakpoint_max(md) {
            padding: 5px 65px;
        }

        @include breakpoint_max(sm) {
            display: none;
        }

        .teacher-column {
            @include flex_column_center;
            margin-bottom: 7px;

            @include breakpoint_max(xl) {
                margin-bottom: 6px;
            }
        }
    }
}

// VERIFICATION CARD
.verify-card {
    @include flex_row_between_nowrap;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    background: #FFFFFF;
    border-radius: 2px;
    width: 100%;
    height: auto;
    padding: 15px;
    padding-right: 3px;
    margin-bottom: 5px;

    @include breakpoint_max(md) {
        padding: 10px;
        padding-right: 3px;
        padding-left: 13px;
    }

    .verify-detail {
        @include flex_row_start_nowrap;
        padding-right: 15px;
    }

    .verify-action {
        @include flex_row_between_wrap;

        @include breakpoint_max(lg) {
            @include flex_column_center;
        }

        .approve-box {
            background-color: #DBF5F8;
            margin-right: 15px;
            transition: background-color .3s ease-in-out;
            &:hover{background-color: darken(#DBF5F8, 10%) }

            @include breakpoint_max(lg) {
                margin-right: 0px;
                margin-bottom: 5px;
            }
        }
        
        .decline-box {
            background-color: #FFDCDE;
            margin-left: 15px;
            transition: background-color .3s ease-in-out;
            &:hover{background-color: darken(#FFDCDE, 5%)}

            @include breakpoint_max(lg) {
                margin-left: 0px;
                margin-top: 5px;
            }
        }
    }
}

// INDICATORS
.indicator-icon {
    position: relative;
    @include equal_min_edge(15);
    border-radius: 45px;
}