// ANIMATIONS
@keyframes panel-slide-down {

    0%,
    30% {
        margin-top: -20px;
        opacity: 0
    }

    to {
        margin-top: 0;
        opacity: 1
    }
}

@keyframes panel-slide-up {

    0%,
    30% {
        margin-bottom: -30px;
        opacity: 0
    }

    to {
        margin-bottom: 0;
        opacity: 1
    }
}

@keyframes panel-slide-right {

    0%,
    30% {
        margin-top: -30px;
        margin-right: -25px;
        opacity: 0
    }

    to {
        // margin-top:0;
        opacity: 1
    }
}

@keyframes panel-slide-left {

    0%,
    30% {
        margin-top: -30px;
        margin-left: -25px;
        opacity: 0
    }

    to {
        // margin-top:0;
        opacity: 1
    }
}

// OVERLAY
.box-overlay {
    position: absolute;
    @include section_stretch();
}

// BADGE
.badge-circle {
    position: absolute;
    display: inline-block;
    @include equal_min_edge(8);
    border-radius: 50%;
}

.badge-sm {
    @include equal_min_edge(16);
}

// DONE AND UN-DONE SELECTION
.undone,
.done {
    position: relative;
    @include equal_min_edge(16.5);
    border-radius: 50%;
    border: 1px solid $color_grey_light;
    box-sizing: border-box;

    &:after {
        content: "\e93c";
        @include transform_center;
        font-family: "icomoon";
        font-weight: 600;
        color: $brand_accent;
        font-size: 9.5px;
    }

    ~.label-text {
        color: $color_grey_dark;
    }
}

.done {
    @include equal_min_edge(15.5);
    border: 0px solid transparent;
    background-color: $brand_inverse;

    &:after {
        content: "\e900";
        color: #ffffff;
    }

    ~.label-text {
        color: $brand_inverse;
    }
}

.undone-md,
.done-md {
    @include equal_min_edge(26);

    &:after {
        font-size: 9px;
    }
}


// DROPDOWN BUTTON
.dropdown-btn {
    position: relative;
    width: auto;
    background: $brand_inverse_light;
    border: 1px solid $brand_inverse;
    box-sizing: border-box;
    border-radius: 55px;
    padding: 12px 17px;
    color: $color_text;
    font-size: 14px;
    line-height: 19px;

    .dropdown-btn-toggler {
        background-image: url(../img/icons/caret-down.svg);
        @include equal_min_edge(9);
        vertical-align: middle;
        margin: auto;
        fill: inherit;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.dropdown-btn-menu {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    z-index: 1000;
    height: auto;
    width: 100%;
    padding: 10px;
    padding-bottom: 0 !important;
    margin: 0;
    border-radius: 5px;
    color: $color_grey_dark;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(rgb(104, 104, 104), 0.1), 0 3px 5px 0 rgba(rgb(104, 104, 104), 0.2);
    transition: all .6s ease-in-out;
    animation: panel-slide-down .5s ease-in-out forwards;
    overflow: hidden;
    border: none;

    @include breakpoint_max(xs) {
        padding: 4px;
    }

    li {
        a {
            padding: 10px;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            font-size: 13.25px;
            color: $color_ash;
            text-transform: capitalize;
            line-height: normal;
            white-space: nowrap;

            &:last-of-type {
                margin-bottom: -2.5px !important;
            }

            @include breakpoint_max(sm) {
                font-size: 12px;
                padding: 8px;
            }

            @include breakpoint_max(xs) {
                font-size: 11px;
                padding: 7.5px;
            }

            &:hover {
                background: rgba($brand_inverse, .15);
                color: $brand_black;
            }
        }
    }
}

// DROP-DOWN PLACEMENT
.placement-top {
    top: -180% !important;
}

.placement-bottom {
    top: 90%;
}

.placement-bottom-top {
    bottom: 100%;
}

// SLIDE OUT MENU
.slide-out-menu {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000;
    height: auto;
    padding: 20px;
    padding-bottom: 0px;
    margin: 0;
    border-radius: 5px;
    color: $color_ash;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(rgb(104, 104, 104), 0.1), 0 3px 5px 0 rgba(rgb(104, 104, 104), 0.2);
    overflow: hidden;
    border: none;

    .panel-row {
        margin-bottom: 23px;
    }

    li {
        padding: 15px 10px;
        width: 100%;
        text-transform: capitalize;
        font-size: 13.5px;
        line-height: 19px;
        white-space: nowrap;

        @include breakpoint_max(lg) {
            padding: 13px 8px;
        }

        &:last-of-type {
            margin-bottom: -2.5px !important;
        }

        &:hover {
            background: rgba($brand_inverse, .15);
            color: $brand_black;
        }
    }
}


// ACCORDION STYLING
.accordion-top {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 14px 15px;
    z-index: 1;
    @include flex_row_between_nowrap;
}

.accordion-bottom {
    position: relative;
    top: -5px;
    width: 100%;
    height: auto;
    background-color: transparent;
    border: 1.2px solid $border_grey;
    border-radius: 0 0 5px 5px;
    transition: all .6s ease-in-out;
    animation: panel-slide-down .5s ease-in-out forwards;
    overflow-x: hidden;
    padding: 19px 10px 30px;
}

//DASHBOARD PAGE STYLING
.dashboard-header-row {
    @include flex_row_between_nowrap;
    margin-top: 50px;
    margin-bottom: 40px;

    @include breakpoint_max(sm) {
        margin-top: 40px;
    }

    .page-title {
        font-weight: bold;
        font-size: 32px;
        line-height: 165%;
        color: $color_text;

        @include breakpoint_max(lg) {
            font-size: 30px;
        }

        @include breakpoint_max(md) {
            font-size: 27px;
        }

        @include breakpoint_max(sm) {
            font-size: 21px;
        }
    }

    .avatar {
        .icon {
            @include transform_center;
            font-size: 22px;
            transition: color .3s ease-in-out;

            &-one {
                color: $color_text;
            }

            &-two {
                color: $brand_primary;
            }

        }

        &:hover {
            .icon {
                color: #fff;
            }
        }
    }
}


// ADD A NEW ITEM
.add-new-item {
    @include flex_row_start_nowrap;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 25%;

    @include breakpoint_max(lg) {
        width: 50%;
    }

    @include breakpoint_max(md) {
        width: 40%;
    }

    @include breakpoint_max(sm) {
        width: 50%;
    }

    .undone {
        @include equal_min_edge(26);
        margin-right: 10px;
        transition: all .2s ease-in-out;
    }

    .label-text {
        font-size: 14px;
        line-height: 16px;
        transition: all .2s ease-in-out;

        @include breakpoint_max(sm) {
            font-size: 13px;
        }
    }

    &:hover {
        .undone {
            border: 1px solid $brand_primary;
        }

        .label-text {
            color: $brand_primary !important;
        }
    }
}

// INDICATORS
.indicator-icon {
    position: relative;
    @include equal_min_edge(15);
    border-radius: 45px;
}

// LINE SEPARATOR
.line-separator {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    border-top: 1px solid $border_grey;
    width: 99%;
}

// PROGRESS BAR
.progress {
    background: #DDF1FA;
    border-radius: 50px;
    height: 8px;

    .progress-bar {
        width: 50%;
        background: $brand_green;
    }
}

// BASE TYPE AND SUB TYPE LAYOUT 
.base-type-layout,
.sub-type-layout {
    position: relative;
    top: 60px;

    .container {
        @include breakpoint_max(sm) {
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }
}

.sub-type-layout {
    top: 160px;

    @include breakpoint_max(md) {
        top: 90px;
    }
}