/* SVG Icon systems */
.cust_icon {
  display: inline-block;
  @include equal_min_edge(24);
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

svg {
  display: inline-block;
  width: 100%;
}

.icon_xxs {
  @include equal_min_edge(9);
}

.icon_xs {
  @include equal_min_edge(16);
}

.icon_sm {
  @include equal_min_edge(32);
}

.icon_md {
  @include equal_min_edge(48);
}

.icon_lg {
  @include equal_min_edge(64);
}

.icon_eye {
  background-image: url(../img/icons/show.svg);

  .show_pass & {
    background-image: url(../img/icons/hide.svg);
  }
}