/* SVG Icon systems */
.cust_icon {
  display: inline-block;
  @include equal_min_edge(24);
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

svg {
    display: inline-block;
    width: 100%;
}

.icon_xxs {
  @include equal_min_edge(9);
}

.icon_xs {
  @include equal_min_edge(16);
}

.icon_sm_mid {
  @include equal_min_edge(20);
}

.icon_sm_22 {
  @include equal_min_edge(22);

  @include breakpoint_max(sm) {
    @include equal_min_edge(20);
  }
}

.icon_sm {
  @include equal_min_edge(32);
}

.icon_md {
  @include equal_min_edge(48);
}

.icon_lg {
  @include equal_min_edge(64);
}

.icon_xl {
    width: 64px;
    height: 64px;
}

.currency {
    font-style: normal;
    &::before {
        font-size: .65em;
        color: $color_text;
        font-family: sans-serif;
        line-height: 1;
        vertical-align: text-top;
        margin-right: -5px;
    }
}

.naira::before {
    content: "\20A6";
}

.icon_info {
  background-image: url(../img/icons/info.svg);
}

.icon_parent {
  background-image: url(../img/icons/parents.svg);
}

.icon_teacher {
  background-image: url(../img/icons/teacher.svg);
}

.icon_curriculum {
  background-image: url(../img/icons/curriculum.svg);
}

.icon_student {
  background-image: url(../img/icons/student.svg);
}

.icon_class {
  background-image: url(../img/icons/class.svg);
}

.icon_book {
  background-image: url(../img/icons/book.svg);
}

.icon_video {
  background-image: url(../img/icons/play.svg);
}

.icon_comment {
  background-image: url(../img/icons/commentary.svg);
}

.icon_arrow_right {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/arrow-right.svg);
}

.icon_arrow_right_white {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/arrow-right-white.svg);
}

.icon_close {
  background-image: url(../img/icons/close.svg);
}

.icon_eye {
  background-image: url(../img/icons/show.svg);

  .show_pass & {
    background-image: url(../img/icons/hide.svg);
  }
}

.icon_user {
  background-image: url(../img/icons/user_outline.svg);
  width: 18px;
  height: 18px;

  .itemTop & {
    background-image: url(../img/icons/user_filled.svg);
  }
}

.icon_on {
  background-image: url(../img/icons/done.svg);
}

.icon_off {
  background-image: url(../img/icons/wrong.svg);
}

.icon_file {
  background-image: url(../img/icons/file.svg);
}

.icon_sample {
  background-image: url(../img/icons/file-text.svg);
}

.icon_reply {
  background-image: url(../img/icons/reply.svg);
}

.icon_phone {
  background-image: url(../img/icons/smartphone.svg);
}

.icon_map {
  background-image: url(../img/icons/map.svg);
}

.icon_calendar {
  background-image: url(../img/icons/calendar.svg);
}

.icon_inbox {
  background-image: url(../img/icons/inbox.svg);
}

.icon_play {
  background-image: url(../img/icons/play-button.svg);
}

.icon_difficulty {
  background-image: url(../img/icons/difficulty.svg);
}

.icon_timer {
  background-image: url(../img/icons/duration.svg);
}

.icon_date {
  background-image: url(../img/icons/calendar_white.svg);
}

.calendar_accent_icon {
  background-image: url(../img/icons/calendar_accent.svg);
}

.caret_right_icon {
  background-image: url(../img/icons/caret-right.svg);
}

.caret_down_icon {
  background-image: url(../img/icons/caret-down.svg);
}

.home_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/home-icon.svg);
}

.home_icon_color {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/home-icon-color.svg);
}

.teacher_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/teacher-icon.svg);
}

.teacher_icon_color {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/teacher-icon-color.svg);
}

.parent_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/parent-icon.svg);
}

.parent_icon_color {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/parent-icon-color.svg);
}

.message_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/message-icon.svg);
}

.message_icon_color {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/message-icon-color.svg);
}

.search_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/search-icon.svg);
}

.search_icon_color {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/search-icon-color.svg);
}

.bell_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/bell-icon.svg);
}

.bell_icon_color {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/bell-icon-color.svg);
}

.gear_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/settings-icon.svg);
}

.gear_icon_color {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/settings-icon-color.svg);
}

.gear_light_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/settings-icon-light.svg);
}

.gear_inverse_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/settings-inverse-icon.svg);
}

.h-ellipsis-icon {
  background-image: url(../img/icons/ellipsis-h.svg);
}

.callout_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/callout.svg);
}

.callout_accent_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/callout-accent.svg);
}

.library_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/library.svg);
}

.library_accent_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/library-accent.svg);
}

.pie_chart_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/pie-chart.svg);
}

.pie_chart_accent_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/pie-chart-accent.svg);
}

.school_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/school-new.svg);
}

.school_inverse_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/school-inverse-new.svg);
}

.sliders_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/sliders.svg);
}

.sliders_inverse_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/sliders-inverse.svg);
}

.help_circle_icon {
  background-image: url(../img/icons/help-circle.svg);
}

.log_out_icon {
  background-image: url(../img/icons/log-out.svg);
}

.plus_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/plus-icon.svg);
}

.plus_icon_light {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/plus-icon-light.svg);
}

.accept_icon_primary {
  background-image: url(../img/icons/accept-icon-primary.svg);
}

.accept_icon_accent {
  background-image: url(../img/icons/accept-icon-accent.svg);
}

.decline_icon_tonic {
  background-image: url(../img/icons/decline-icon.svg);
}

.filter_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/filter-icon.svg);
}

.filter_icon_light {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/filter-icon-light.svg);
}

.chat_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/chat-icon.svg);
}

.chat_icon_dark {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/chat-icon-dark.svg);
}

.email_icon {
  background-image: url(../img/icons/email-icon.svg);
}

.email_primary {
  background-image: url(../img/icons/envelope-blue.svg);
}

.telephone_icon {
  background-image: url(../img/icons/telephone-icon.svg);
}

.telephone_primary {
  background-image: url(../img/icons/telephone-blue.svg);
}

.map_pin_primary {
  background-image: url(../img/icons/map-pin-blue.svg);
}

.link_primary {
  background-image: url(../img/icons/link-blue.svg);
}

.user_circle_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/user-circle.svg);
}

.user_circle_inverse_icon {
  transition: all .3s ease-in-out;
  background-image: url(../img/icons/user-circle-inverse.svg);
}

.camera_inverse_icon {
  background-image: url(../img/icons/camera-inverse.svg);
}