.dropdown-menu {
    font-size: 1em;
    box-sizing: border-box;
    visibility: hidden;
    z-index: 1000;
    max-width: 460px;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    color: $color_grey_dark;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(black,0.1), 0 3px 10px 0 rgba(black,0.2);
    transition: all .6s ease-in-out;
    animation: panel-slide-down .6s ease-in-out forwards;
    overflow: hidden;
    border: none;

    .btn_user_act & {
        min-width: 200px;
    }

    .btn-block + & {
        width: 100%;
    }
    
    &.show {
        visibility: visible;
    }

    li {
        display: block;
        padding: 0;
        margin:0;

        > *, > a {
            padding: 10px;
            display: flex;
            width: 100%;
            font-size: 14px;
            color: $color_text;
            text-transform: capitalize;
            line-height: normal;
            align-items: center;
            white-space: nowrap;

            &:hover {
                background: rgba($brand_inverse, .15);
                color: $brand_black;
            }
        }

        .cust_icon {
            width: 24px;
            height: 24px;
        }
    }
}

@keyframes panel-slide-down{
    0%,30% { 
        margin-top:-15px;
        opacity:0
    }
    to {
        margin-top:0;
        opacity:1
    }
}

.dropdown-toggle::after {
    display: none;
}

.tooltip .arrow::before {
    border-top-color: $brand_primary !important;
}

.tooltip-inner {
    font-size: 12px;
    background-color: rgba($brand_primary, .90);
    border-radius: 5px;
    padding: 6px 12px;
}

.caret {
    display: inline-flex;
    margin-left: 4px;

    &:after {
        vertical-align: .255em;
        content: "";
        border-top: .4em solid;
        border-right: .35em solid transparent;
        border-bottom: 0;
        border-left: .35em solid transparent
    }
}


.widget_cta_link {
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.015em;
    color: $brand_accent;
    display: inline-block;
    border-bottom: 1px solid transparent;

    &:hover, &:focus, &:active {
        outline: none;
        text-decoration: none;
        color: $brand_primary;
        border-bottom-color: $color_grey_dark;
    } 
}

.inline_seperator {
    color: inherit;
    opacity: .75;
    font-size: 1.125em;
    vertical-align: middle;
    padding: 0 5px;
    display: inline-block;
}

/* Tables */
table {
    width: 100%;
}

.table {
    margin-bottom: 0;
    
    >thead, tbody {
        >tr {
            >td, >th {
                color: inherit;
                border: none;
                padding: 12px 15px;
                vertical-align: middle;
            } 
        }
    }

    >tbody > tr {
        .table-brand & {
            > td {
                vertical-align: middle;
            }
        }
    }
    
    > thead {
        > tr > th {
            border-bottom: 1px solid $border_grey;
            font-size: 11px;
            text-transform: uppercase;
            color: $border_grey_dark;
        }
    }

    .table {
        background-color: transparent;
    }
}

.table_description {
    min-width: 250px;
    
    @include breakpoint_min(md) {
        font-size: 16px;
    }
}

.table-responsive {
    border: none;

    @include breakpoint_min(lg) {
        overflow: visible;
    }
}

.table-hover {
    >tbody > tr {
        cursor: pointer;
        font-size: 14px;
        cursor: pointer;
        position: relative;
        background-color: white;
        border-bottom: 1px solid $color_white;
        transition: all .4s ease-in-out 0s;
        
        &:hover {
            background-color: $color_white;
        }
    }
}

.postArticle {
    overflow: hidden;
    
    .postContent & {
        font-size: 18px;
    }

    img {
        display: inline-block;
        object-fit: fill;
        object-position: center center;
        text-align: center;
        margin: 20px 0 7.5px;
    }
    
    ol,ul {
        list-style: inherit;
        padding: 10px 20px;

        li {
            display: list-item;
            clear: both;
            padding-bottom: 5px;
        }
    }
    
    ol {
        li {
            list-style: decimal;

            > ol > li {
                list-style: lower-alpha;
            } 
        }
    }
        
    >h2, >h3, >h4 {
        margin: 30px 0 15px;
        text-transform: capitalize;
        font-weight: 700;
    }
    
    a {
        text-decoration: underline;
        color: $brand_primary;
    }

    p:not(:last-of-type) {
        margin-bottom: 1em;
    }
}

.postBlock {
    clear: both;
    padding-bottom: 20px;
}

.submit_widget {
    width: 100%;
    display: block;
    background-color: white;
    position: relative;
}

.widget_fixed_bottom {
    position: fixed;
    bottom: 0;
    z-index: 900;
    left: 0;
    box-shadow: 1px 0 4px rgba($brand_black, .15);
}

.nav_flex_row {
    @include flex_row_between_nowrap;
    padding: 15px 0;
    width: 100%;
    
    .btn + .btn {
        margin-left: 1em;
    }
}

.search_suggestion_widget {
    z-index: 3000;
    width: 100%;
    top: 42px;
    left: 0px;
    position: absolute;
    display: none;

    .has_suggestion & {
        display: block;
    }
}

.widget_wrapper {
    background-color: white;
    border: 1px solid $border_grey_light;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba($brand_black, .15);
    width: 100%;
    height: auto;
}
// Dropdown widget

.widget_select_menu {
    box-sizing: border-box;
    z-index: 1000;
    width: 100%;
    padding: 0;
    
}

.widget_select_header {
    padding: 10px;
}

.select_menu_search {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.search_icon {
    vertical-align: middle;
    margin-right: -20px;
    stroke: $color_grey_light;
    stroke-width: 2;
    position: relative;
    z-index: 10;
    left: 10px;
}

.widget_select_body {
    box-sizing: border-box;
    max-height: 500px;
    overflow: auto;
}

.widget_select_footer {
    text-align: center;
    border-top: 1px solid $brand_inverse_light;
}

.widgetSelectCTA {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    width: 100%;
    line-height: 21px;
    text-transform: uppercase;

    &:hover, &:focus {
        background-color: $brand_accent;
        color: $color_text;
    }
}

/*New psot drawer*/
.post_modal_drawer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    @include flex_row_center_nowrap;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all .6s ease-in-out;
    pointer-events: none;
    
    .is_active & {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}

.post_modal_drawer_backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: rgba($brand_black,.85);
    z-index: -1;
}

.post_modal_drawer_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 100%;
    height: 100%;
    
    @include breakpoint_min(md) {
        width: 40%;
        min-width: 400px;
        max-height: 100%;
        box-shadow: 0 1px 4px 0 rgba($brand_black,.04), 0 2px 2px 0 rgba($brand_black,.08);

        .alert_drawer &{
            max-width: 400px;
            min-width: auto;
        }
    }
}

.drawer_content_wrapper {
    @include flex_column_start;  
    cursor: default;
    background-color: white;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
}

.drawer_header, .drawer_body, .drawer_footer {
    padding: 15px;
    
    @include breakpoint_min(md) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.drawer_body {
    clear: both;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 0;
    padding-bottom: 100px;
}

.drawer_footer {
    border-top: 1px solid $border_grey_light;
    background-color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
}
