@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?weypb9');
	src: url('../fonts/icomoon.eot?weypb9#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?weypb9') format('truetype'),
		url('../fonts/icomoon.woff?weypb9') format('woff'),
		url('../fonts/icomoon.svg?weypb9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-videocam {
	&:before {
		content: "\e95a";
	}
}

.icon-credit-card {
	&:before {
		content: "\e959";
	}
}

.icon-pause {
	&:before {
		content: "\e958";
	}
}

.icon-accept {
	&:before {
		content: "\e900";
	}
}

.icon-add-group {
	&:before {
		content: "\e901";
	}
}

.icon-angle-left {
	&:before {
		content: "\e902";
	}
}

.icon-arrow-left {
	&:before {
		content: "\e903";
	}
}

.icon-arrow-right {
	&:before {
		content: "\e904";
	}
}

.icon-bar-chart {
	&:before {
		content: "\e905";
	}
}

.icon-bar-highest {
	&:before {
		content: "\e906";
	}
}

.icon-bar-lowest {
	&:before {
		content: "\e907";
	}
}

.icon-bell {
	&:before {
		content: "\e908";
	}
}

.icon-book {
	&:before {
		content: "\e909";
	}
}

.icon-briefcase {
	&:before {
		content: "\e90a";
	}
}

.icon-calendar {
	&:before {
		content: "\e90b";
	}
}

.icon-callout {
	&:before {
		content: "\e90c";
	}
}

.icon-camera {
	&:before {
		content: "\e90d";
	}
}

.icon-caret-down {
	&:before {
		content: "\e90e";
	}
}

.icon-caret-fill-down {
	&:before {
		content: "\e90f";
	}
}

.icon-caret-fill-left {
	&:before {
		content: "\e910";
	}
}

.icon-caret-fill-right {
	&:before {
		content: "\e911";
	}
}

.icon-caret-fill-up {
	&:before {
		content: "\e912";
	}
}

.icon-caret-left {
	&:before {
		content: "\e913";
	}
}

.icon-caret-right {
	&:before {
		content: "\e914";
	}
}

.icon-chat {
	&:before {
		content: "\e915";
	}
}

.icon-chat-card {
	&:before {
		content: "\e916";
	}
}

.icon-classboard {
	&:before {
		content: "\e917";
	}
}

.icon-clock {
	&:before {
		content: "\e918";
	}
}

.icon-close {
	&:before {
		content: "\e919";
	}
}

.icon-commentary {
	&:before {
		content: "\e91a";
	}
}

.icon-comment-chat {
	&:before {
		content: "\e91b";
	}
}

.icon-curriculum {
	&:before {
		content: "\e91c";
	}
}

.icon-decline {
	&:before {
		content: "\e91d";
	}
}

.icon-ellipsis-h {
	&:before {
		content: "\e91e";
	}
}

.icon-email {
	&:before {
		content: "\e91f";
	}
}

.icon-feeds {
	&:before {
		content: "\e920";
	}
}

.icon-file {
	&:before {
		content: "\e921";
	}
}

.icon-file-text {
	&:before {
		content: "\e922";
	}
}

.icon-filter-icon {
	&:before {
		content: "\e923";
	}
}

.icon-gear {
	&:before {
		content: "\e924";
	}
}

.icon-gear-fill {
	&:before {
		content: "\e925";
	}
}

.icon-help-circle {
	&:before {
		content: "\e926";
	}
}

.icon-hide {
	&:before {
		content: "\e927";
	}
}

.icon-image {
	&:before {
		content: "\e928";
	}
}

.icon-inbox {
	&:before {
		content: "\e929";
	}
}

.icon-info {
	&:before {
		content: "\e92a";
	}
}

.icon-library {
	&:before {
		content: "\e92b";
	}
}

.icon-link {
	&:before {
		content: "\e92c";
	}
}

.icon-log-out {
	&:before {
		content: "\e92d";
	}
}

.icon-map {
	&:before {
		content: "\e92e";
	}
}

.icon-map-pin {
	&:before {
		content: "\e92f";
	}
}

.icon-map-pin-sm {
	&:before {
		content: "\e930";
	}
}

.icon-members {
	&:before {
		content: "\e931";
	}
}

.icon-message {
	&:before {
		content: "\e932";
	}
}

.icon-minus {
	&:before {
		content: "\e933";
	}
}

.icon-paper-clip {
	&:before {
		content: "\e934";
	}
}

.icon-parent-child {
	&:before {
		content: "\e935";
	}
}

.icon-parents {
	&:before {
		content: "\e936";
	}
}

.icon-phone {
	&:before {
		content: "\e937";
	}
}

.icon-pie {
	&:before {
		content: "\e938";
	}
}

.icon-pie-chart {
	&:before {
		content: "\e939";
	}
}

.icon-play {
	&:before {
		content: "\e93a";
	}
}

.icon-play-bg {
	&:before {
		content: "\e93b";
	}
}

.icon-plus {
	&:before {
		content: "\e93c";
	}
}

.icon-poll {
	&:before {
		content: "\e93d";
	}
}

.icon-practice-card {
	&:before {
		content: "\e93e";
	}
}

.icon-printer {
	&:before {
		content: "\e93f";
	}
}

.icon-questions {
	&:before {
		content: "\e940";
	}
}

.icon-reply {
	&:before {
		content: "\e941";
	}
}

.icon-school {
	&:before {
		content: "\e942";
	}
}

.icon-search {
	&:before {
		content: "\e943";
	}
}

.icon-share {
	&:before {
		content: "\e944";
	}
}

.icon-show {
	&:before {
		content: "\e945";
	}
}

.icon-sliders {
	&:before {
		content: "\e946";
	}
}

.icon-smartphone {
	&:before {
		content: "\e947";
	}
}

.icon-student {
	&:before {
		content: "\e948";
	}
}

.icon-swap {
	&:before {
		content: "\e949";
	}
}

.icon-tachometer {
	&:before {
		content: "\e94a";
	}
}

.icon-target {
	&:before {
		content: "\e94b";
	}
}

.icon-teacher {
	&:before {
		content: "\e94c";
	}
}

.icon-teacher-class {
	&:before {
		content: "\e94d";
	}
}

.icon-thumbs-up {
	&:before {
		content: "\e94e";
	}
}

.icon-timer {
	&:before {
		content: "\e94f";
	}
}

.icon-trending-down {
	&:before {
		content: "\e950";
	}
}

.icon-trending-up {
	&:before {
		content: "\e951";
	}
}

.icon-url-link {
	&:before {
		content: "\e952";
	}
}

.icon-user-circle {
	&:before {
		content: "\e953";
	}
}

.icon-user-fill {
	&:before {
		content: "\e954";
	}
}

.icon-user-outline {
	&:before {
		content: "\e955";
	}
}

.icon-user-plus {
	&:before {
		content: "\e956";
	}
}

.icon-video-card {
	&:before {
		content: "\e957";
	}
}