@font-face {
    font-family: 'Noto Sans';
    src: local(NotoSans-Regular);
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Questrial';
    src: local(Questrial-Regular);
    src: url('../fonts/Questrial.otf') format('opentype');
}

body {
    font-family: Noto Sans;
}

.font-normal {font-style: normal !important}
.font-italics {font-style: italic !important}
.font-oblique {font-style: oblique !important}