@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?toq5q8');
	src: url('../fonts/icomoon.eot?toq5q8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?toq5q8') format('truetype'),
    url('../fonts/icomoon.woff?toq5q8') format('woff'),
    url('../fonts/icomoon.svg?toq5q8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-coin {
	.path1 {
		&:before {
			content: "\e900";
			color: rgb(255, 217, 73);
		}
	}
	.path2 {
		&:before {
			content: "\e901";
			margin-left: -1em;
			color: rgb(244, 191, 26);
		}
	}
	.path3 {
		&:before {
			content: "\e902";
			margin-left: -1em;
			color: rgb(244, 191, 26);
		}
	}
	.path4 {
		&:before {
			content: "\e903";
			margin-left: -1em;
			color: rgb(220, 168, 21);
		}
	}
	.path5 {
		&:before {
			content: "\e904";
			margin-left: -1em;
			color: rgb(220, 168, 21);
		}
	}
	.path6 {
		&:before {
			content: "\e905";
			margin-left: -1em;
			color: rgb(220, 168, 21);
		}
	}
	.path7 {
		&:before {
			content: "\e906";
			margin-left: -1em;
			color: rgb(220, 168, 21);
		}
	}
	.path8 {
		&:before {
			content: "\e907";
			margin-left: -1em;
			color: rgb(220, 168, 21);
		}
	}
	.path9 {
		&:before {
			content: "\e908";
			margin-left: -1em;
			color: rgb(220, 168, 21);
		}
	}
	.path10 {
		&:before {
			content: "\e909";
			margin-left: -1em;
			color: rgb(220, 168, 21);
		}
	}
	.path11 {
		&:before {
			content: "\e90a";
			margin-left: -1em;
			color: rgb(220, 168, 21);
		}
	}
	.path12 {
		&:before {
			content: "\e90b";
			margin-left: -1em;
			color: rgb(220, 168, 21);
		}
	}
	.path13 {
		&:before {
			content: "\e90c";
			margin-left: -1em;
			color: rgb(220, 168, 21);
		}
	}
}
.icon-coin-pile {
	.path1 {
		&:before {
			content: "\e90d";
			color: rgb(252, 164, 11);
		}
	}
	.path2 {
		&:before {
			content: "\e90e";
			margin-left: -1em;
			color: rgb(252, 207, 35);
		}
	}
	.path3 {
		&:before {
			content: "\e90f";
			margin-left: -1em;
			color: rgb(252, 164, 11);
		}
	}
	.path4 {
		&:before {
			content: "\e910";
			margin-left: -1em;
			color: rgb(252, 207, 35);
		}
	}
	.path5 {
		&:before {
			content: "\e911";
			margin-left: -1em;
			color: rgb(252, 164, 11);
		}
	}
	.path6 {
		&:before {
			content: "\e912";
			margin-left: -1em;
			color: rgb(252, 207, 35);
		}
	}
}
.icon-credit-card {
	.path1 {
		&:before {
			content: "\e913";
			color: rgb(149, 149, 149);
		}
	}
	.path2 {
		&:before {
			content: "\e914";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path3 {
		&:before {
			content: "\e915";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path4 {
		&:before {
			content: "\e916";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path5 {
		&:before {
			content: "\e917";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path6 {
		&:before {
			content: "\e918";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path7 {
		&:before {
			content: "\e919";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path8 {
		&:before {
			content: "\e91a";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path9 {
		&:before {
			content: "\e91b";
			margin-left: -1em;
			color: rgb(213, 213, 213);
		}
	}
	.path10 {
		&:before {
			content: "\e91c";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path11 {
		&:before {
			content: "\e91d";
			margin-left: -1em;
			color: rgb(117, 117, 117);
		}
	}
	.path12 {
		&:before {
			content: "\e91e";
			margin-left: -1em;
			color: rgb(117, 117, 117);
		}
	}
	.path13 {
		&:before {
			content: "\e91f";
			margin-left: -1em;
			color: rgb(117, 117, 117);
		}
	}
	.path14 {
		&:before {
			content: "\e920";
			margin-left: -1em;
			color: rgb(117, 117, 117);
		}
	}
}
.icon-flame {
	.path1 {
		&:before {
			content: "\e921";
			color: rgb(243, 112, 90);
		}
	}
	.path2 {
		&:before {
			content: "\e922";
			margin-left: -1em;
			color: rgb(255, 209, 92);
		}
	}
}
.icon-girl-child {
	.path1 {
		&:before {
			content: "\e923";
			color: rgb(67, 41, 30);
		}
	}
	.path2 {
		&:before {
			content: "\e924";
			margin-left: -1em;
			color: rgb(67, 41, 30);
		}
	}
	.path3 {
		&:before {
			content: "\e925";
			margin-left: -1em;
			color: rgb(67, 41, 30);
		}
	}
	.path4 {
		&:before {
			content: "\e926";
			margin-left: -1em;
			color: rgb(214, 160, 121);
		}
	}
	.path5 {
		&:before {
			content: "\e927";
			margin-left: -1em;
			color: rgb(42, 79, 119);
		}
	}
	.path6 {
		&:before {
			content: "\e928";
			margin-left: -1em;
			color: rgb(202, 148, 109);
		}
	}
	.path7 {
		&:before {
			content: "\e929";
			margin-left: -1em;
			color: rgb(214, 160, 121);
		}
	}
	.path8 {
		&:before {
			content: "\e92a";
			margin-left: -1em;
			color: rgb(245, 245, 245);
		}
	}
	.path9 {
		&:before {
			content: "\e92b";
			margin-left: -1em;
			color: rgb(245, 245, 245);
		}
	}
	.path10 {
		&:before {
			content: "\e92c";
			margin-left: -1em;
			color: rgb(255, 209, 100);
		}
	}
	.path11 {
		&:before {
			content: "\e92d";
			margin-left: -1em;
			color: rgb(255, 209, 100);
		}
	}
	.path12 {
		&:before {
			content: "\e92e";
			margin-left: -1em;
			color: rgb(98, 63, 51);
		}
	}
	.path13 {
		&:before {
			content: "\e92f";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path14 {
		&:before {
			content: "\e930";
			margin-left: -1em;
			color: rgb(8, 56, 77);
		}
	}
	.path15 {
		&:before {
			content: "\e931";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
}
.icon-idea-high {
	.path1 {
		&:before {
			content: "\e932";
			color: rgb(252, 207, 35);
		}
	}
	.path2 {
		&:before {
			content: "\e933";
			margin-left: -1em;
			color: rgb(17, 189, 207);
		}
	}
	.path3 {
		&:before {
			content: "\e934";
			margin-left: -1em;
			color: rgb(17, 189, 207);
		}
	}
	.path4 {
		&:before {
			content: "\e935";
			margin-left: -1em;
			color: rgb(252, 164, 11);
		}
	}
	.path5 {
		&:before {
			content: "\e936";
			margin-left: -1em;
			color: rgb(252, 164, 11);
		}
	}
	.path6 {
		&:before {
			content: "\e937";
			margin-left: -1em;
			color: rgb(252, 164, 11);
		}
	}
	.path7 {
		&:before {
			content: "\e938";
			margin-left: -1em;
			color: rgb(252, 164, 11);
		}
	}
	.path8 {
		&:before {
			content: "\e939";
			margin-left: -1em;
			color: rgb(252, 164, 11);
		}
	}
	.path9 {
		&:before {
			content: "\e93a";
			margin-left: -1em;
			color: rgb(252, 164, 11);
		}
	}
	.path10 {
		&:before {
			content: "\e93b";
			margin-left: -1em;
			color: rgb(252, 164, 11);
		}
	}
	.path11 {
		&:before {
			content: "\e93c";
			margin-left: -1em;
			color: rgb(231, 248, 252);
		}
	}
	.path12 {
		&:before {
			content: "\e93d";
			margin-left: -1em;
			color: rgb(186, 233, 249);
		}
	}
}
.icon-idea-low {
	.path1 {
		&:before {
			content: "\e93e";
			color: rgb(213, 213, 213);
		}
	}
	.path2 {
		&:before {
			content: "\e93f";
			margin-left: -1em;
			color: rgb(117, 117, 117);
		}
	}
	.path3 {
		&:before {
			content: "\e940";
			margin-left: -1em;
			color: rgb(117, 117, 117);
		}
	}
	.path4 {
		&:before {
			content: "\e941";
			margin-left: -1em;
			color: rgb(85, 85, 85);
		}
	}
	.path5 {
		&:before {
			content: "\e942";
			margin-left: -1em;
			color: rgb(85, 85, 85);
		}
	}
	.path6 {
		&:before {
			content: "\e943";
			margin-left: -1em;
			color: rgb(85, 85, 85);
		}
	}
	.path7 {
		&:before {
			content: "\e944";
			margin-left: -1em;
			color: rgb(85, 85, 85);
		}
	}
	.path8 {
		&:before {
			content: "\e945";
			margin-left: -1em;
			color: rgb(85, 85, 85);
		}
	}
	.path9 {
		&:before {
			content: "\e946";
			margin-left: -1em;
			color: rgb(85, 85, 85);
		}
	}
	.path10 {
		&:before {
			content: "\e947";
			margin-left: -1em;
			color: rgb(85, 85, 85);
		}
	}
	.path11 {
		&:before {
			content: "\e948";
			margin-left: -1em;
			color: rgb(231, 248, 252);
		}
	}
	.path12 {
		&:before {
			content: "\e949";
			margin-left: -1em;
			color: rgb(186, 233, 249);
		}
	}
}
.icon-invitation {
	.path1 {
		&:before {
			content: "\e94a";
			color: rgb(255, 255, 255);
		}
	}
	.path2 {
		&:before {
			content: "\e94b";
			margin-left: -1em;
			color: rgb(17, 189, 207);
		}
	}
	.path3 {
		&:before {
			content: "\e94c";
			margin-left: -1em;
			color: rgb(17, 189, 207);
		}
	}
	.path4 {
		&:before {
			content: "\e94d";
			margin-left: -1em;
			color: rgb(17, 189, 207);
		}
	}
	.path5 {
		&:before {
			content: "\e94e";
			margin-left: -1em;
			color: rgb(17, 189, 207);
		}
	}
	.path6 {
		&:before {
			content: "\e94f";
			margin-left: -1em;
			color: rgb(250, 160, 23);
		}
	}
	.path7 {
		&:before {
			content: "\e950";
			margin-left: -1em;
			color: rgb(250, 160, 23);
		}
	}
	.path8 {
		&:before {
			content: "\e951";
			margin-left: -1em;
			color: rgb(246, 81, 91);
		}
	}
	.path9 {
		&:before {
			content: "\e952";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path10 {
		&:before {
			content: "\e953";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
}
.icon-ninja {
	.path1 {
		&:before {
			content: "\e954";
			color: rgb(0, 0, 0);
		}
	}
	.path2 {
		&:before {
			content: "\e955";
			margin-left: -1em;
			color: rgb(17, 50, 85);
			opacity: 0.2;
		}
	}
	.path3 {
		&:before {
			content: "\e956";
			margin-left: -1em;
			color: rgb(255, 255, 255);
			opacity: 0.3;
		}
	}
	.path4 {
		&:before {
			content: "\e957";
			margin-left: -1em;
			color: rgb(246, 81, 91);
		}
	}
	.path5 {
		&:before {
			content: "\e958";
			margin-left: -1em;
			color: rgb(17, 50, 85);
			opacity: 0.15;
		}
	}
	.path6 {
		&:before {
			content: "\e959";
			margin-left: -1em;
			color: rgb(246, 81, 91);
		}
	}
	.path7 {
		&:before {
			content: "\e95a";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path8 {
		&:before {
			content: "\e95b";
			margin-left: -1em;
			color: rgb(17, 50, 85);
			opacity: 0.3;
		}
	}
	.path9 {
		&:before {
			content: "\e95c";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path10 {
		&:before {
			content: "\e95d";
			margin-left: -1em;
			color: rgb(17, 50, 85);
			opacity: 0.3;
		}
	}
	.path11 {
		&:before {
			content: "\e95e";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path12 {
		&:before {
			content: "\e95f";
			margin-left: -1em;
			color: rgb(17, 50, 85);
			opacity: 0.15;
		}
	}
	.path13 {
		&:before {
			content: "\e960";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path14 {
		&:before {
			content: "\e961";
			margin-left: -1em;
			color: rgb(194, 161, 142);
		}
	}
	.path15 {
		&:before {
			content: "\e962";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path16 {
		&:before {
			content: "\e963";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path17 {
		&:before {
			content: "\e964";
			margin-left: -1em;
			color: rgb(246, 81, 91);
		}
	}
	.path18 {
		&:before {
			content: "\e965";
			margin-left: -1em;
			color: rgb(246, 81, 91);
		}
	}
	.path19 {
		&:before {
			content: "\e966";
			margin-left: -1em;
			color: rgb(255, 255, 255);
			opacity: 0.1;
		}
	}
	.path20 {
		&:before {
			content: "\e967";
			margin-left: -1em;
			color: rgb(246, 81, 91);
		}
	}
}
.icon-parent-colored {
	.path1 {
		&:before {
			content: "\e968";
			color: rgb(42, 79, 119);
		}
	}
	.path2 {
		&:before {
			content: "\e969";
			margin-left: -1em;
			color: rgb(250, 208, 152);
		}
	}
	.path3 {
		&:before {
			content: "\e96a";
			margin-left: -1em;
			color: rgb(215, 175, 125);
		}
	}
	.path4 {
		&:before {
			content: "\e96b";
			margin-left: -1em;
			color: rgb(255, 225, 180);
		}
	}
	.path5 {
		&:before {
			content: "\e96c";
			margin-left: -1em;
			color: rgb(250, 208, 152);
		}
	}
	.path6 {
		&:before {
			content: "\e96d";
			margin-left: -1em;
			color: rgb(215, 175, 125);
		}
	}
	.path7 {
		&:before {
			content: "\e96e";
			margin-left: -1em;
			color: rgb(100, 70, 60);
		}
	}
	.path8 {
		&:before {
			content: "\e96f";
			margin-left: -1em;
			color: rgb(100, 70, 60);
		}
	}
	.path9 {
		&:before {
			content: "\e970";
			margin-left: -1em;
			color: rgb(53, 53, 53);
		}
	}
	.path10 {
		&:before {
			content: "\e971";
			margin-left: -1em;
			color: rgb(8, 56, 77);
		}
	}
	.path11 {
		&:before {
			content: "\e972";
			margin-left: -1em;
			color: rgb(8, 56, 77);
		}
	}
	.path12 {
		&:before {
			content: "\e973";
			margin-left: -1em;
			color: rgb(0, 0, 0);
		}
	}
	.path13 {
		&:before {
			content: "\e974";
			margin-left: -1em;
			color: rgb(149, 149, 149);
		}
	}
	.path14 {
		&:before {
			content: "\e975";
			margin-left: -1em;
			color: rgb(149, 149, 149);
		}
	}
	.path15 {
		&:before {
			content: "\e976";
			margin-left: -1em;
			color: rgb(149, 149, 149);
		}
	}
	.path16 {
		&:before {
			content: "\e977";
			margin-left: -1em;
			color: rgb(8, 56, 77);
		}
	}
	.path17 {
		&:before {
			content: "\e978";
			margin-left: -1em;
			color: rgb(53, 53, 53);
		}
	}
	.path18 {
		&:before {
			content: "\e979";
			margin-left: -1em;
			color: rgb(0, 0, 0);
		}
	}
	.path19 {
		&:before {
			content: "\e97a";
			margin-left: -1em;
			color: rgb(230, 175, 120);
		}
	}
	.path20 {
		&:before {
			content: "\e97b";
			margin-left: -1em;
			color: rgb(210, 155, 110);
		}
	}
	.path21 {
		&:before {
			content: "\e97c";
			margin-left: -1em;
			color: rgb(210, 155, 110);
		}
	}
	.path22 {
		&:before {
			content: "\e97d";
			margin-left: -1em;
			color: rgb(247, 183, 59);
		}
	}
	.path23 {
		&:before {
			content: "\e97e";
			margin-left: -1em;
			color: rgb(210, 155, 110);
		}
	}
	.path24 {
		&:before {
			content: "\e97f";
			margin-left: -1em;
			color: rgb(240, 192, 135);
		}
	}
	.path25 {
		&:before {
			content: "\e980";
			margin-left: -1em;
			color: rgb(230, 175, 120);
		}
	}
	.path26 {
		&:before {
			content: "\e981";
			margin-left: -1em;
			color: rgb(210, 155, 110);
		}
	}
	.path27 {
		&:before {
			content: "\e982";
			margin-left: -1em;
			color: rgb(100, 70, 60);
		}
	}
	.path28 {
		&:before {
			content: "\e983";
			margin-left: -1em;
			color: rgb(100, 70, 60);
		}
	}
	.path29 {
		&:before {
			content: "\e984";
			margin-left: -1em;
			color: rgb(242, 171, 62);
		}
	}
	.path30 {
		&:before {
			content: "\e985";
			margin-left: -1em;
			color: rgb(242, 171, 62);
		}
	}
	.path31 {
		&:before {
			content: "\e986";
			margin-left: -1em;
			color: rgb(53, 53, 53);
		}
	}
	.path32 {
		&:before {
			content: "\e987";
			margin-left: -1em;
			color: rgb(53, 53, 53);
		}
	}
}
.icon-shield {
	.path1 {
		&:before {
			content: "\e988";
			color: rgb(249, 80, 80);
		}
	}
	.path2 {
		&:before {
			content: "\e989";
			margin-left: -1em;
			color: rgb(226, 232, 237);
		}
	}
	.path3 {
		&:before {
			content: "\e98a";
			margin-left: -1em;
			color: rgb(249, 204, 78);
		}
	}
	.path4 {
		&:before {
			content: "\e98b";
			margin-left: -1em;
			color: rgb(249, 204, 78);
		}
	}
}
.icon-university {
	.path1 {
		&:before {
			content: "\e98c";
			color: rgb(250, 160, 23);
		}
	}
	.path2 {
		&:before {
			content: "\e98d";
			margin-left: -1em;
			color: rgb(229, 229, 229);
		}
	}
	.path3 {
		&:before {
			content: "\e98e";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path4 {
		&:before {
			content: "\e98f";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path5 {
		&:before {
			content: "\e990";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path6 {
		&:before {
			content: "\e991";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path7 {
		&:before {
			content: "\e992";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path8 {
		&:before {
			content: "\e993";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path9 {
		&:before {
			content: "\e994";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path10 {
		&:before {
			content: "\e995";
			margin-left: -1em;
			color: rgb(246, 81, 91);
		}
	}
	.path11 {
		&:before {
			content: "\e996";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path12 {
		&:before {
			content: "\e997";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path13 {
		&:before {
			content: "\e998";
			margin-left: -1em;
			color: rgb(255, 255, 255);
		}
	}
	.path14 {
		&:before {
			content: "\e999";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path15 {
		&:before {
			content: "\e99a";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path16 {
		&:before {
			content: "\e99b";
			margin-left: -1em;
			color: rgb(17, 189, 207);
		}
	}
	.path17 {
		&:before {
			content: "\e99c";
			margin-left: -1em;
			color: rgb(17, 189, 207);
		}
	}
	.path18 {
		&:before {
			content: "\e99d";
			margin-left: -1em;
			color: rgb(17, 189, 207);
		}
	}
	.path19 {
		&:before {
			content: "\e99e";
			margin-left: -1em;
			color: rgb(17, 189, 207);
		}
	}
	.path20 {
		&:before {
			content: "\e99f";
			margin-left: -1em;
			color: rgb(17, 189, 207);
		}
	}
	.path21 {
		&:before {
			content: "\e9a0";
			margin-left: -1em;
			color: rgb(17, 189, 207);
		}
	}
	.path22 {
		&:before {
			content: "\e9a1";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path23 {
		&:before {
			content: "\e9a2";
			margin-left: -1em;
			color: rgb(229, 229, 229);
		}
	}
	.path24 {
		&:before {
			content: "\e9a3";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path25 {
		&:before {
			content: "\e9a4";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path26 {
		&:before {
			content: "\e9a5";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path27 {
		&:before {
			content: "\e9a6";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path28 {
		&:before {
			content: "\e9a7";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path29 {
		&:before {
			content: "\e9a8";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path30 {
		&:before {
			content: "\e9a9";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path31 {
		&:before {
			content: "\e9aa";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
	.path32 {
		&:before {
			content: "\e9ab";
			margin-left: -1em;
			color: rgb(17, 50, 85);
		}
	}
}
.icon-cloud-download {
	&:before {
		content: "\e9d4";
	}
}
.icon-college {
	&:before {
		content: "\ea3a";
	}
}
.icon-caret-up {
	&:before {
		content: "\ea39";
	}
}
.icon-timeline {
	&:before {
		content: "\ea38";
	}
}
.icon-files {
	&:before {
		content: "\ea37";
	}
}
.icon-accept {
	&:before {
		content: "\e9ac";
	}
}
.icon-add-group {
	&:before {
		content: "\e9ad";
	}
}
.icon-alarm {
	&:before {
		content: "\e9ae";
	}
}
.icon-alert-circle {
	&:before {
		content: "\e9af";
	}
}
.icon-align-justify {
	&:before {
		content: "\e9b0";
	}
}
.icon-angle-left {
	&:before {
		content: "\e9b1";
	}
}
.icon-announcement-speaker {
	&:before {
		content: "\e9b2";
	}
}
.icon-arrow-left {
	&:before {
		content: "\e9b3";
	}
}
.icon-arrow-right {
	&:before {
		content: "\e9b4";
	}
}
.icon-assessment {
	&:before {
		content: "\e9b5";
	}
}
.icon-bar-chart {
	&:before {
		content: "\e9b6";
	}
}
.icon-bar-highest {
	&:before {
		content: "\e9b7";
	}
}
.icon-bar-lowest {
	&:before {
		content: "\e9b8";
	}
}
.icon-bell {
	&:before {
		content: "\e9b9";
	}
}
.icon-book {
	&:before {
		content: "\e9ba";
	}
}
.icon-book-cover {
	&:before {
		content: "\e9bb";
	}
}
.icon-briefcase {
	&:before {
		content: "\e9bc";
	}
}
.icon-calendar {
	&:before {
		content: "\e9bd";
	}
}
.icon-callout {
	&:before {
		content: "\e9be";
	}
}
.icon-camera {
	&:before {
		content: "\e9bf";
	}
}
.icon-caret-down {
	&:before {
		content: "\e9c0";
	}
}
.icon-caret-fill-down {
	&:before {
		content: "\e9c1";
	}
}
.icon-caret-fill-left {
	&:before {
		content: "\e9c2";
	}
}
.icon-caret-fill-right {
	&:before {
		content: "\e9c3";
	}
}
.icon-caret-fill-up {
	&:before {
		content: "\e9c4";
	}
}
.icon-caret-left {
	&:before {
		content: "\e9c5";
	}
}
.icon-caret-right {
	&:before {
		content: "\e9c6";
	}
}
.icon-chat {
	&:before {
		content: "\e9c7";
	}
}
.icon-chat-card {
	&:before {
		content: "\e9c8";
	}
}
.icon-classboard {
	&:before {
		content: "\e9c9";
	}
}
.icon-clock {
	&:before {
		content: "\e9ca";
	}
}
.icon-close {
	&:before {
		content: "\e9cb";
	}
}
.icon-commentary {
	&:before {
		content: "\e9cc";
	}
}
.icon-comment-chat {
	&:before {
		content: "\e9cd";
	}
}
.icon-copy {
	&:before {
		content: "\e9ce";
	}
}
.icon-credit-card1 {
	&:before {
		content: "\e9cf";
	}
}
.icon-curriculum {
	&:before {
		content: "\e9d0";
	}
}
.icon-decline {
	&:before {
		content: "\e9d1";
	}
}
.icon-discount {
	&:before {
		content: "\e9d2";
	}
}
.icon-discussion {
	&:before {
		content: "\e9d3";
	}
}
.icon-ellipsis-h {
	&:before {
		content: "\e9d5";
	}
}
.icon-email {
	&:before {
		content: "\e9d6";
	}
}
.icon-end-call {
	&:before {
		content: "\e9d7";
	}
}
.icon-error-report {
	&:before {
		content: "\e9d8";
	}
}
.icon-event-cancel {
	&:before {
		content: "\e9d9";
	}
}
.icon-external-link {
	&:before {
		content: "\e9da";
	}
}
.icon-eye {
	&:before {
		content: "\e9db";
	}
}
.icon-facebook {
	&:before {
		content: "\e9dc";
	}
}
.icon-feeds {
	&:before {
		content: "\e9dd";
	}
}
.icon-file {
	&:before {
		content: "\e9de";
	}
}
.icon-file-text {
	&:before {
		content: "\e9df";
	}
}
.icon-filter-icon {
	&:before {
		content: "\e9e0";
	}
}
.icon-flag {
	&:before {
		content: "\e9e1";
	}
}
.icon-folder {
	&:before {
		content: "\e9e2";
	}
}
.icon-gear {
	&:before {
		content: "\e9e3";
	}
}
.icon-gear-fill {
	&:before {
		content: "\e9e4";
	}
}
.icon-google {
	&:before {
		content: "\e9e5";
	}
}
.icon-graduation-cap {
	&:before {
		content: "\e9e6";
	}
}
.icon-help-circle {
	&:before {
		content: "\e9e7";
	}
}
.icon-hide {
	&:before {
		content: "\e9e8";
	}
}
.icon-image {
	&:before {
		content: "\e9e9";
	}
}
.icon-inbox {
	&:before {
		content: "\e9ea";
	}
}
.icon-info {
	&:before {
		content: "\e9eb";
	}
}
.icon-instagram {
	&:before {
		content: "\e9ec";
	}
}
.icon-library {
	&:before {
		content: "\e9ed";
	}
}
.icon-link {
	&:before {
		content: "\e9ee";
	}
}
.icon-linkedin {
	&:before {
		content: "\e9ef";
	}
}
.icon-lock {
	&:before {
		content: "\e9f0";
	}
}
.icon-log-out {
	&:before {
		content: "\e9f1";
	}
}
.icon-map {
	&:before {
		content: "\e9f2";
	}
}
.icon-map-pin {
	&:before {
		content: "\e9f3";
	}
}
.icon-map-pin-sm {
	&:before {
		content: "\e9f4";
	}
}
.icon-maximize {
	&:before {
		content: "\e9f5";
	}
}
.icon-members {
	&:before {
		content: "\e9f6";
	}
}
.icon-message {
	&:before {
		content: "\e9f7";
	}
}
.icon-mic-off {
	&:before {
		content: "\e9f8";
	}
}
.icon-mic-on {
	&:before {
		content: "\e9f9";
	}
}
.icon-minus {
	&:before {
		content: "\e9fa";
	}
}
.icon-music-note {
	&:before {
		content: "\e9fb";
	}
}
.icon-note-text {
	&:before {
		content: "\e9fc";
	}
}
.icon-notification-fill {
	&:before {
		content: "\e9fd";
	}
}
.icon-options {
	&:before {
		content: "\e9fe";
	}
}
.icon-paper-clip {
	&:before {
		content: "\e9ff";
	}
}
.icon-paper-plane {
	&:before {
		content: "\ea00";
	}
}
.icon-paper-plane-angle {
	&:before {
		content: "\ea01";
	}
}
.icon-parent-child {
	&:before {
		content: "\ea02";
	}
}
.icon-parents {
	&:before {
		content: "\ea03";
	}
}
.icon-pause {
	&:before {
		content: "\ea04";
	}
}
.icon-pause-no-fill {
	&:before {
		content: "\ea05";
	}
}
.icon-phone {
	&:before {
		content: "\ea06";
	}
}
.icon-pie {
	&:before {
		content: "\ea07";
	}
}
.icon-pie-chart {
	&:before {
		content: "\ea08";
	}
}
.icon-play {
	&:before {
		content: "\ea09";
	}
}
.icon-play-bg {
	&:before {
		content: "\ea0a";
	}
}
.icon-plus {
	&:before {
		content: "\ea0b";
	}
}
.icon-poll {
	&:before {
		content: "\ea0c";
	}
}
.icon-practice-card {
	&:before {
		content: "\ea0d";
	}
}
.icon-printer {
	&:before {
		content: "\ea0e";
	}
}
.icon-questions {
	&:before {
		content: "\ea0f";
	}
}
.icon-reply {
	&:before {
		content: "\ea10";
	}
}
.icon-school {
	&:before {
		content: "\ea11";
	}
}
.icon-search {
	&:before {
		content: "\ea12";
	}
}
.icon-share {
	&:before {
		content: "\ea13";
	}
}
.icon-share-screen {
	&:before {
		content: "\ea14";
	}
}
.icon-shield-ok {
	&:before {
		content: "\ea15";
	}
}
.icon-show {
	&:before {
		content: "\ea16";
	}
}
.icon-sliders {
	&:before {
		content: "\ea17";
	}
}
.icon-smartphone {
	&:before {
		content: "\ea18";
	}
}
.icon-sound {
	&:before {
		content: "\ea19";
	}
}
.icon-speaker-notes {
	&:before {
		content: "\ea1a";
	}
}
.icon-star-full {
	&:before {
		content: "\ea1b";
	}
}
.icon-student {
	&:before {
		content: "\ea1c";
	}
}
.icon-swap {
	&:before {
		content: "\ea1d";
	}
}
.icon-tachometer {
	&:before {
		content: "\ea1e";
	}
}
.icon-target {
	&:before {
		content: "\ea1f";
	}
}
.icon-teacher {
	&:before {
		content: "\ea20";
	}
}
.icon-teacher-class {
	&:before {
		content: "\ea21";
	}
}
.icon-thrash {
	&:before {
		content: "\ea22";
	}
}
.icon-thumbs-down {
	&:before {
		content: "\ea23";
	}
}
.icon-thumbs-up {
	&:before {
		content: "\ea24";
	}
}
.icon-timer {
	&:before {
		content: "\ea25";
	}
}
.icon-trending-down {
	&:before {
		content: "\ea26";
	}
}
.icon-trending-up {
	&:before {
		content: "\ea27";
	}
}
.icon-twitter {
	&:before {
		content: "\ea28";
	}
}
.icon-upload {
	&:before {
		content: "\ea29";
	}
}
.icon-url-link {
	&:before {
		content: "\ea2a";
	}
}
.icon-user-circle {
	&:before {
		content: "\ea2b";
	}
}
.icon-user-fill {
	&:before {
		content: "\ea2c";
	}
}
.icon-user-outline {
	&:before {
		content: "\ea2d";
	}
}
.icon-user-plus {
	&:before {
		content: "\ea2e";
	}
}
.icon-verified-user {
	&:before {
		content: "\ea2f";
	}
}
.icon-videocam {
	&:before {
		content: "\ea30";
	}
}
.icon-video-card {
	&:before {
		content: "\ea31";
	}
}
.icon-video-off {
	&:before {
		content: "\ea32";
	}
}
.icon-video-on {
	&:before {
		content: "\ea33";
	}
}
.icon-watch {
	&:before {
		content: "\ea34";
	}
}
.icon-youtube {
	&:before {
		content: "\ea35";
	}
}
.icon-zoom-in {
	&:before {
		content: "\ea36";
	}
}
