// PLACEHOLDER
%modal-styling {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-bottom: 40px;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: auto;
    z-index: 3000;
    transition: top .5s ease-in-out;
    animation: panel-slide-down .6s ease-in-out forwards;
}

.modal-overlay {
    position: fixed;
    @include section_stretch();
    overflow: auto !important;
    z-index: 2000;
    background-color: rgba($brand_black, .9);
    transition: all .5s ease-in-out;

    .modal-box {
        @extend %modal-styling;
        padding: 20px 0;
        padding-top: 30px;

        .modal-title {
            font-size: 16px;
            line-height: 22px;
            font-weight: bold;
            text-transform: uppercase;
            color: $color_text;
        }

        .modal-body {
            width: 100%;
            height: auto;
            margin-top: 20px;
            margin-bottom: 5px;
            padding-left: 22px;
            padding-right: 22px;

            .modal-body-row {
                position: relative;
                margin-bottom: 35px;

                .label-compact {
                   @include label_compact;
                }
            }
        }
    }

    .modal-cover {
        @extend %modal-styling;
        top: 70px;
        overflow: hidden;

        .modal-cover-body {
            position: relative;
            width: 100%;
            height: auto;
            overflow-y: auto;
            overflow-x: hidden;

            @include breakpoint_max(md) {
                .pageClose {
                    top: 30px;
                    right: 30px;
                }
            }

            @include breakpoint_max(sm) {
                .pageClose {
                    top: 27px;
                }
            }
        }
    }

    @keyframes animateTop {
        from{top:-300px; opacity: 0}
        to{top: 50px; opacity: 1}
    }

    .modal-sm-md {
        width: 38%;

        @include breakpoint_max(xl) {
            width: 45%;
        }

        @include breakpoint_max(lg) {
            width: 50%;
        }

        @include breakpoint_max(md) {
            width: 84%;
        }

        @include breakpoint_max(sm) {
            width: 95%;
        }
    }

    .modal-md {
        width: 50%;

        @include breakpoint_max(xl) {
            width: 62%;
        }

        @include breakpoint_max(lg) {
            width: 65%;
        }

        @include breakpoint_max(md) {
            width: 85%;
        }

        @include breakpoint_max(sm) {
            width: 97%;
        }
    }
    
}

// MODAL COVER OVELAY BACKGROUND
.modal-cover-overlay {
    background-color: rgba($brand_black, .7);
}