// PLACEHOLDER
%modal-styling {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-bottom: 40px;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: auto;
    z-index: 3000;
    transition: top .5s ease-in-out;
    animation: panel-slide-down .6s ease-in-out forwards;
}

.modal-overlay {
    position: fixed;
    @include section_stretch();
    overflow: auto !important;
    z-index: 2000;
    background-color: rgba($brand_black, .9);
    transition: all .5s ease-in-out;

    .modal-box {
        @extend %modal-styling;
        padding: 20px 10px;
        padding-top: 35px;

        .modal-title {
            font-size: 16px;
            line-height: 22px;
            font-weight: bold;
            text-transform: uppercase;
            color: $color_text;

            @include breakpoint_max(md) {
                font-size: 15.5px;
            }

            @include breakpoint_max(sm) {
                font-size: 15px;
            }
        }

        .modal-body {
            width: 100%;
            height: auto;
            margin-top: 20px;
            margin-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;

            .modal-body-row {
                position: relative;
                margin-bottom: 35px;

                .label-compact {
                    @include label_compact;
                }
            }

            .modal-body-top {
                margin-top: -20px;
                overflow-x: hidden;
            }
        }
    }

    .modal-cover {
        @extend %modal-styling;
        top: 70px;
        overflow: hidden;

        .modal-cover-body {
            position: relative;
            width: 100%;
            height: auto;
            overflow-y: auto;
            overflow-x: hidden;

            @include breakpoint_max(md) {
                .pageClose {
                    top: 30px;
                    right: 30px;
                }
            }

            @include breakpoint_max(sm) {
                .pageClose {
                    top: 27px;
                }
            }
        }
    }

    @keyframes animateTop {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 50px;
            opacity: 1
        }
    }

    .modal-sm-md {
        width: 600px;

        @include breakpoint_min_max(450, 650) {
            width: 520px;
        }

        @include breakpoint_max(sm) {
            width: 95%;
        }
    }

    .modal-md {
        width: 660px;

        @include breakpoint_max(md) {
            width: 560px;
        }

        @include breakpoint_max(sm) {
            width: 97%;
        }
    }

}

// MODAL COVER OVELAY BACKGROUND
.modal-cover-overlay {
    background-color: rgba($brand_black, .7);
}