.navbar-section {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);

    .tablet {
        padding-left: 32px !important;
        padding-right: 32px !important;

        @include breakpoint_max(xs) {
            padding-left: 28px !important;
            padding-right: 28px !important;
        }
    }

    .brand-logo {
        padding-top: 13px;
        padding-bottom: 12px;

        img {
            @include custom_min_edge(133, 36);

            @include breakpoint_max(lg) {
                @include custom_min_edge(120, 33);
            }

            @include breakpoint_max(md) {
                @include custom_min_edge(135, 36);
            }

            @include breakpoint_max(xs) {
                @include custom_min_edge(125, 33);
            }
        }
    }

    .nav-items {
        padding-top: 24px;
        padding-bottom: 12px;

        .nav-item {
            position: relative;
            width: auto;
            margin-right: 37.5px;
            padding-left: 5px;
            padding-right: 5px;

            @include breakpoint_max(xl) {
                margin-right: 30px;
            }

            @include breakpoint_max(lg) {
                margin-right: 25px;
            }

            &:last-of-type {
                margin-right: 0;
            }

            a {
                @include flex_row_start_nowrap;
                color: $color_text;
                transition: all .3s ease-in-out;

                .nav-icon {
                    @include equal_min_edge(22);
                    margin-right: 18px;

                    @include breakpoint_max(xl) {
                        @include equal_min_edge(20);
                        margin-right: 16px;
                    }

                    @include breakpoint_max(lg) {
                        @include equal_min_edge(18);
                        margin-right: 14px;
                    }
                }

                span {
                    color: $border_grey_dark;
                    font-size: 22px;
                    margin-right: 18px;
                    transition: all .3s ease-in-out;

                    @include breakpoint_max(xl) {
                        font-size: 20px;
                        margin-right: 16px;
                    }

                    @include breakpoint_max(lg) {
                        font-size: 18px;
                        margin-right: 14px;
                    }
                }

                .nav-text {
                    font-size: 13.5px;
                    line-height: 19px;
                    transition: all .3s ease-in-out;

                    @include breakpoint_max(lg) {
                        font-size: 12.5px;
                    }
                }

                &:hover {
                    position: relative;
                    color: #08384D !important;
                    font-weight: 500;
                    transition: all .3s ease-in-out;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 33px;
                        left: -7.5%;
                        width: 115%;
                        height: 2px;
                        background-color: #11BDCF;
                    }

                    span {
                        color: $brand_inverse;
                    }
                }
            }

            .active {
                position: relative;
                color: #08384D !important;
                font-weight: 500;
                transition: all .3s ease-in-out;

                &:after {
                    content: "";
                    position: absolute;
                    top: 33px;
                    left: -7.5%;
                    width: 115%;
                    height: 2px;
                    background-color: #11BDCF;
                }

                span {
                    color: $brand_inverse;
                }
            }
        }
    }

    .icon {
        position: relative;
        @include equal_min_edge(32);
        padding-top: 14px;
        padding-bottom: 14px;
        margin-right: 30px;
        background-color: $color_white;
        cursor: pointer;

        @include breakpoint_max(xl) {
            @include equal_min_edge(30);
            margin-right: 28px;
        }

        @include breakpoint_max(lg) {
            @include equal_min_edge(28);
            margin-right: 23px;
        }

        @include breakpoint_max(md) {
            @include equal_min_edge(32);
            margin-right: 30px;
        }

        @include breakpoint_max(xs) {
            @include equal_min_edge(28);
            margin-right: 22px;
        }

        span {
            @include transform_center;
            font-size: 20px;
            color: $brand_primary;
            transition: color .3s ease-in-out;
        }

        .badge-circle {
            top: 25%;
            right: 25%;

            @include breakpoint_max(lg) {
                top: 22%;
                right: 22%;
            }
        }

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            span {
                color: darken($brand_accent, 15%);
            }
        }
    }
}

// MOBILE NAVIGATION
.mobile-navigations {
    @include flex_row_between_nowrap;
    position: fixed;
    bottom: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

    .mobile-nav {
        width: 25%;
        height: auto;
        padding-top: 12px;
        padding-bottom: 8px;

        a {
            @include flex_column_center;
            color: $color_text;
            transition: all .3s ease-in-out;

            .nav-icon {
                @include equal_min_edge(22);
                margin-bottom: 7px;

                @include breakpoint_max(sm) {
                    @include equal_min_edge(20);
                }
            }

            span {
                font-size: 22px;
                color: $border_grey_dark;
                transition: all .3s ease-in-out;

                @include breakpoint_max(sm) {
                    font-size: 20px;
                }
            }

            .nav-text {
                font-size: 13px;
                line-height: 19px;

                @include breakpoint_max(sm) {
                    font-size: 12px;
                }
            }

            &:hover {
                color: #08384D !important;
                font-weight: bold;
                transition: all .3s ease-in-out;

                span {
                    color: $brand_inverse;
                }
            }
        }

        .active {
            color: #08384D !important;
            font-weight: bold;
            transition: all .3s ease-in-out;

            span {
                color: $brand_inverse;
            }
        }
    }

}


// SETTINGS MENU SLIDE OUT
.settings-panel {
    position: fixed;
    top: 50px;
    right: 6px;
    width: 320px;
    z-index: 2000;
    transition: all .4s ease-in-out;
    animation: panel-slide-right .45s ease-in-out forwards;

    @include breakpoint_max(lg) {
        width: 300px;
    }

    @include breakpoint_max(md) {
        right: 100%;
        left: 6px;
        animation: panel-slide-left .3s ease-in-out forwards;
    }

    @include breakpoint_max(sm) {
        width: 280px;
    }

    .avatar {
        margin-right: 15px;

        .avatar-text {
            font-size: 16px;

            @include breakpoint_max(lg) {
                font-size: 14px;
            }
        }
    }

    .name {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 4px;
        letter-spacing: 0.02em;

        @include breakpoint_max(lg) {
            font-size: 14px;
        }
    }

    .school {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 10px;

        @include breakpoint_max(lg) {
            font-size: 12px;
        }
    }

    .update-cta {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.02em;

        @include breakpoint_max(lg) {
            font-size: 12px;
        }
    }

    li {
        .icon {
            display: block;
            margin-right: 15.78px;
            font-size: 24px;

            @include breakpoint_max(sm) {
                font-size: 22px;
            }
        }

        .link-text {
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.02em;
            color: $color_ash;

            @include breakpoint_max(lg) {
                font-size: 12px;
            }
        }
    }
}