.onboarding-section {
    position: relative;
    @include section_stretch;
    height: 100%;

    .onboarding-wrapper {
        position: relative;
        height: 100%;
        @include flex_row_center_nowrap;
        align-items: flex-start;

        .setup-container {
            width: 740px;
            margin: 70px auto;

            @include breakpoint_max(md) {
                width: 720px;
            }

            @include breakpoint_max(xs) {
                width: 100%;
            }

            .setup-box {
                overflow: hidden;
                box-shadow: 0px 0px 6px rgba(58, 58, 58, 0.1);

                .setup-top {
                    padding-top: 40px;
                    padding-left: 85px;
                    padding-right: 85px;

                    @include breakpoint_max(xl) {
                        padding-left: 70px;
                        padding-right: 70px;
                    }

                    @include breakpoint_max(lg) {
                        padding-left: 50px;
                        padding-right: 50px;
                    }

                    @include breakpoint_max(md) {
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                }

                .setup-equal-top {
                    padding: 60px 75px !important;

                    @include breakpoint_max(xl) {
                        padding: 60px 70px !important;
                    }

                    @include breakpoint_max(lg) {
                        padding: 50px !important;
                    }

                    @include breakpoint_max(sm) {
                        padding: 30px !important;
                    }
                }

                .setup-bottom {
                    @include flex_row_between_nowrap;
                    background: $brand_inverse_light;
                    padding: 12px 40px;

                    @include breakpoint_max(sm) {
                        .btn {
                            font-size: 10px !important;
                        }
                    }

                    @include breakpoint_max(sm) {
                        padding: 15px 25px;
                    }
                }
            }
        }
    }
}