.settings-container {
    position: relative;
    top: 110px;

    @include breakpoint_max(sm) {
        top: 100px;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    // SETTINGS NAVIGATION
    .settings-navigation {

        .navigation-title {
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            color: #113255;
            margin-bottom: 30px;

            @include breakpoint_max(lg) {
                font-size: 13px;
            }

            @include breakpoint_max(md) {
                margin-bottom: 25px;
            }

        }

        .navigation-menu {
            @include flex_column_start;

            @include breakpoint_max(md) {
                @include flex_row_start_nowrap;
                overflow: auto;
                -ms-overflow-style: none;
                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .side-item {
                margin-bottom: 5px;

                @include breakpoint_max(md) {
                    margin-bottom: 10px;
                }

                a {
                    @include flex_row_start_nowrap;
                    padding: 13px 26.78px;
                    border-radius: 30px;
                    width: 270px;
                    overflow: hidden;
                    transition: all .3s ease-in-out;

                    @include breakpoint_max(lg) {
                        width: 200px;
                        padding: 11px 20px;
                    }

                    @include breakpoint_max(md) {
                        width: auto;
                        padding: 10px 28px;
                        margin-right: 10px;
                    }

                    .cust_icon {
                        margin-right: 15.78px;

                        @include breakpoint_max(lg) {
                            margin-right: 12px;
                            @include equal_min_edge(20);
                        }

                        @include breakpoint_max(md) {
                            margin-right: 13px;
                        }
                    }
                    
                    .icon {
                        display: block;
                        font-size: 25px;
                        color: $border_grey_dark;
                        margin-right: 15.78px;

                        @include breakpoint_max(lg) {
                            margin-right: 12px;
                            font-size: 20px;
                        }

                        @include breakpoint_max(md) {
                            margin-right: 13px;
                        }
                    }

                    .link-title {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 19px;
                        color: #757575;
                        transition: all .3s ease-in-out;

                        @include breakpoint_max(lg) {
                            font-size: 13.5px;
                        }

                        @include breakpoint_max(md) {
                            white-space: nowrap;
                        }

                        @include breakpoint_max(sm) {
                            font-size: 13px;
                        }
                    }

                    &:hover {
                        background: #ffffff;

                        .icon {
                            color: $brand_inverse;
                        }

                        .link-title {
                            font-weight: bold;
                            color: #113255;
                        }
                    }
                }

                .active {
                    background: #ffffff;

                    .icon {
                        color: $brand_inverse;
                    }

                    .link-title {
                        font-weight: bold;
                        color: #113255;
                    }
                }
            }
        }
    }

    // SETTINGS DISPLAY
    .settings-display {
        margin-bottom: 60px;

        @include breakpoint_max(md) {
            margin-top: 25px;
            margin-bottom: 110px;
        }
    }

}